<!-- 17-18 Cal Vet College Fee Waiver Request -->
<p>The Cal Vet exemption covers mandatory system-wide charges assessed by academic programs that receive State support.  For state-supported programs, the specific charges covered by the Cal Vet exemption are Tuition, the Student Services Fee, and Professional Degree Supplemental Tuition.  This exemption does not apply to Self-Supporting Programs.  If you are unsure of the type of Tuition and Fees you are charged please contact your program or the Office of the Registrar.</p>
<p>
  In order to be found eligible for the Cal Vet College Fee Waiver you must apply annually with a County Veteran Service Office.   For information and to apply please visit <a href="https://www.calvet.ca.gov/VetServices/Pages/College-Fee-Waiver.aspx" target="_blank">https://www.calvet.ca.gov/VetServices/Pages/College-Fee-Waiver.aspx</a>.
</p>
