<p>
  I request that my budget be increased for the childcare expenses listed below. The maximum monthly childcare allowance from financial aid is $1,200 for one child and $2,400 for households with two or more children. Approved childcare costs are covered with the Federal Direct Unsubsidized Loan or Federal Direct Graduate PLUS.
</p>
<p>
  By submitting this form I certify the information provided is complete and true to the best of my knowledge and I agree to inform the Financial Aid Office as soon as I am aware of changes.
</p>
<p>
  Documentation will be required later: I understand that later I will be asked to submit documentation of having paid the childcare expenses I have indicated, and that future financial disbursement will be withheld until requested documentation has been received by the Financial Aid Office.
</p>
<p>
  I also understand that for childcare services provided by a person or agency other than UCSF's Childcare Center, acceptable documentation includes copies of canceled checks, money orders, or cashier's checks. Receipts from the provider may be acceptable, but are only valid if on agency letterhead, signed by the agency administrator, and includes the agency tax identification number.
</p>
<p>
  Note: We will not accept "cash receipts". Tuition expenses are not covered. Please include your child's grade level, if your child is beyond pre-school.
</p>
<p>
  The deadline to submit a 2017-18 request for additional funds is:
</p>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-circle"></i>
    February 9, 2018 - Pharmacy 4 winter '18 graduates
  </li>
  <li><i class="fa-li fa fa-circle"></i>
    April 9, 2018 - All other students enrolled in spring '18
  </li>
</ul>
