
<div class="row">

  <div class="col-xs-8 col-md-4">
    <a href="/about-us/policies-and-guidelines" class="thumbnail" style="text-align: center" align="center">
      <img src="/sites/finaid.ucsf.edu/files/UCSF_20160203_UCOP_003.jpg" alt="policies-and-guidelines">
      <h4>Policies & Guidelines</h4>
    </a>
  </div>

  <div class="col-xs-8 col-md-4">
    <a href="/about-us/staff" class="thumbnail" style="text-align: center" align="center">
      <img src="/sites/finaid.ucsf.edu/files/website_card_2015-1_0.jpg" alt="staff">
      <h4>Staff</h4>
    </a>
  </div>

  <div class="col-xs-8 col-md-4">
    <a href="/about-us/contact" class="thumbnail" style="text-align: center" align="center">
      <img src="/sites/finaid.ucsf.edu/files/UCSF_150529_Campus_0467.jpg" alt="contact">
      <h4>Contact Us</h4>
    </a>
  </div>

</div>
