<!-- LOANS -->
<div class="step-mini">
  <div class="step-line-mini"></div>
  <div class="step-label-wrapper-mini">
    <div class="step-label-mini">Step</div>
    <div class="step-number-mini">1</div>
  </div>
  <div class="step-content-mini">
    <h4>Review Eligibility Requirements</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Read about financial aid <a href="application-process/eligibility">Eligibiilty</a>.</li>
      </ul>
  </div>
</div>

<div class="step-mini">
  <div class="step-line-mini"></div>
  <div class="step-label-wrapper-mini">
    <div class="step-label-mini">Step</div>
    <div class="step-number-mini">2</div>
  </div>
  <div class="step-content-mini">
    <h4>Estimate your Cost to Attend UCSF</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Review <a href="application-process/student-budget">Student Budget</a> for information on cost of attendance, cost of living allowance, and available options should you require an increase to your budget.</li>
      </ul>
  </div>
</div>

<div class="step-mini">
  <div class="step-line-mini"></div>
  <div class="step-label-wrapper-mini">
    <div class="step-label-mini">Step</div>
    <div class="step-number-mini">3</div>
  </div>
  <div class="step-content-mini">
    <h4>Apply for Aid</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Follow the steps outlined in <a href="application-process/apply-for-aid">Apply for Aid</a>.</li>
      </ul>
  </div>
</div>

<div class="step-mini" about typeof>
  <div class="step-line-mini"></div>
  <div class="step-label-wrapper-mini">
    <div class="step-label-mini">Step</div>
    <div class="step-number-mini">4</div>
  </div>
  <div class="step-content-mini">
    <h4>Prepare for Disbursement</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Visit <a href="application-process/disbursement">Disbursement</a> for information on requirements for disbursement, how funds are disbursed and disbursement schedule.</li>
      </ul>
  </div>
</div>

<div class="step-mini" about typeof>
  <div class="step-label-wrapper-mini">
    <div class="step-label-mini">Step</div>
    <div class="step-number-mini">5</div>
  </div>
  <div class="step-content-mini">
    <h4>Review information about special circumstances, if applicable</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Please read important information about <a href="application-process/special-circumstances">Special Circumstances</a> if you are an AB 540 students, international student, or a nonresident of California.</li>
      </ul>
  </div>
</div>
