<!-- APPLY FOR AID PAGE -->
<div class="step">
  <div class="step-line"></div>
  <div class="step-label-wrapper">
    <div class="step-label">Step</div>
    <div class="step-number">1</div>
  </div>
  <div class="step-content">
    <h2 class="section-header">Complete both FAFSA &amp; UCSF Finaid/COLS Application</h2>

    <h4>FAFSA</h4>

    <p>Complete the <a href="https://fafsa.gov" target="_blank">Free Application for Federal Student Aid (FAFSA)</a>. Our school code is 001319. Apply for a <a href="https://fsaid.ed.gov/npas/index.htm" target="_blank">FSA ID</a> if needed.</p>

    <p>International students (not U.S. citizens or permanent residents) are excluded from completing the FAFSA, but must still complete the UCSF Online Finaid/COLS Application at the <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">Financial Aid Portal</a> if applying for a private loan.</p>

    <h4>UCSF Finaid/COLS Application</h4>

    <p>Complete the Online Finaid/COLS Application at the <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">Financial Aid Portal</a>. New students should follow the above financial aid portal link and click 'Get MyAccess' in order to
      register as a new user. Those who already have a MyAccess account can simply login to access the financial aid portal.</p>

    <p>Applicants will need to choose either the Basic Funding, Full Funding, or COLS Funding Only option when completing the UCSF Finaid/COLS Application. Applying for Full Funding generally requires submission of parental information and provides a broader
      level of funding consideration than the Basic Funding.</p>

    <ul class="fa-ul dropdown">
      <li data-toggle="collapse" href="#basic-funding"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="basic-funding">Basic Funding</a></li>
      <div class="collapse" id="basic-funding">
        <p>
          Basic funding consists of federal Title IV funds (Federal Work-Study, Federal Direct (Stafford) Loan, and Federal Direct Graduate PLUS) and may include minimal institutional grant funding, depending on your eligibility. It does not include full consideration
          for need-based campus funds. Unless instructed otherwise, Basic Funding consideration does not require parental information or the CSS Profile form.
        </p>
        <p>
          Students in the following programs are eligible for Basic Funding ONLY:
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Global Health Sciences</li>
            <li><i class="fa-li fa fa-circle"></i>Graduate Academic</li>
            <li><i class="fa-li fa fa-circle"></i>International Dentistry Program (IDP)</li>
            <li><i class="fa-li fa fa-circle"></i>Masters Entry Program in Nursing (MEPN) - first year only</li>
            <li><i class="fa-li fa fa-circle"></i>Master's in Advanced Studies program</li>
            <li><i class="fa-li fa fa-circle"></i>Master's in Biomedical Imaging (MSBI)</li>
            <li><i class="fa-li fa fa-circle"></i>Master's in Dental Hygiene</li>
            <li><i class="fa-li fa fa-circle"></i>Master's in Traiing in Clinical Research (ATCR)</li>
            <li><i class="fa-li fa fa-circle"></i>Master's in Translational Medicine</li>
            <li><i class="fa-li fa fa-circle"></i>Nursing Doctoral Program</li>
            <li><i class="fa-li fa fa-circle"></i>Nursing Post-Master's Program</li>
            <li><i class="fa-li fa fa-circle"></i>Online Master's in Health Policy & Law</li>
            <li><i class="fa-li fa fa-circle"></i>Online Master's in Healthcare Administration and Interprofessional Leadership (MS HAIL)</li>
            <li><i class="fa-li fa fa-circle"></i>Post Baccalaureate Programs (Dentistry, Medicine, and Pharmacy)</li>
            <li><i class="fa-li fa fa-circle"></i>Postgraduate Dentistry Programs</li>
          </ul>
        </p>
      </div>

      <li data-toggle="collapse" href="#full-funding"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="full-funding">Full Funding</a></li>
      <div class="collapse" id="full-funding">
        <p>
          Full funding includes consideration for all need-based university loans and need-based grants/scholarships, in addition to federal Title IV funds. If you are under 30 by December 31st of the application cycle, you need to submit your parents' information on the PROFILE to be considered
          for full funding. Medical students regardless of age must submit their parents' information for full funding consideration.
        </p>
      </div>

      <li data-toggle="collapse" href="#cols-funding"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="cols-funding">Cost of Living Supplement (COLS) Funding Only</a></li>
      <div class="collapse" id="cols-funding">
        <p>
          COLS Funding Only is for students who want to apply for the $2400 <a href="/types-of-aid/housing-food-and-transportation/cols" target="_blank">Cost of Living Supplement (COLS)</a> but are not interested in applying for federal financial aid. Students must complete FAFSA, and
          include parental information if under 30 years of age by December 31st of the application cycle. Our school code is 001319. International and DACA students may submit a <a href="https://fafsa.ed.gov/options.htm" target="_blank">paper FAFSA</a> instead of completing the online form.
        </p>
      </div>
    </ul>

    <div class="panel-group" id="accordion" role="tablist">

      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <h4 class="panel-title"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">2017-18 Application Deadline Dates for Entering Students</a></h4>
        </div>
        <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
          <div class="collapse in panel-body">
            <p>
              The sooner you apply, the sooner we can determine your financial aid eligibility. Early applications and submission of all financial aid materials helps to ensure your funding will arrive on time for the start of school.
            </p>
            <ul class="fa-ul dropdown">
              <li data-toggle="collapse" href="#entering-mepn"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-mepn" aria-expanded="false" class="collapsed accordion-toggle">Entering - MEPN</a></strong></h5></li>

              <div class="collapse" id="entering-mepn">
                <p style="margin-bottom: 0px">Deadline: April 10, 2017</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-idp"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-idp" aria-expanded="false" class="collapsed accordion-toggle">Entering - IDP</a></strong></h5></li>

              <div class="collapse" id="entering-idp">
                <p style="margin-bottom: 0px">Deadline: April 17, 2017</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-mshail"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-mshail" aria-expanded="false" class="collapsed accordion-toggle">Entering - MS-HAIL</a></strong></h5></li>

              <div class="collapse" id="entering-mshail">
                <p style="margin-bottom: 0px">Deadline: Based on Quarter Admitted</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-other-self-supporting"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-other-self-supporting" aria-expanded="false" class="collapsed accordion-toggle">Entering - Other Self-Supporting Programs (only eligible for federal and private loans)</a></strong></h5></li>

              <div class="collapse" id="entering-other-self-supporting">
                <p style="margin-bottom: 0px">Deadline: June 12, 2017</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-dpt"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-dpt" aria-expanded="false" class="collapsed accordion-toggle">Entering - Physical Therapy</a></strong></h5></li>

              <div class="collapse" id="entering-dpt">
                <p style="margin-bottom: 0px">Deadline: March 15, 2017</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds)</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-all-other"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-all-other" aria-expanded="false" class="collapsed accordion-toggle">Entering - All Other Programs: Dentistry, Medicine, Nurse Midwifery, Nursing Master's, Pharmacy</a></strong></h5></li>

              <div class="collapse" id="entering-all-other">
                <p style="margin-bottom: 0px">Deadline: apply as soon as admitted, but no later than June 12, 2017</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finanid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds)</li>
                </ol>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo" role="tab">
          <h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">2017-18 Application Deadline Dates for Continuing Students</a></h4>
        </div>
        <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
          <div class="collapse in panel-body">
            <p>
              The sooner you apply, the sooner we can determine your financial aid eligibility. Early applications and submission of all financial aid materials helps to ensure your funding will arrive on time for the start of school.
            </p>
            <ul class="fa-ul dropdown">
              <li data-toggle="collapse" href="#continuing-first-time-applicants"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-first-time-applicants" aria-expanded="false" class="collapsed accordion-toggle">Continuing - First-Time Applicants (includes MEPN and JMP)</a></strong></h5></li>

              <div class="collapse" id="continuing-first-time-applicants">
                <p style="margin-bottom: 0px">Deadline: March 13, 2017</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds (i.e. Federal Direct (Stafford) Loan, Federal Graduate PLUS, and the Federal Work-Study Program)</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#continuing-renewing"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-renewing" aria-expanded="false" class="collapsed accordion-toggle">Continuing - Renewing Financial Aid</a></strong></h5></li>

              <div class="collapse" id="continuing-renewing">
                <p style="margin-bottom: 0px">Deadline: March 13, 2017</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li>Submit parental information on the FAFSA if you are a medical, dental, or pharmacy student and applying for HHS funding (i.e. Health Professions Student Loan (HPSL) and Loan for Disadvantaged Students (LDS)). If parents are separated or
                    divorced, one can submit information on the FAFSA; the other or both may complete the <a href="/forms" target="_blank">Parent Information Form</a>.</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#continuing-self-supporting-programs"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-self-supporting-programs" aria-expanded="false" class="collapsed accordion-toggle">Continuing - Self-Supporting Programs</a></strong></h5></li>

              <div class="collapse" id="continuing-self-supporting-programs">
                <p style="margin-bottom: 0px">Deadline: April 2017</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" id="headingThree" role="tab">
          <h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button">2018-19 Application Deadline Dates for Entering Students</a></h4>
        </div>
        <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
          <div class="collapse in panel-body">
            <p>
              The sooner you apply, the sooner we can determine your financial aid eligibility. Early applications and submission of all financial aid materials helps to ensure your funding will arrive on time for the start of school.
            </p>
            <ul class="fa-ul dropdown">
              <li data-toggle="collapse" href="#entering-mepn-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-mepn-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - MEPN</a></strong></h5></li>

              <div class="collapse" id="entering-mepn-1819">
                <p style="margin-bottom: 0px">Deadline: April 9, 2018</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-idp-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-idp-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - IDP</a></strong></h5></li>

              <div class="collapse" id="entering-idp-1819">
                <p style="margin-bottom: 0px">Deadline: April 16, 2018</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-mshail-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-mshail-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - MS-HAIL</a></strong></h5></li>

              <div class="collapse" id="entering-mshail-1819">
                <p style="margin-bottom: 0px">Deadline: Based on Quarter Admitted</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-other-self-supporting-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-other-self-supporting-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - Other Self-Supporting Programs (only eligible for federal and private loans)</a></strong></h5></li>

              <div class="collapse" id="entering-other-self-supporting-1819">
                <p style="margin-bottom: 0px">Deadline: June 11, 2018</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-pharmacy-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-pharmacy-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - Pharmacy</a></strong></h5></li>

              <div class="collapse" id="entering-pharmacy-1819">
                <p style="margin-bottom: 0px">Deadline: April 2, 2018</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds)</li>
                </ol>
              </div>


              <li data-toggle="collapse" href="#entering-dpt-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-dpt-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - Physical Therapy</a></strong></h5></li>

              <div class="collapse" id="entering-dpt-1819">
                <p style="margin-bottom: 0px">Deadline: March 14, 2018</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds)</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#entering-all-other-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="entering-all-other-1819" aria-expanded="false" class="collapsed accordion-toggle">Entering - All Other Programs: Dentistry, Medicine, Nurse Midwifery, and Nursing Master's</a></strong></h5></li>

              <div class="collapse" id="entering-all-other-1819">
                <p style="margin-bottom: 0px">Deadline: apply as soon as admitted, but no later than June 11, 2018</p>

                <p style="margin-bottom: 0px">Required application materials:</p>

                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finanid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds)</li>
                </ol>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" id="headingFour" role="tab">
          <h4 class="panel-title"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role="button">2018-19 Application Deadline Dates for Continuing Students</a></h4>
        </div>
        <div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
          <div class="collapse in panel-body">
            <p>
              The sooner you apply, the sooner we can determine your financial aid eligibility. Early applications and submission of all financial aid materials helps to ensure your funding will arrive on time for the start of school.
            </p>
            <ul class="fa-ul dropdown">
              <li data-toggle="collapse" href="#continuing-first-time-applicants-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-first-time-applicants-1819" aria-expanded="false" class="collapsed accordion-toggle">Continuing - First-Time Applicants (includes MEPN and JMP)</a></strong></h5></li>

              <div class="collapse" id="continuing-first-time-applicants-1819">
                <p style="margin-bottom: 0px">Deadline: March 5, 2018</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a> (not required for federal Title IV funds (i.e. Federal Direct (Stafford) Loan, Federal Graduate PLUS, and the Federal Work-Study Program)</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#continuing-renewing-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-renewing-1819" aria-expanded="false" class="collapsed accordion-toggle">Continuing - Renewing Financial Aid</a></strong></h5></li>

              <div class="collapse" id="continuing-renewing-1819">
                <p style="margin-bottom: 0px">Deadline: March 5, 2018</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                  <li>Submit parental information on the FAFSA if you are a medical, dental, or pharmacy student and applying for HHS funding (i.e. Health Professions Student Loan (HPSL) and Loan for Disadvantaged Students (LDS)). If parents are separated or
                    divorced, one can submit information on the FAFSA; the other or both may complete the <a href="/forms" target="_blank">Parent Information Form</a>.</li>
                </ol>
              </div>

              <li data-toggle="collapse" href="#continuing-self-supporting-programs-1819"><i class="fa-li fa fa-caret-right"></i>
                <h5><strong><a aria-control="continuing-self-supporting-programs-1819" aria-expanded="false" class="collapsed accordion-toggle">Continuing - Self-Supporting Programs</a></strong></h5></li>

              <div class="collapse" id="continuing-self-supporting-programs-1819">
                <p style="margin-bottom: 0px">Deadline: March 5, 2018</p>
                <p style="margin-bottom: 0px">Required application materials:</p>
                <ol style="margin-top: 10px">
                  <li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
                  <li><a href="http://netpartner.ucsf.edu/" target="_blank">UCSF Finaid/COLS Application</a></li>
                </ol>
              </div>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="step">
  <div class="step-line"></div>
  <div class="step-label-wrapper">
    <div class="step-label">Step</div>
    <div class="step-number">2</div>
  </div>
  <div class="step-content">
    <h2 class="section-header">Complete the PROFILE</h2>
    <h4>CSS Financial Aid PROFILE</h4>
    <p>UCSF CSS school code is 7152.</p>

    <h4>Who Should Complete the <a href="http://student.collegeboard.org/profile" target="_blank">CSS Financial Aid PROFILE</a>?</h4>

    <a href="#" data-target=".ParentsInfoModal" data-toggle="modal" type="link" style="color: #FFFFFF; hover-color: ">
      <div class="bubble-note-2" style="float: right; margin-right: 10px; margin-top: -15px;">
        <strong>Submitting Parents' Information in the PROFILE</strong>
      </div>
    </a>

        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Entering students applying for Full Funding consideration.</li>
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Continuing students who are applying for Full Funding consideration for the first time.</li>
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Continuing MEPN students matriculating to the master's program who are applying for Full Funding consideration</li>
        </ul>

    <h4>Who Should NOT Complete the PROFILE?</h4>

    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Applicants for Basic Funding consideration</li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Applicants for Full Funding consideration who are 30 years of age or older by December 31st of the application cycle and are not in the School of Medicine</li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Continuing students renewing financial aid, except for continuing MEPN students under age 30 and applying for Full Funding for the first time</li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>International Students</li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Students enrolled in the following programs:</li>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-square"></i>Global Health Sciences</li>
        <li><i class="fa-li fa fa-square"></i>Graduate Academic</li>
        <li><i class="fa-li fa fa-square"></i>International Dentistry Program (IDP)</li>
        <li><i class="fa-li fa fa-square"></i>Masters Entry Program in Nursing (MEPN) - first year only</li>
        <li><i class="fa-li fa fa-square"></i>Master's in Advanced Studies Program</li>
        <li><i class="fa-li fa fa-square"></i>Master's in Biomedical Imaging (MSBI)</li>
        <li><i class="fa-li fa fa-square"></i>Master's in Dental Hygiene</li>
        <li><i class="fa-li fa fa-square"></i>Master's in Training in Clinical Research (ATCR)</li>
        <li><i class="fa-li fa fa-square"></i>Master's in Translational Medicine</li>
        <li><i class="fa-li fa fa-square"></i>Nursing Doctoral Program</li>
        <li><i class="fa-li fa fa-square"></i>Nursing Post-Master's Program</li>
        <li><i class="fa-li fa fa-square"></i>Online Master's in Health Policy & Law</li>
        <li><i class="fa-li fa fa-square"></i>Online Master's in Healthcare Administration and Interprofessional Leadership (MS HAIL)</li>
        <li><i class="fa-li fa fa-square"></i>Post Baccalaureate Programs (Dentistry, Medicine, Pharmacy)</li>
        <li><i class="fa-li fa fa-square"></i>Postgraduate Dentistry Programs</li>
      </ul>
    </ul>
    <div aria-labelledby="ParentsInfoModal" class="modal fade ParentsInfoModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>

            <h4 class="modal-title" id="ParentsInfoModalLabel">Submitting Parents' Information in the PROFILE</h4>
          </div>

          <div class="modal-body">
            <p>Most UCSF students are automatically independent because they are in a graduate or professional program. The exception is first-year pharmacy students without a bachelor's degree and fewer than 90 semester or 135 quarter units upon enrollment
              at UCSF. During their first year such a student is considered an undergraduate for financial aid purposes and therefore, possibly considered a dependent student.</p>

            <p>When students are dependent, their parents' financial information is evaluated to determine whether the parents should contribute financially.</p>

            <p>With the exception of medical students, applicants who will be 30 or over by December 31st of the application cycle year, are not required to submit parents' information unless applying for programs through the Department of Health and Human Services (HHS). This federal
              department requires parents' information of all applicants, regardless of age or dependency status. HHS programs include Health Professions Student Loans, Loans for Disadvantaged Students, Primary Care Loans, Scholarships for Disadvantaged
              Students, and Nursing Student Loans.</p>

            <p>Independent students, under 30, who only want to apply for the Federal Direct (Stafford) Loan, Federal Work-Study, and the minimum UCSF grants are not required to provide parents' information.</p>

            <p>Applicants who will be under 30 by December 31st of the application cycle, and want to receive consideration for low-interest loans and grant and scholarship assistance in addition to federal aid, must submit parents' information. Medical students regardless of
              age must submit parents' information for this type of funding consideration. This information should be completed on the PROFILE, for students applying for financial aid at UCSF for the first time.</p>

            <p>UCSF considers the financial circumstances of parents, because of the high cost and limited funding for a professional education. Parents' income, assets, age, number of dependents, and other factors are analyzed, and a "Financial Strength
              Index" (FSI) is determined.</p>

            <p>The FSI is not used to compute eligibility for financial aid but is used to determine the type and amount of aid awarded. The greatest priority for grants, scholarships, and low interest loans is given to students whose families have historically
              lower income. For example, an independent student with high-income parents would be awarded a Federal Direct (Stafford) Loan and perhaps a Federal Perkins Loan, but would probably not receive University need-based scholarships or loans.</p>

            <p>Special circumstances may be considered for those students under 30 years of age who would like to be considered for full funding, but find that one or both of their parents' information is not available to them. Special circumstances do not
              include a parent filing a tax extension or one who simply does not want to provide information.</p>

            <p>Special circumstances for consideration of waiving parent's information are reviewed on a case-by-case basis. Approvals typically involve extenuating circumstances such as parental estrangement or an adverse home situation. For consideration,
              students are required to submit a <a href="/forms" target="_blank">Parent Waiver Request Form</a>. Additional documentation may be requested.</p>
          </div>

          <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="step">
  <div class="step-line"></div>
  <div class="step-label-wrapper">
    <div class="step-label">Step</div>
    <div class="step-number">3</div>
  </div>
  <div class="step-content">
    <h2 class="section-header">Student Loans</h2>
    <p>In compliance with SB 1289, we are providing the following <a href="http://www.ucop.edu/student-affairs/_files/loans/sb1289-with-uc-loans.pdf" target="_blank">disclosure</a> about loans.</p>

    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><a data-target="#DirectLoanModal" data-toggle="modal">Federal Direct Loan</a></li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><a data-target=".GraduatePlusLoanModal" data-toggle="modal">Federal Direct Graduate PLUS Loan</a></li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><a data-target=".PrivateLoanModal" data-toggle="modal">Private Loan</a></li>
    </ul>

    <div aria-labelledby="DirectLoanModalLabel" class="modal fade" id="DirectLoanModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="DirectLoanModalLabel">Federal Direct Loan</h4>
          </div>

          <div class="modal-body">
            <p>This loan program includes subsidized and unsubsidized components. Due to the federal Budget Control Act of 2011 passed by Congress, graduate students are eligible for the unsubsidized loan only. Interest rate for this loan is set by Congress
              and adjusted annually on July 1. The current interest rate (7/1/2016 - 6/30/2017) is fixed at 5.31%. The current loan fee is 1.069%. Interest accrues on the Direct (Stafford) Unsubsidized Loan during periods of enrollment and non-enrollment,
              the six-month post-enrollment period, and periods of eligible deferments. Repayment begins six months after student graduates or ceases to be enrolled at least half-time.</p>

            <p>This loan is reported to the National Student Loan Data System (NSLDS), and will be accessible by student, guaranty agencies, lenders, and institutions determined to be authorized users of the data system.</p>

            <strong>How to Apply for Federal Direct Loan</strong>

            <p>Complete the <a href="http://www.studentloans.gov/" target="_blank">Federal Direct Loan Master Promissory Note</a> online. Our office will receive electronic notification of your MPN.</p>
          </div>

          <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div>

    <div aria-labelledby="GraduatePlusLoanModal" class="modal fade GraduatePlusLoanModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>

            <h4 class="modal-title" id="GraduatePlusLoanModalLabel">Federal Direct Graduate PLUS Loan</h4>
          </div>

          <div class="modal-body">
            <p>Only for students who have exceeded their annual or aggregate Direct (Stafford) Loan limit</p>

            <p>Some students may require additional funding beyond what their annual or aggregate Federal Direct (Stafford) limit allows. The Federal Graduate PLUS Loan is available to students who have not met their full financial aid budget for the year
              and have met the limits on the Federal Direct (Stafford) Loan and other financial aid resources. The maximum loan amount students can borrow is the school’s approved cost of attendance minus other financial aid (i.e., scholarships, grants,
              Federal Direct Loan, and other loans). This loan is not based on financial need.</p>

            <p>Interest rate for the Federal Graduate PLUS is set by Congress and it is adjusted annually on July 1. The current interest rate (7/1/2016 - 6/30/2017) is fixed at 6.31%. The current loan fee is 4.276%. Repayment begins after borrower graduates
              or ceases to be enrolled at least half-time.</p>

            <p>The Department of Education requires a credit check for the Graduate PLUS. Students who are denied due to adverse credit (i.e., 90 days or more delinquent on any debt, or credit report showing default, loan discharge, foreclosure, repossession,
              and bankruptcy) are notified directly, along with their options. Students can appeal if the adverse credit information is incorrect, or provide document to the Department of Education if there are extenuating circumstances relating to their
              adverse credit history. Click <a href="https://studentloans.gov/myDirectLoan/whatYouNeed.action?page=credit" target="_blank">here</a> for more information. Students may also be able to apply with an endorser (co-borrower) who satisfies the
              credit requirements. Students should contact Applicant Services for Grad PLUS Loan Borrowers at 1-800-557-7394 (8 a.m. - 8 p.m. ET), Monday to Friday, if their loan is denied.</p>

            <p>UCSF IS UNABLE TO OFFER ANOTHER LOAN TO REPLACE THE GRADUATE PLUS. Students who are unable to borrow a Graduate PLUS are expected to cover the remainder of their educational expenses with their own resources or family assistance. It is the
              student’s responsibility to secure adequate funding to cover cost of attendance before beginning school.</p>

            <p>This loan will be submitted to the National Student Loan Data System (NSLDS), and will be accessible by student, guaranty agencies, lenders, and institutions determined to be authorized users of the data system.</p>

            <strong>How to Apply for Graduate PLUS Loan</strong>

            <p>Obtain credit approval, complete the Entrance Counseling, and e-sign the <a href="http://www.studentloans.gov/" target="_blank">Federal Direct PLUS Master Promissory Note (MPN)</a>. Our office will receive electronic notification of your MPN.
              Complete both the “Borrower Section” and “Student Section” with your own information (not your parents') on the MPN.</p>

            <strong>Resource</strong>

            <p>The Department of Education COD Applicant Services Department (800/557-7394) is available to assist Direct PLUS Loan borrowers and endorsers in a variety of ways including:</p>

            <ul class="fa-ul">
              <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Providing information about credit status and denied credit decision appeals.</li>
              <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Providing information about obligations/responsibilities to endorsers of Direct PLUS Loans.</li>
            </ul>
          </div>

          <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div>

    <div aria-labelledby="PrivateLoanModal" class="modal fade PrivateLoanModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="PrivateLoanModalLabel">Private Loan</h4>
          </div>
          <div class="modal-body">
            <p>Although many UCSF students can obtain sufficient funds through Federal and University loans, others need additional help. Comparisons of federal versus private loans are available from the <a href="http://studentaid.ed.gov/types/loans/federal-vs-private"
                target="_blank">Department of Education</a> and <a href="https://www.aamc.org/services/first/first_factsheets/285378/federalvsprivate.html" target="_blank">Association of American Medical Colleges (AAMC)</a>. Federal loan programs generally
              offer better terms and conditions than private loans. Students should therefore pursue federal financial aid and other resources such as outside agency scholarships before borrowing a private loan. Private Loans are only awarded after all
              types of federal student loans have been awarded to the student.</p>

            <p>Each year, regulatory changes and market conditions impact individual lenders’ loan terms. To help students and families make informed choices, the University of California Office of the President (UCOP) compiles comprehensive Private Student
              Loans Lists that contain loan terms and interest rates as well as lender contact information. Lenders were invited to compete for placement on each of these loan products. From those who responded, a systemic and equitable method for selecting
              the top lenders was held. These lenders had to meet a stringent standard of requirements that included, but were not limited to, competitive borrower benefits, lender stability, efficient loan servicing, online support and tools, and customer
              service.</p>

            <p>Below are the lenders who were selected by UCOP, and their most up-to-date loan terms at the date of this publication. Please note that loan terms are subject to change by the lenders. Furthermore, these loan terms are offered to the University
              of California and not necessarily other colleges.</p>

            <ul class="fa-ul">
              <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><a href="http://beta.elmselect.com/link/query?schoolid=166&amp;amounttoborrow=1&amp;graduationdate=01/01/2000" target="_blank">Private Education Loans for Health Professions, Graduates, &amp; International Students</a></li>
              <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><a href="http://beta.elmselect.com/link/query?schoolid=166&amp;amounttoborrow=1&amp;graduationdate=01/01/2000" target="_blank">Private Education Loans for Residency &amp; Relocation</a></li>
            </ul>

            <p>While the University carefully considers our selections in order to provide you with the best possible list of suggested lenders, you have the right to use another lender that is not on this list. The choice of a loan lender is your decision.
              The Student Financial Aid Office will certify private loan applications from all lenders.</p>

            <p>The Student Financial Aid Office does not accept or receive inducements from lenders in exchange for inclusion in the Private Student Loans List, nor do we share in the profits from student loans. Please also see <a href="http://www.ucop.edu/sas/sfs/loans/codeofconduct.pdf"
                target="_blank">The University of California Code of Conduct in Regard to Preferred Lender Arrangements</a>.</p>

            <p>All borrowers are required to complete a self-certification form and submit it to their lender prior to receiving a private education loan. Most lenders provide the form as part of their online loan application.</p>

            <p>Each UCOP Private Student Loans List includes required Truth-in-Lending Agreement (TILA) Disclosure from the lenders.</p>

            <strong>How to Apply for Private Loan</strong>

            <p>See Student Financial Aid Office for details. It is best to consult with a Financial Aid Advisor before applying for these loans as there may be other resources available.</p>
          </div>
          <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div>

    <p>Please note: Before loan funds are disbursed, first time Direct and/or Graduate PLUS Loan recipients at UCSF must complete online student loan counseling at: <a href="https://studentloans.gov/myDirectLoan/index.action" target="_blank">studentloans.gov</a>.
      This should take about 20 minutes to complete. The Student Financial Aid Office will automatically receive confirmation once you've completed the counseling session.</p>
  </div>
</div>

<div class="step">
  <div class="step-line"></div>
  <div class="step-label-wrapper">
    <div class="step-label">Step</div>
    <div class="step-number">4</div>
  </div>
  <div class="step-content">
    <h2 class="section-header">Documentation</h2>

    <p>Please login at the <a href="http://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Financial Aid Portal</a> to view your missing documents after completing the online financial aid application.</p>

    <p>Documentation may be required by your financial aid advisor. Please keep your mailing address and email address current with the Office of the Registrar (OAR) to receive communication from our office.</p>

    <p>If you are required to complete the PROFILE, please submit your parents' Tax Return to the "IDOC" service using the instructions received via email after completing the PROFILE.</p>
  </div>
</div>

<div class="step">
  <div class="step-label-wrapper">
    <div class="step-label">Step</div>
    <div class="step-number">5</div>
  </div>
  <div class="step-content">
    <h2 class="section-header">Follow Up</h2>
    <h4>Student Aid Report (SAR)</h4>
    <p>After submitting the FAFSA, you will receive a Student Aid Report (SAR) from the federal processor by email. Read the SAR carefully! If all the information is accurate and UCSF is included in the school list section, you have completed this part of
      the application process. If UCSF is not listed, we will not receive your application information. You must follow SAR instructions for submitting a school change or addition. If the data you reported is incorrect or failed any of the database matches,
      you must follow the instructions given to correct or resolve matters. The most common causes of database mismatches are incorrect names, birth dates and citizenship status. Do not submit the SAR to UCSF, but do ask for our assistance if you need
      help resolving any problems.</p>
    <h4>Communication from the Student Financial Aid Office</h4>
    <p>Once you submit the FAFSA, PROFILE (if required) and online financial aid application, you will be contacted if additional information is needed.</p>
    <p>You will receive an email of the availability of your Financial Aid Offer sometime between late March and the end of August, depending on your curriculum and when your application was completed. Access to your offer letter will be online at the
      <a
        href="http://netpartner.ucsf.edu/netpartnerstudent" target="_blank">Financial Aid Portal</a>, which will list your financial aid awards and explain how funds will be disbursed.</p>
    <h4>Appeal Procedure</h4>
    <p>Students who have unusual circumstances or are not satisfied with a financial aid decision may appeal to the Director of Student Financial Aid or the Financial Aid Review Committee, which consists of the Student Financial Aid Office professional staff.
      <a href="/about-us/contact">Contact us</a> for additional information.</p>
  </div>
</div>
