<div class="panel panel-default">
  <div class="panel-heading">
    Student Food Market Assistant
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>3/1/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:Alece.Alderson@ucsf.edu">Alece Alderson</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Student Food Market Assistant</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Student Academic Affairs</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>Thursdays, 3:00 p.m. - 6:30 p.m.</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Student Success Center, Millberry Union, Room 100 West</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Student Food Market (SFM) provides fresh produce and non-perishable goods to UCSF students. The SFM Assistant will help dedicated staff and volunteers with the set-up of the food to be distributed; assist with the distribution of food; and help with the break-down and clean-up at the close of the SFM.</p>
          <p>For more information, please contact Student Success and First Generation Programs Director,
            Alece Alderson by <a href="mailto:Alece.Alderson@ucsf.edu">email</a> or phone at 415-476-5377.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">




<div class="panel panel-default">
  <div class="panel-heading">
    Reading Partners Literacy Intervention Tutor
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>1/6/18</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:allison.rhodes@readingpartners.org">Allison Rhodes</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Literacy Intervention Tutor</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Reading Partners</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$15/hour, including travel time</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>San Francisco and East Bay</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>Background</p>
          <p>
            Reading Partners is a nonprofit organization that works to expand life opportunities for at-risk elementary school children by empowering them with strong literacy skills. We work directly within under-resourced elementary schools, and recruit community members to provide one-on-one literacy tutoring for students who are reading below grade level.
          </p>
          <p>
            We are seeking qualified candidates for our Literacy Intervention Tutor positions, who assist the Reading Partners on-site coordinator with tutoring and administrative support. Students must be eligible for Federal Work Study (FWS) through their financial aid package in order to apply for these paid tutoring positions.
          </p>
          <p>
            Opportunities are available Monday-Thursday from 8am - 6pm (hours vary depending on school site). We are currently seeking UCSF FWS tutors who can commit to working between 2-20 hours/week. Placements are available within multiple San Francisco and East Bay elementary school sites.
          </p>
          <p>
            Responsibilities
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Tutor one-on-one with elementary school students reading below grade level</li>
            <li><i class="fa-li fa fa-circle"></i>Track student progress using Reading Partners tools</li>
            <li><i class="fa-li fa fa-circle"></i>Substitute tutoring, when needed</li>
            <li><i class="fa-li fa fa-circle"></i>Perform administrative duties as needed</li>
            <li><i class="fa-li fa fa-circle"></i>Attend Reading Partners orientation and trainings</li>
          </ul>
          <p>
            Qualifications
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Interest in working with young children who need help learning</li>
            <li><i class="fa-li fa fa-circle"></i>Willingness to learn about tutoring strategies and implement feedback</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to commit to a schedule and shop up promptly when expected</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work independently or with limited supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to interact effectively with diverse groups</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to pass a Livescan background check and TB test (qualified candidates who undergo the interview process and are hired will be expected to pay up-front for the cost of teh Livescan and TB test - Reading Partners can reimburse for these expenses)</li>
          </ul>
          <p>
            Application Instructions: to apply, please submit the following to Program Operations Manager, <a href="mailto:allison.rhodes@readingpartners.org">Allison Rhodes</a>
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Resume + Cover Letter</li>
            <li><i class="fa-li fa fa-circle"></i>Desired hours/week</li>
            <li><i class="fa-li fa fa-circle"></i>Schedule of availability M-Th 8am-6pm</li>
            <li><i class="fa-li fa fa-circle"></i>Mode of transportation (i.e. car, BART, bus, bike, etc.)</li>
            <li><i class="fa-li fa fa-circle"></i>Desired region - San Francisco / East Bay. See reading center locations at <a href="http://readingpartners.org/location/sf-bay-area/schools/" target="_blank">Reading Partners school locations</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading">
    Student Worker at Career Resources
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>7/3/17</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:sara.ayazi@ucsf.edu">Sara Ayazi</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Student Worker</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Office of Career and Professional Development (OCPD)</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Mission Bay and Parnassus Campus</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>UCSF student eligible for federal work study</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>
            The Office of Career and Professional Development (OCPD) offers career and professional development support to students and postdocs. We are seeking a work study student who can assist with OCPD projects that may relate to OCPD’s programs, initiatives, and/or resources.
          </p>
          <p>
            Depending on the project(s), responsibilities could include:
          </p>
          <p>
            Programs:
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Support Program Directors and Event Planner in developing and implementing career-related programs.</li>
            <li><i class="fa-li fa fa-circle"></i>Assist with the set-up, logistics, and assessment/evaluation of OCPD events.</li>
          </ul>
          <p>
            Initiatives:
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Help with conceptualizing, designing, and executing initiatives that relate to OCPD’s mission. Examples of initiatives include working with the OCPD Director and the Events Planner to develop and execute a university-wide marketing campaign for the purpose of increasing OCPD’s presence at UCSF and inform the UCSF community of services, programs, initiatives, and resources available to them.</li>
          </ul>
          <p>
            Resources:
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Assist Program Directors in developing and enhancing OCPD’s online resources related to career exploration, job search, and professional skills.</li>
            <li><i class="fa-li fa fa-circle"></i>Identify resources to regularly feature on OCPD’s social media platforms, such as articles, books, and online sample documents.</li>
          </ul>
          <p>
            Required abilities and dispositions:
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management, meticulous attention to detail, and an ability to work under supervision.</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, and oral and written communication skills, with an ability to work in teams.</li>
            <li><i class="fa-li fa fa-circle"></i>Strong time management skills.</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite and the capacity and willingness to learn new software (including Drupal, OrgSync).</li>
          </ul>
          <p>
            Preferred:
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Experience working in a university student services office.</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Adobe Creative Suite (PhotoShop and InDesign Illustrator).</li>
            <li><i class="fa-li fa fa-circle"></i>Familiarity with social media tools (Twitter, Facebook, LinkedIn, Instagram) for marketing purposes.</li>
          </ul>
          <p>
            Email resume and cover letter to <a href="mailto:sara.ayazi@ucsf.edu">Sara Ayazi</a>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading">
    Inpatient Pharmacy Student Intern
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>4/6/17</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:oliver.hsu@hhs.sccgov.org">Oliver Hsu</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Inpatient Student Intern</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Santa Clara Valley Health and Hospital System</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Santa Clara</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>UCSF School of Pharmacy student who qualifies for UCSF Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>Background</p>
          <p>
            Founded in 1876, Santa Clara Valley Health and Hospital System (SCVH&HS) is a nationally recognized public health care facility located in San Jose that provides a full range of acute care, intensive care, rehabilitation, and ambulatory services. Each year, the hospital cares for thousands of hospitalized patients and handles over 500,000 outpatient and emergency visits. The hospital is dedicated to providing high-quality basic care as well as specialized services. Each year, more than 150 burn victims from the surrounding five-county area receive intensive care and rehabilitation at the hospital’s Regional Burn Center.
          </p>
          <p>
            Medical education is a cornerstone of SCVH&HS’s mission. SCVH&HS has affiliations with the University of the Pacific School of Pharmacy, Touro University College of Pharmacy, UC San Francisco School of Pharmacy, and other professional schools in the San Francisco Bay Area. The hospital has been affiliated with the Stanford University School of Medicine since 1970, training medical residents with some of the region’s more challenging cases. Additionally, SCVH&HS has a thriving ASHP-accredited pharmacy residency program with 10 PGY1 residents and PGY2 specialty residencies in Ambulatory Care, Critical Care, and Health-System Pharmacy Administration.
          </p>
          <p>
            Role
          </p>
          <p>
            The role of the inpatient pharmacy intern is to support various drug distribution services in the inpatient pharmacy. The intern will gain an understanding of operations in an inpatient hospital setting, including experience with unit dose medications, intravenous admixture sterile compounding, and automated dispensing cabinets. As interns gain experience in the inpatient pharmacy, they may be asked to contribute to various quality improvement or safety initiatives.
          </p>
          <p>
            Responsibilities
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Dispensing medications (unit dose and discharge outpatient pharmacy)</li>
            <li><i class="fa-li fa fa-circle"></i>Refilling automated dispensing cabinets and crash carts</li>
            <li><i class="fa-li fa fa-circle"></i>Compounding intravenous medications</li>
            <li><i class="fa-li fa fa-circle"></i>Delivering medications</li>
            <li><i class="fa-li fa fa-circle"></i>Triaging phone calls from nurses and physicians</li>
            <li><i class="fa-li fa fa-circle"></i>Compounding intravenous medications</li>
            <li><i class="fa-li fa fa-circle"></i>Performing patient outreach in our Transitions of Care Program</li>
            <li><i class="fa-li fa fa-circle"></i>Other duties as assigned</li>
          </ul>
          <p>
            Knowledge/Skills/Experience
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Highly motivated individual, a proficient self-learner</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work independently and problem solve</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent oral and written communication skills</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal skills</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work well in a team with other disciplines in an interdisciplinary environment</li>
          </ul>
          <p>
            Qualifications
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Have a valid California pharmacy intern license</li>
            <li><i class="fa-li fa fa-circle"></i>Be enrolled at UCSF School of Pharmacy and qualify for the UCSF work study program</li>
            <li><i class="fa-li fa fa-circle"></i>Be able to work on average once a week (usually weekends)</li>
            <li><i class="fa-li fa fa-circle"></i>Schedule is flexible to account for midterms and finals</li>
          </ul>
          <p>
            For questions, please contact Oliver Hsu, PharmD at <a href="mailto:oliver.hsu@hhs.sccgov.org">oliver.hsu@hhs.sccgov.org</a> or 408-885-2319.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
