<ul class="fa-ul dropdown">
  <li data-toggle="collapse" href="#questionone"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionone">Should I complete the 2017-18 or 2018-19 FAFSA form?  </a></li>
    <div class="collapse" id="questionone">
      <p>
        The required FAFSA is the 2018-19 version.
      </p>
    </div>
  <li data-toggle="collapse" href="#questiontwo"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questiontwo">May I apply for COLS even if I am getting HPSA (health professions scholarship program award) from the Navy or other military branch?</a></li>
    <div class="collapse" id="questiontwo">
      <p>
        Yes, recipients of any outside scholarship are eligible to apply for COLS so long as all other awards do not exceed their cost of attendance.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionthree"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionthree">If I don't get the COLS this year, may I apply again next year?</a></li>
    <div class="collapse" id="questionthree">
      <p>
        Extension of the program beyond the 2018-19 school year is contingent upon the program’s effectiveness and availability of funds. If the program is continued, you will need to re-apply each year.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionfour"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionfour">Are students in the Dental Post Grad Program eligible for COLS?</a></li>
    <div class="collapse" id="questionfour">
      <p>
        Dental Post Grad students are eligible if they are on a master’s track. Those in the certificate-only track are not eligible.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionfive"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionfive">Are international students eligible?</a></li>
    <div class="collapse" id="questionfive">
      <p>
        Yes, given that students meet all other eligibility criteria.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionsix"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionsix">How does an international student without a social security number complete a FAFSA?</a></li>
    <div class="collapse" id="questionsix">
      <p>
        International students should complete the COLS application and then email <a href="mailto:COLS@ucsf.edu">COLS@ucsf.edu</a> to request instructions on how to complete the required FAFSA.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionseven"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionseven">Are DACA students eligible?</a></li>
    <div class="collapse" id="questionseven">
      <p>
        Yes, given that student meets all other eligibility criteria.  DACA students should submit a paper 2018-19 FAFSA Worksheet directly to Student Financial Aid.
      </p>
    </div>
  <li data-toggle="collapse" href="#questioneight"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questioneight">Are DACA students required to submit a FAFSA?</a></li>
    <div class="collapse" id="questioneight">
      <p>
        DACA students should submit a paper 2018-19 FAFSA Worksheet directly to Student Financial Aid.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionnine"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionnine">DACA student – I completed the FAFSA. Why does the financial aid student portal say my FAFSA as incomplete?</a></li>
    <div class="collapse" id="questionnine">
      <p>
        “Incomplete FAFSA” is just a status identifier on the government’s side. As long as you have provided all the information we need to determine your eligibility for COLS, our office will be able to process the information.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionten"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionten">Are incoming summer/fall students eligible?</a></li>
    <div class="collapse" id="questionten">
      <p>
        Yes, given that students meet all other eligibility criteria.
      </p>
    </div>
  <li data-toggle="collapse" href="#questioneleven"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questioneleven">I was offered, but declined UCSF housing due to (multiple reasons). May I still apply for COLS?</a></li>
    <div class="collapse" id="questioneleven">
      <p>
        Yes, given that you meet all other eligibility criteria.
      </p>
    </div>
  <li data-toggle="collapse" href="#questiontwelve"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questiontwelve">Are students who will not renew on-campus housing eligible?</a></li>
    <div class="collapse" id="questiontwelve">
      <p>
        Yes, given that students meet all other eligibility criteria.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionthirteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionthirteen">What if I cannot provide parental information and I am under 30?</a></li>
    <div class="collapse" id="questionthirteen">
      <p>
        That depends on the reason why this information cannot be provided, but in absence of extenuating circumstances – such as one involving total estrangement – approval is not likely. You may request a parent waiver form from the Student Financial Aid Office by emailing <a href="mailto:COLS@ucsf.edu">COLS@ucsf.edu</a>.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionfourteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionfourteen">I am expected to provide parental information as I am under 30. What if my parents are separated or divorced?</a></li>
    <div class="collapse" id="questionfourteen">
      <p>
        In this case, the student is required to provide only the custodial parent’s information as defined in FAFSA instructions.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionfifteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionfifteen">I am a continuing student who provided parental financial information in my first year. Do I need to do so again?</a></li>
    <div class="collapse" id="questionfifteen">
      <p>
        Continuing students who have provided parental financial information in the past will not need to resubmit parental information again for the purpose of the COLS application.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionsixteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionsixteen">My parents live overseas. Am I still expected to complete their income information?</a></li>
    <div class="collapse" id="questionsixteen">
      <p>
        Yes, based on conversion to U.S. dollars. FAFSA instructions cover this.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionseventeen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionseventeen">Am I eligible for COLS if I am a student who will only be enrolled in the summer and winter quarters?</a></li>
    <div class="collapse" id="questionseventeen">
      <p>
        No. COLS is intended for students enrolled fall 2018, for three terms.
      </p>
    </div>
  <li data-toggle="collapse" href="#questioneighteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questioneighteen">When will students be notified that they were awarded a COLS grant?</a></li>
    <div class="collapse" id="questioneighteen">
      <p>
        Students who are granted a COLS will be notified after July 30, 2018.
      </p>
    </div>
  <li data-toggle="collapse" href="#questionnineteen"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questionnineteen">When will COLS funds be disbursed to the students?</a></li>
    <div class="collapse" id="questionnineteen">
      <p>
        The anticipated disbursement date is November 1, 2018.
      </p>
    </div>
  <li data-toggle="collapse" href="#questiontwenty"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="questiontwenty">Is COLS a taxable grant?</a></li>
    <div class="collapse" id="questiontwenty">
      <p>
        COLS is taxable and recipients will be sent a 1098-T or a 1042-T.
      </p>
    </div>
</ul>
