<!-- CONTACT US -->

  <h4>Location, Contact, Hours</h4>
  <div class="row">
    <div class="col-sm-4" align="center">
        <p style="margin-bottom: 0px">500 Parnassus Ave MU-201W</p>
        <p style="margin-bottom: 0px">San Francisco, CA 94143</p>
      </div>
    <div class="col-sm-4" align="center">
        <p style="margin-bottom: 0px">Phone: (415) 476-4181</p>
        <p style="margin-bottom: 0px">Fax: (415) 476-6652</p>
        <p style="margin-bottom: 0px">Email: finaid@ucsf.edu</p>
      </div>
    <div class="col-sm-4" align="center">
        <p style="margin-bottom: 0px">Monday-Friday 8am-5pm
      </div>
  </div>

<hr class="section-divider">

  <h4>Drop-In Advising Schedule</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </thead>
      <tbody>
        <tr>
          <td>8:00-1:30</td>
          <td>Jerry</td>
          <td>Carol</td>
          <td>Daniel</td>
          <td>Lily</td>
          <td>Elliot</td>
        </tr>
        <tr>
          <td>1:30-3:00</td>
          <td>Derek</td>
          <td>Christine</td>
          <td>Lily</td>
          <td>Elliot</td>
          <td>Carol</td>
        </tr>
        <tr>
          <td>3:00-5:00</td>
          <td>Jerry</td>
          <td>Carol</td>
          <td>Daniel</td>
          <td>Lily</td>
          <td>Elliot</td>
        </tr>
      </tbody>
    </table>
  </div>

      <p><a href="staff">Meet our staff</a> to find out who the advisor is for your program.</p>
      <p>Please note the drop-in schedule can vary.  If you would like to schedule an appointment with your assigned advisor, please call our office.</p>
      <p>Tuesday mornings are set aside for a weekly staff meeting from 10am to 11am and a drop-in advisor may not be available.  However, other office staff will be happy to help during this time.</p>
