<!-- DEBT MANAGEMENT -->

    <h4>Tools for Debt Management</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/annual_budget_1718.xlsx">Annual Budget 2017-2018 Worksheet</a></li>
        <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/resources/managing_your_student_loans_quick_checklist.pdf" target="_blank">Managing your Student Loans Checklist for Students</a></li>
        <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/resources/managing_loans_during_residency_fellowship.pdf" target="_blank">Managing your Student Loans in Residency or Fellowship</a></li>
      </ul>

    <h4>Resources for Debt Management</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle"></i>UCSF Financial Aid Office: <a href="mailto:daniel.roddick@ucsf.edu">Daniel Roddick</a>, the Resource Advisor in the Financial Aid Office is your contact to assist you in managing your student loans while in school, during transitions, residencies, fellowships, and repayment of your loans.</li>
        <li><i class="fa-li fa fa-circle"></i><a href="http://controller.ucsf.edu/students/contact.asp" target="_blank">Student Accounting Office</a>: provide assistance with managing Perkins, HPL, LDS, NSL, or University loans</li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.studentloans.gov/" target="_blank">Federal Student Aid</a>: your connection to the Department of Education loan management tools</li>
        <li><i class="fa-li fa fa-circle"></i><a href="https://www.nslds.ed.gov/nslds/nslds_SA/" target="_blank">National Student Loan Data System</a>: provides listing of all your Federal Direct, FFEL and Perkins Loans</li>
        <li><i class="fa-li fa fa-circle"></i><a href="https://heartland.ecsi.net" target="_blank">Heartland ECSI</a>: servicer for UCSF Perkins, HPL, LDS, NSL, PSL and University Loans</li>
        <li><i class="fa-li fa fa-circle"></i><a href="http://www.aamc.org/services/first" target="_blank">Association of American Medical Colleges (AAMC) FIRST</a>: resource for medical students and residents
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-square"></i>The <a href="https://students-residents.aamc.org/financial-aid/article/medloans-organizer-and-calculator-mloc/" target="_blank">AAMC FIRST Medloans Organizer and Medloans Calculator</a> offers individualized electronic loan portfolio debt management programs specially designed for medical residents, and allows borrowers to enter loan information and immediately calculate repayment options under standard, graduated, income based, income contingent, consolidated, and extended repayment options.</li>
          </ul>
        </li>
      </ul>
