<!-- DISBURSEMENT -->

<h4>Requirements for Disbursement</h4>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Accept or decline your awards at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">financial aid portal</a></li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Register in the quarter for which funds are to be received by filing your a study list at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">student portal</a></li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Clear all holds</li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Check the Documents tab at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">financial aid portal</a> for any outstanding items</li>
</ul>

<hr class="section-divider">

<h4>How Funds Are Disbursed</h4>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Sign-up for Electronic Fund Transfer (EFT). Failure to sign-up may result in the delays and inconveniences associated with mailing. To sign-up, you must:</li>
	  <ol>
	    <li><a href="https://ucsfchoice.afford.com/secure/tms_ucsf_login.htm" target ="_blank">Register to receive Direct (Stafford) and Graduate PLUS Direct Deposit</a></li>
	    <li>Complete <a href="http://controller.ucsf.edu/students/files/Non-Payroll_Direct_Deposit_Request.pdf" target="_blank">Student Direct Deposit Request Form</a></li>
	  </ol>
</ul>
<p>NOTE: Direct deposit of financial aid to your bank account is available for all financial aid, including Direct (Stafford) and Graduate Plus Loans! We recommend choosing the bank account EFT option to receive funds. Choosing the debit card option will involve incurring additional costs if you intend to use the card to pay your UCSF tuition/fee balance.</p>

<hr class="section-divider">

<h4>When Funds Are Disbursed</h4>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-calendar-check-o" aria-hidden="true"></i><h5><strong><a class="accordion-toggle" data-toggle="collapse" href="#fall2017" aria-expanded="false" aria-controls="fall2017"> Fall 2017 Disbursement Schedule</a></strong></h5></li>
    <div class="collapse in" id="fall2017">
      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dental Programs
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dentistry 1</td>
                    <td>September 1, 2017</td>
                    <td>September 19, 2017</td>
                  </tr>
                  <tr>
                    <td>Dentistry 2</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Dentistry 3</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Dentistry 4</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Dental Hygiene</td>
                    <td>September 9, 2017</td>
                    <td>September 26, 2017</td>
                  </tr>
                  <tr>
                    <td>International Dentist 3</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>International Dentist 4</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dental Postgraduate Programs
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>All Dental Postgrad</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Graduate Academic Programs
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Graduate Academic</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Advanced Training Clinical Research - Masters</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Biomedical Imaging - Masters</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Global Health Sciences - Masters</td>
                    <td>August 25, 2017</td>
                    <td>September 11, 2017</td>
                  </tr>
                  <tr>
                    <td>Healthcare Admin - Masters</td>
                    <td>September 8, 2017</td>
                    <td>September 25, 2017</td>
                  </tr>
                  <tr>
                    <td>Health Policy Law - Masters</td>
                    <td>October 13, 2017</td>
                    <td>October 30, 2017</td>
                  </tr>
                  <tr>
                    <td>Translational Medicine - Masters</td>
                    <td>July 28, 2017</td>
                    <td>August 14, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Medical Programs
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Medicine 1</td>
                    <td>July 14, 2017</td>
                    <td>July 31, 2017</td>
                  </tr>
                  <tr>
                    <td>Medicine 2</td>
                    <td>July 17, 2017</td>
                    <td>August 7, 2017</td>
                  </tr>
                  <tr>
                    <td>Medicine 3</td>
                    <td>August 25, 2017</td>
                    <td>September 13, 2017</td>
                  </tr>
                  <tr>
                    <td>Medicine 4</td>
                    <td>August 25, 2017</td>
                    <td>September 13, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Nursing Programs
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MEPN</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Nurse Midwifery</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Nursing MS/Doctoral</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Nursing Post MS</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Pharmacy Programs
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pharmacy 1</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 2</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 3</td>
                    <td>September 8, 2017</td>
                    <td>September 22, 2017</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 4</td>
                    <td>September 8, 2017</td>
                    <td>September 25, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Physical Therapy Programs
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Physical Therapy 1</td>
                    <td>August 18, 2017</td>
                    <td>September 5, 2017</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 2</td>
                    <td>August 18, 2017</td>
                    <td>September 5, 2017</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 3</td>
                    <td>August 18, 2017</td>
                    <td>September 5, 2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  <li><i class="fa-li fa fa-calendar-check-o" aria-hidden="true"></i><h5><strong><a class="collapsed accordion-toggle" data-toggle="collapse" href="#summer2016" aria-expanded="false" aria-controls="summer2016"> Summer 2016 Disbursement Schedule</a></strong></h5></li>
    <div class="collapse" id="summer2016">
    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingsummer16dental">
          <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16dental" aria-expanded="true" aria-controls="summer16dental">
          Dental Programs
          </a>
          </h4>
        </div>
        <div id="summer16dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsummer16dental">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Program and Level</th>
                <th>Deadline to complete disbursement requirements</th>
                <th>Receipt of funds in bank account</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dentistry 1</td>
                <td>September 2, 2016</td>
                <td>September 16, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 2</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dental Hygiene</td>
                <td>September 13, 2016</td>
                <td>September 27, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingsummer16dentalpostgrad">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16dentalpostgrad" aria-expanded="false" aria-controls="summer16dentalpostgrad">
          Dental Postgraduate Programs
          </a>
          </h4>
      </div>
      <div id="summer16dentalpostgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer16dentalpostgrad">
      <div class="panel-body">
        ...
      </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16gradac" aria-expanded="false" aria-controls="summer16gradac">
          Graduate Academic Programs
          </a>
      </h4>
        </div>
        <div id="summer16gradac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
        ...
      </div>
        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16med" aria-expanded="false" aria-controls="summer16med">
          Medical Programs
        </a>
      </h4>
    </div>
    <div id="summer16med" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        ...
      </div>
    </div>
    </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16nursing" aria-expanded="false" aria-controls="summer16nursing">
          Nursing Programs
        </a>
      </h4>
    </div>
    <div id="summer16nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16pharmacy" aria-expanded="false" aria-controls="summer16pharmacy">
          Pharmacy Programs
        </a>
      </h4>
    </div>
    <div id="summer16pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#summer16pt" aria-expanded="false" aria-controls="summer16pt">
          Physical Therapy Programs
        </a>
      </h4>
    </div>
    <div id="summer16pt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
      ...
      </div>
    </div>
</div>
    </div>
    </div>

    <li><i class="fa-li fa fa-calendar-check-o" aria-hidden="true"></i><h5><strong><a class="collapsed accordion-toggle" data-toggle="collapse" href="#winter2017" aria-expanded="false" aria-controls="winter2017"> Winter 2017 Disbursement Schedule</a></strong></h5></li>
    <div class="collapse" id="winter2017">
    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17dental" aria-expanded="true" aria-controls="winter17dental">
          Dental Programs
          </a>
          </h4>
        </div>
        <div id="winter17dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Program and Level</th>
                <th>Deadline to complete disbursement requirements</th>
                <th>Receipt of funds in bank account</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dentistry 1</td>
                <td>September 2, 2016</td>
                <td>September 16, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 2</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dental Hygiene</td>
                <td>September 13, 2016</td>
                <td>September 27, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17dentalpostgrad" aria-expanded="false" aria-controls="winter17dentalpostgrad">
          Dental Postgraduate Programs
          </a>
          </h4>
      </div>
      <div id="winter17dentalpostgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        ...
      </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17gradac" aria-expanded="false" aria-controls="winter17gradac">
          Graduate Academic Programs
          </a>
      </h4>
        </div>
        <div id="winter17gradac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
        ...
      </div>
        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17med" aria-expanded="false" aria-controls="winter17med">
          Medical Programs
        </a>
      </h4>
    </div>
    <div id="winter17med" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        ...
      </div>
    </div>
    </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17nursing" aria-expanded="false" aria-controls="winter17nursing">
          Nursing Programs
        </a>
      </h4>
    </div>
    <div id="winter17nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17pharmacy" aria-expanded="false" aria-controls="winter17pharmacy">
          Pharmacy Programs
        </a>
      </h4>
    </div>
    <div id="winter17pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#winter17pt" aria-expanded="false" aria-controls="winter17pt">
          Physical Therapy Programs
        </a>
      </h4>
    </div>
    <div id="winter17pt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
      ...
      </div>
    </div>
</div>
    </div>
    </div>

    <li><i class="fa-li fa fa-calendar-check-o" aria-hidden="true"></i><h5><strong><a class="collapsed accordion-toggle" data-toggle="collapse" href="#spring2017" aria-expanded="false" aria-controls="spring2017"> Spring 2017 Disbursement Schedule</a></strong></h5></li>
    <div class="collapse" id="spring2017">
    <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17dental" aria-expanded="true" aria-controls="spring17dental">
          Dental Programs
          </a>
          </h4>
        </div>
        <div id="spring17dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Program and Level</th>
                <th>Deadline to complete disbursement requirements</th>
                <th>Receipt of funds in bank account</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dentistry 1</td>
                <td>September 2, 2016</td>
                <td>September 16, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 2</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dentistry 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>Dental Hygiene</td>
                <td>September 13, 2016</td>
                <td>September 27, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 3</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
              <tr>
                <td>International Dentist 4</td>
                <td>September 8, 2016</td>
                <td>September 22, 2016</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17dentalpostgrad" aria-expanded="false" aria-controls="spring17dentalpostgrad">
          Dental Postgraduate Programs
          </a>
          </h4>
      </div>
      <div id="spring17dentalpostgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        ...
      </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17gradac" aria-expanded="false" aria-controls="spring17gradac">
          Graduate Academic Programs
          </a>
      </h4>
        </div>
        <div id="spring17gradac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
        ...
      </div>
        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17med" aria-expanded="false" aria-controls="spring17med">
          Medical Programs
        </a>
      </h4>
    </div>
    <div id="spring17med" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        ...
      </div>
    </div>
    </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17nursing" aria-expanded="false" aria-controls="spring17nursing">
          Nursing Programs
        </a>
      </h4>
    </div>
    <div id="spring17nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17pharmacy" aria-expanded="false" aria-controls="spring17pharmacy">
          Pharmacy Programs
        </a>
      </h4>
    </div>
    <div id="spring17pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      ...
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#spring17pt" aria-expanded="false" aria-controls="spring17pt">
          Physical Therapy Programs
        </a>
      </h4>
    </div>
    <div id="spring17pt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
      ...
      </div>
    </div>
</div>
    </div>
    </div>
</ul>
