
  <div class="row">
    <div class="col-xs-8 col-md-4">
      <a href="/financial-literacy/spending-plan" class="thumbnail" style="text-align: center" align="center">
        <img src="sites/finaid.ucsf.edu/files/UCSF_20160914_Farmers_018a.jpg" alt="spending-plan">
        <h4>Make a Spending Plan</h4>
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="/financial-literacy/debt-management" class="thumbnail" style="text-align: center" align="center">
        <img src="sites/finaid.ucsf.edu/files/Berg_151019_012.jpg" alt="debt-management">
        <h4>Manage your Debt</h4>
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="/financial-literacy/understanding-credit" class="thumbnail" style="text-align: center" align="center">
        <img src="/sites/finaid.ucsf.edu/files/UCSF_20160218_Lamercie%20Saint-Hilaire_050.jpg" alt="understanding-credit">
        <h4>Understand Credit</h4>
      </a>
    </div>
  </div>
