<h3><i class="fa fa-cutlery" aria-hidden="true"></i> Food Security for Students</h3>

<p>The economic burdens of professional and graduate education are significant for all students, and there may be times when it is difficult for students to access a sufficient quantity of nutritious food to maintain a healthy and active life.</p>

<p>As a participant in the <a href="http://www.ucop.edu/global-food-initiative/" target="_blank">University of California Global Food Initiative</a>, UC San Francisco has established the Food Security for Students (FSFS) Program to develop and implement services and resources that address UCSF student nutrition and food insecurity. The FSFS program is supported by a campus allocation from UC President Janet Napolitano.</p>

<h4>Short-Term Solutions</h4>

<p>Contact the Financial Aid Office to apply for an emergency loan. Visit us at 500 Parnassus, Millberry Union, Rm 200 West, or call 415/476- 4181. The office is open weekdays 8 a.m. – 5 p.m. (except school holidays), and there is no need for an appointment.</p>

<p>The San Francisco-Marin Food Bank offers an emergency food program, which provides a three-day supply of food for people in crisis. Visit <a href="http://sfmfoodbank.org/find-food" target="blank">sfmfoodbank.org/find-food</a> or call 2-1-1 for locations. This service is available to all San Francisco residents (with ID) one time in a 12-month period.</p>

<p>You can also find a current list of free food pantries and free meals offered around San Francisco at <a href="http://freeprintshop.org" target="blank">freeprintshop.org</a></p>

<h4>Long-Term Solutions</h4>

<p>Students who are experiencing food insecurity on a consistent basis are strongly encouraged to <a href="/about-us/contact">contact Student Financial Aid</a> for help in finding a sustainable solution, using financial planning, debt management, and budgeting support.</p>

<p><strong>Food 4 UCSF Students App</strong></p>

<p>The Food 4 UCSF Students app can help you stretch your budget by alerting you when there is free food available on campus. The app sends a text message to your cell phone when there is food available after a catered event at UCSF. Students may drop by and pick up the food — free of charge — on a first-come, first-served basis, for a maximum of 30 minutes after an event.</p>

<p>Go to <a href="https://saa.ucsf.edu/food" target="blank">saa.ucsf.edu/food</a> and follow the simple instructions there to sign up for alerts. (Be sure to use "https" before the URL, or the app may not work.) When you get an alert, just grab your own container and go get your free food.</p>

<p>Please note: If you have a food allergy or dietary restrictions, be very cautious about using this service. Food may not always be labeled, and we cannot guarantee the absence of any common allergens in the food offered.</p>

<p>Food 4 UCSF Students was launched in July 2017 and was first tested at the Parnassus campus. As more food providers sign up, notices will also go out to students about food availability at Mission Bay. The program may expand to other UCSF locations in future. Stay tuned!</p>

<p>If you are a UCSF event organizer, please be encouraged to <a href="http://tiny.ucsf.edu/foodprovider" target="blank">register as a food provider.</a></p>

<p><strong>Don't just eat, eat right!</strong></p>

<p>UCSF Student Health and Counseling Services (SHCS) provides students with health care and wellness services, including nutrition services and workshops. Find recipes and meal plans that will help you eat well on a budget on the <a href="http://studenthealth.ucsf.edu/nutrition" target="blank">SHCS website</a>. During business hours, students may also contact SHCS at 415/476-1281 or drop by its clinics at 500 Parnassus Ave, Millberry Union West, Room 005; or 1675 Owens St, Rm 330, at Mission Bay.</p>

<p><strong>CalFresh Program </strong>(government funded food assistance program)</p>

<p>Some students are eligible to receive up to $194 per month through the CalFresh Program, known as the Supplemental Nutrition Assistance Program (SNAP) at the federal level. The program issues monthly electronic benefits that can be used to buy most foods at many markets and food stores. Applying for the program is easy and takes only about 10 minutes at <a href="https://students.getcalfresh.org/?source=ucsf" target="external">GetCalFresh.org</a>. Please review the <a href="https://finaid.ucsf.edu/sites/finaid.ucsf.edu/files/wysiwyg/resources/calfresh_student_guide.pptx">CalFresh Student Guide</a> for eligibility details, step-by-step application guidance, and availalbe resources. If you still have questions regarding eligibility or assistance with Federal Work Study verification documents, please <a href="/about-us/contact">contact us</a>.</p>

<p><strong>San Francisco-Marin Food Bank</strong></p>

<p>The Food Bank not only provides emergency assistance, as described above, but also weekly groceries and free food pantries in various neighborhoods in San Francisco and the Bay Area. To access these programs, call 2-1-1 or use the <a href="http://sfmfoodbank.org/find-food" target="blank">online food locator</a>. Anyone who feels they need it will qualify for assistance from the Food Bank, and most of their programs require participants to provide only very basic information.</p>
