<!-- FORMS -->
<h4>Quick Links:</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i><a href="#finaidforms" aria-expanded="false" aria-controls="finaidforms">Financial Aid Forms</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#loanforms" aria-expanded="false" aria-controls="loanforms">Loan Forms</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#veteransaffairsforms" aria-expanded="false" aria-controls="veteransaffairsforms">Veterans Affairs Forms</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#workstudyforms" aria-expanded="false" aria-controls="workstudyforms">Work-Study Forms</a></li>
  </ul>

<hr class="section-divider">

<div class="collapse in" id="finaidforms">
  <h4>Financial Aid Forms</h4>
  <p>
    IMPORTANT CHANGE FOR 2017-18 FINANCIAL AID: Beginning with 2017–18, financial aid applicants are required to report income information from an earlier tax year. Students (and parents, as appropriate) are asked to report their 2015 tax year income information rather than 2016. If your marital status has changed since your 2015 tax return was filed, <a href="mailto:finaid@ucsf.edu">contact</a> the Student Financial Aid Office.
  </p>
  <ul class="fa-ul dropdown">
    <li><i class="fa-li fa fa-caret-down"></i><strong><a class="accordion-toggle" data-toggle="collapse" href="#year1718" aria-expaded="false" aria-control="year1718"> Year 2017-18</a></strong></li>
      <div class="collapse in" id="year1718">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/annual_budget_1718.xlsx" target="_blank">Annual Budgeting Tool</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Appeal_to_Use_2016_Parental_Income_Information.pdf" target="_blank">Appeal to Use 2016 Parental Income Information for the 2017/2018 Academic Year</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Certification_of_Non-Filing_Federal_Income_Tax_Return.pdf" target="_blank">Certification of Non-Filing Federal Income Tax Returns - Parents</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Certification_of_Non-Filing_Student_Spouse.pdf" target="_blank">Certification of Non-Filing Federal Income Tax Returns - Student/Spouse</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-childcare-verification" target="_blank">WEBFORM: Childcare Verification Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="http://controller.ucsf.edu/students/files/Non-Payroll_Direct_Deposit_Request.pdf" target="_blank">Direct Deposit Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/content/2017-18-domestic-partner-profile" target="_blank">WEBFORM: Domestic Partner Profile</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-education-expense-request" target="_blank">WEBFORM: Education Expense Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Income_Tax_Declaration.pdf" target="_blank">Income Declaration Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Parents_Income_and_Expense.pdf" target="_blank">Parent Income & Expense Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Parent_Information_Form.pdf" target="_blank">Parent Information Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_Parent_Waiver_Request.pdf" target="_blank">Parent Waiver Request Form</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Student_Budget_Worksheet.pdf" target="_blank">Student Budget Worksheet</a></li>
          <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-summer-enrollment-nursing-students" target="_blank">WEBFORM: Summer Enrollment for Nursing Students</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<hr class="section-divider">

<div class="collapse in" id="loanforms">
  <h4>Loan Forms</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/InSchoolDeferment%20DL_FFEL_FPL.pdf" target="_blank">In-School Deferment Form for Federal Direct, Federal Perkins, & FFEL Student Loans</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/ECSI_Deferment_Form_wdef.pdf" target="_blank">In-School Deferment Form for Health Professions, LDS, and Nursing Student Loans</a></li>
      <li><i class="fa-li fa fa-circle"></i>Loan Change Forms</li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle-o"></i><a href="/content/17-18-loan-change-request-direct-unsubsidized-loan" target="_blank">WEBFORM: Direct (Stafford) Unsubsidized</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/content/17-18-loan-change-request-direct-graduate-plus-loan" target="_blank">WEBFORM: Direct Graduate PLUS</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/content/17-18-loan-change-request-campus-loan" target="_blank">WEBFORM: Campus Loan</a></li>
        </ul>
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/NFLP_RR_2012.pdf" target="_blank">Nursing Faculty Loan Entrance Counseling and Rights & Responsibilities</a></li>
    </ul>
</div>

<hr class="section-divider">

<div class="collapse in" id="veteransaffairsforms">
  <h4>Veterans Affairs Forms</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-cal-vet-college-fee-waiver-request" target="_blank">WEBFORM: Cal-Vet Fee College Fee Waiver Request</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-va-education-benefit-annual-questionnaire" target="_blank">WEBFORM: VA Education Benefit Annual Questionnaire</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-va-education-benefit-quarterly-enrollment-survey" target="_blank">WEBFORM: VA Education Benefit Quarterly Questionnaire</a></li>
    </ul>
</div>

<hr class="section-divider">

<div class="collapse in" id="workstudyforms">
  <h4>Work-Study Forms</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="/content/17-18-work-study-application" target="_blank">WEBFORM: 2017-2018 Work-Study Application</a></li>
    </ul>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i>Hiring Forms</li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_FWS_Off_Campus_Agreement.pdf" target="_blank">2017-2018 Off Campus FWS Program Agreement</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_FWS_On_Campus_Agreement.pdf" target="_blank">2017-2018 On Campus FWS Program Agreement</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/17-18_FWS_Job_Description.pdf" target="_blank">Job Description Form</a></li>
        </ul>
      <li><i class="fa-li fa fa-circle"></i>2017 Time Records</li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/FWS-TimeRecordSchedule2017.pdf" target="_blank">2017 Time Record Schedule for Students & Employers</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/2017_FWS_Blank_Timesheet.xlsx" target="_blank">2017 Blank Time Record</a></li>
        </ul>
      <li><i class="fa-li fa fa-circle"></i>2017 Time Records</li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/work_study_insurance.pdf" target="_blank">Certification of Insurance</a></li>
          <li><i class="fa-li fa fa-circle-o"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Fed_Work_Study_Contract.pdf" target="_blank">Work Study Contract</a></li>
        </ul>
    </ul>
</div>
