<!-- FRONT PAGE ARTICLE -->
<div class="col-md-8">
<h2 class="section-header">News & Announcements</h2>

<div class="panel panel-default">
  <div class="panel-body">
  <div class="news-announcements-text">
    <h4><a href="/application-process/apply-for-aid">Apply for 2018-2019 Financial Aid Now!</a></h4>
    <p>Complete the 2018-19 FAFSA and Financial Aid/COLS application.</p>
  </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
    <div class="news-announcements-text">
      <h4><a href="https://lecture.ucsf.edu/ets/Play/57e0cc3b12e14c34a2628c539b55ac0f1d" target="_blank">Strategic Borrowing and Demystifying Student Debt</a></h4>
      <p>Dr. Jeffrey Hanson, PhD, (nationally known debt management expert hired exclusively by graduate schools) meets individually with over 1,500+ professional students per year at more than 20 different graduate institutions. Sponsored by UCSF Student Financial Aid; no services are being promoted in any way. This session is to promote financial literacy among our students. View and listen to the presentation provided Monday, October 23, 2017. Download <a href="/sites/finaid.ucsf.edu/files/wysiwyg/resources/Strategies_for_Smart_Borrowers_Jeffrey_Hanson.pdf" target="_blank">PDF for this session</a>.</p>
    </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
    <div class="news-announcements-text">
      <h4><a href="https://heartland.ecsi.net" target="_blank">Transition from ACS Education to Heartland ECSI</a></h4>
      <p>If you have an institutional student loan from a University of California campus (such as a Perkins Loan, Health Professional student loan, and/or an institutional loan, but NOT a federal Direct Loan), your student loan will now be serviced by Heartland ECSI. Previously, University of California was using ACS to service your loan(s), collect payments, send billing statements, etc. This change will provide you with new options, such as paying by credit card and accessing ECSI’s EasyPath mobile app for your iPhone or Android device.</p>
    </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
    <div class="news-announcements-text">
      <h4><a href="/types-of-aid/housing-food-and-transportation/cols" target="_blank">Cost of Living Supplement</a></h4>
      <p>To bridge the gap for students enrolled in degree programs who are not living in campus housing, UCSF will offer a need-based program to provide a $2,400 Cost of Living Supplement (COLS) to current and admitted students. Learn more!</p>
    </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
    <div class="news-announcements-text">
      <h4><a href="/types-of-aid/housing-food-and-transportation/food" target="_blank">Food Security for Students</a></h4>
      <p>Having trouble making ends meet? The Food Security for Students program can help connect you with resources on campus and in the community.</p>
    </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <a type="button" class="btn btn-success btn-lg" href="http://netpartner.ucsf.edu/" target="_blank" align="center" style="width: 100%; float: right; color: #FFFFFF; margin-bottom: 20px;">Financial Aid Portal Login</a>

  <h4 align="center">Financial Aid Calendar</h4>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=356&amp;wkst=1&amp;bgcolor=%236ea400&amp;src=finaiducsf%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" title="calendar" style="border:solid 5px #efefef" width="356" height="356" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
