<!-- GRANTS -->

<h4>University Grant</h4>

    <p>The Office of the U.C. President provides grant funds to each UC campus. In awarding grants, the Student Financial Aid Office tries to ensure that all eligible students receive comparable amounts of need based "free-money" regardless of their curriculum. Make sure to apply for full funding to be eligible for a University Grant.</p>
    <hr class="section-divider">

<h4>UCSF/Professional Fee Grant</h4>
    <p>Designed to help mitigate the impact of UC fee increases, these programs provide grant funding based on financial need. Students who receive significant departmental fellowship or stipend awards will not be awarded UCSF or Professional Fee Grant Funds.</p>
	<hr class="section-divider">

<h4>Federal Pell Grant</h4>

    <p>This is an undergraduate program which provides grants to the neediest students.
	The following UCSF students may be eligible and are required to apply:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Entering pharmacy students who have fewer than 135 quarter or 90 semester units and will not have a bachelor's degree by September of their first fall quarter.</li>
    </ul>
    <p>To apply, complete and submit the <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Finaid/COLS Application</a> and also file the <a href="http://fafsa.ed.gov/" target="_blank">FAFSA</a>.</p>
