<!-- HOUSING AND FOOD BENEFITS -->

<h4>Cost of Living Supplement Program</h4>
      <strong>Purpose</strong>
        <p>San Francisco has become one of the nation's most expensive places to live. To address this reality, the University has instituted concrete plans to develop and complete a substantial amount of <a href="https://www.ucsf.edu/news/affordable-housing-ucsf" target="_blank">new campus housing</a> by 2019, but that leaves many current students without a solution in the meantime.</p>
        <p>To bridge the gap for students enrolled in degree programs who are not living in campus housing, UCSF will offer a need-based program to provide a $2,400 Cost of Living Supplement (COLS) to current and admitted students, starting in the 2016-17 academic year. The COLS may be used, at the student’s discretion, to help pay for housing or associated costs, such as commuting.</p>
      <strong>Eligibility</strong>
        <p>Students are eligible to apply for the COLS if:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle"></i>You are enrolled or will be enrolled fall 2016 in a UCSF campus-based degree program</li>AND
          <li><i class="fa-li fa fa-circle"></i>You live in the Bay Area</li>AND
          <li><i class="fa-li fa fa-circle"></i>One of the following is true:</li>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-square"></i>You are NOT living in campus housing</li>
              <li><i class="fa-li fa fa-square"></i>You are a continuing student whose two-year term in housing is ending before the start of Fall 2016</li>
            </ul>
        </ul>
        <p><i>NOTE: If you are awarded the COLS, you may be required to provide proof of rent payment by submitting a copy of your lease, rental agreement or other documentation determined to be acceptable by the Student Financial Aid Office.</i></p>
        <p>Students are NOT eligible to apply if:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle"></i>You are enrolled in a predominantly online program (e.g. MS-HAIL and MS-HPL)</li>
          <li><i class="fa-li fa fa-circle"></i>You are enrolled in a certificate-only program, such as Post Baccalaureate in Dentistry, Medicine or Pharmacy</li>
          <li><i class="fa-li fa fa-circle"></i>You have been enrolled in any campus-based degree program more than five years</li>
          <li><i class="fa-li fa fa-circle"></i>You are on a leave of absence from your program</li>
          <li><i class="fa-li fa fa-circle"></i>You are not a current student (postdocs, residents, clinical fellows, faculty members and other UCSF employees are not eligible for this program)</li>
        </ul>
      <strong>Applying</strong>
        <p>Complete and submit the <a href="https://ucsf.co1.qualtrics.com/SE/?SID=SV_1LkUujftBuYtRIx" target="_blank">online COLS application</a> AND the 2016-17 <a href="https://fafsa.ed.gov/" target="_blank">Free Application for Federal Student Aid</a> (FAFSA) by July 1, 2016 as instructed below.</p>
        <p>In order to establish financial need, all students who apply for the COLS must complete the FAFSA. The FAFSA requires students to provide a statement of their personal income and assets as well as information about spousal income and assets if a student is married. The University acknowledges that our students are adults who are independent of their parents. However, to determine financial need for this program, we must mirror the requirements of federal regulations and campus policy for awarding need-based financial aid. Hence, students under the age of 30 will need to provide parental income and asset information on the FAFSA as well.</p>
	    <ul class="fa-ul">
	    <li><i class="fa-li fa fa-caret-right"></i><a data-toggle="collapse" href="#applicants-no-parental-info" aria-expanded="false" aria-controls="applicants-no-parental-info">Continuing or new students who did not submit parental information</a></li>
	    <div class="collapse" id="applicants-no-parental-info">
	      <p>Continuing or new financial aid applicants who did not submit parental information on the FAFSA or CSS Profile (current or any prior school year) can return to their online FAFSA and add it. Those who have previously submitted parental information to the Student Financial Aid Office in any prior school year need not do so again.</p>
	    </div> 

	    <li><i class="fa-li fa fa-caret-right"></i><a data-toggle="collapse" href="#undocumented" aria-expanded="false" aria-controls="undocumented">Undocumented, AB540-eligible Students</a></li>
	    <div class="collapse" id="undocumented">
	      <p>Undocumented, AB540-eligible students may apply, but should contact the Student Financial Aid Office for further instructions after submitting the COLS application.</p>
	    </div> 
	    
	    <li><i class="fa-li fa fa-caret-right"></i><a data-toggle="collapse" href="#daca" aria-expanded="false" aria-controls="daca">DACA, AB540-eligible Students</a></li>
	    <div class="collapse" id="daca">
	      <p>DACA AB540-eligible students may apply and should complete the FAFSA, including parental information as indicated above.</p>
	    </div> 
	    
	    <li><i class="fa-li fa fa-caret-right"></i><a data-toggle="collapse" href="#international" aria-expanded="false" aria-controls="international">International Students</a></li>
	    <div class="collapse" id="international">
	      <ul class="fa-ul">
	        <li><i class="fa-li fa fa-circle"></i>International students should complete the FAFSA only if they have a valid Social Security Number (SSN). Students who do not have a Social Security Number should contact the Student Financial Aid Office for further instructions after submitting the COLS application.</li>
	        <li><i class="fa-li fa fa-circle"></i>Receiving funds from the COLS program may have an impact on the aid that international students receive from their home country, home institution, or sponsoring organization. Please consult with your sponsors before applying for COLS.</li>
	        <li><i class="fa-li fa fa-circle"></i>International students will need to set up a bank account in the United States in order to receive fund distribution from COLS.</li>
	      </ul>
	    </div> 
	    </ul>
	    
      <strong>Fulfillment</strong>
        <p>Students who are awarded the COLS will be notified after August 15, 2016 and receive a one-time payment later in the fall. The supplement, like all stipends and scholarships, will be considered taxable income by the IRS.</p>
      <strong>Support</strong>
        <p>Funding for the COLS program will come from a philanthropic gift for student support together with contributions from UCSF Health and the UCSF schools. Extension of the program beyond 2016-17 will be contingent on its effectiveness and the availability of funds.</p>
      <strong>Questions</strong>
        <p>
        <a type="link" data-toggle="modal" data-target=".cols-questions" align="center">Frequently Asked Questions about COLS</a>
        <div class="modal fade cols-questions" tabindex="-1" role="dialog" aria-labelledby="cols-questionsLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cols-questionsLabel"></h4>
              </div>
              <div class="modal-body">
              ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <p>Send your questions about COLS to: <a href="mailto:COLSQuestions@ucsf.edu">COLSQuestions@ucsf.edu</a></p>
         
    <hr class="section-divider">

<h4>Food Security for Students Program</h4>
    <p>The economic burdens of professional and graduate education are significant for all students, and there may be times when it is difficult for students to put food on the table.</p>
    <p>As a participant in the <a href="http://www.ucop.edu/global-food-initiative/" target="_blank">University of California Global Food Initiative</a>, UC San Francisco has established the Food Security for Students (FSFS) Program to ensure that our students have reliable access to a sufficient quantity of affordable, nutritious food.</p>
    <p>Please note that only currently registered UCSF students are eligible to receive assistance under the FSFS Program. Residents, postdocs, interns, faculty, staff, etc. are not eligible for the program.</p>
    <p>In order to offer flexibility, convenience, and a diversity of healthy eating choices, the FSFS Program will provide a grocery gift card ($50) and a Nutrition and Food Services gift card ($20) to any student requesting support.</p>
    <p>The FSFS Program is designed to give assistance to students who need it urgently, and you will not be asked to prove your need for help.</p>
    <p>Because resources for the Program are limited, it is not a viable solution for students who face ongoing issues with access to food. Student Financial Aid personnel will ask students who request assistance through the FSFS Program more than one time in a given month or more than two times in a single academic quarter to meet with a financial aid advisor, who will help such students to explore other, more sustainable options for support.</p>
    <p>The FSFS program is supported by a $75K campus allocation from UC President Janet Napolitano.</p>
    <strong>How to Get Help</strong>
      <p>To get an FSFS packet, <a href="https://ucsf.co1.qualtrics.com/SE/?SID=SV_6X35ON5X42H77iB" target="_blank">please fill out this simple online form</a>. Then, pick up your packet at the Mission Bay or Parnassus location indicated on the form. Please allow at least 30 minutes for us to process your request. Requests received after 4pm weekdays, or on a holiday or weekend, will be ready to pick up by 9am on the next business day.</p>
    <strong>Using Your FSFS-Provided Gift Cards</strong>
      <p>Nutrition & Food Services gift cards may be used at UCSF Hospital eateries located at the Moffitt Café, Moffitt Café Express, or 920 Express at the Parnassus campus; Bay Café Express or Shorenstein Family Café at Mission Bay; or the Mount Zion Café at Mt Zion.</p>
      <p>The Safeway gift cards provided may be used at any Safeway store. See <a href="http://www.safeway.com" target="_blank">Safeway</a> for a list of stores in San Francisco and the greater Bay Area.</p>


