<h3><i class="fa fa-home" aria-hidden="true"></i> Cost of Living Supplement</h3>

<p>San Francisco has become one of the nation's most expensive places to live. To address this reality, the University has instituted concrete plans to develop and complete a substantial amount of&nbsp;<a href="https://www.ucsf.edu/news/affordable-housing-ucsf" target="_blank">new campus housing</a>&nbsp;by 2019, but that leaves many current students without a solution in the meantime.</p>

<p>To bridge the gap for students enrolled in degree programs who are not living in campus housing, UCSF will continue to offer a need-based program to provide a $2,400 Cost of Living Supplement (COLS) to current and admitted students in the 2018-19 academic year. The COLS may be used, at the student’s discretion, to help pay for housing or associated costs, such as commuting.</p>

<h4>Eligibility</h4>

<p>Students&nbsp;<em><strong>are eligible</strong></em>&nbsp;to apply for the COLS if:</p>

<p>• You are enrolled or will be enrolled fall 2018 in a UCSF campus-based degree program<br />
<em>AND</em><br />
• You live in the Bay Area<br />
<em>AND</em><br />
• One of the following is true:<br />
a) You are NOT living in campus housing<br />
b) You are a continuing student whose two-year term in housing is ending&nbsp;<em>before</em>&nbsp;the start of Fall 2018<br />
<br />
Students are&nbsp;<em><strong>not eligible</strong></em>&nbsp;to apply if:</p>

<p>• You are enrolled in a predominantly online program (e.g. DNP, MS-HAIL and MS-HPL).<br />
• You are enrolled in a certificate-only program, such as Post Baccalaureate in dentistry, medicine or pharmacy.<br />
•&nbsp;<b>You have been enrolled in any campus-based degree program more than five years.</b><br />
• You are on a leave of absence from your program.<br />
• You are not a current student. (Postdocs, residents, clinical fellows, faculty members and other UCSF employees are not eligible for this program.)</p>

<h4>Applying</h4>

<p>Complete and submit the&nbsp;<a href="https://netpartner.ucsf.edu/NetPartnerStudent/logon.aspx"><b>Finaid/COLS Application</b></a>&nbsp;AND the 2018-19 <a href="https://fafsa.ed.gov/" target="_blank">Free Application for Federal Student Aid</a>&nbsp;(FAFSA) by March 5, 2018 for continuing students, and June 18, 2018 for entering students.</p>

<p>In order to establish financial need, all students who apply for the COLS must complete the FAFSA.&nbsp;<strong>The&nbsp;<a href="https://fafsa.ed.gov/" target="_blank">FAFSA</a>&nbsp;requires students to provide a statement of their personal income and assets as well as information about spousal income and assets if a student is married.</strong>&nbsp;The University acknowledges that our students are adults who are independent of their parents. However, to determine financial need for this program, we must mirror the requirements of federal regulations and campus policy for awarding need-based financial aid. Hence,&nbsp;<strong>students under the age of 30 will need to provide parental income and asset information on the FAFSA as well.</strong></p>

<p><strong>Continuing or new financial aid applicants</strong>&nbsp;who did not submit parental information on the&nbsp;FAFSA or CSS Profile (current or any prior school year) can return to their online FAFSA and add it. Those who have previously submitted parental information to the Student Financial Aid Office in any prior school year need not do so again.</p>

<p><strong>Undocumented, AB540-eligible</strong>&nbsp;students may apply, but should contact the Student Financial Aid Office for further instructions&nbsp;<em>after</em>&nbsp;submitting the COLS application.&nbsp;<strong>DACA AB540-eligible</strong>&nbsp;students may apply and should complete the (paper)&nbsp;<a href="https://fafsa.ed.gov/fotw1718/pdf/fafsaws17c.pdf">FAFSA Worksheet</a>, including parental information as indicated above. &nbsp;The FAFSA Worksheet should be submitted directly to the Student Financial Aid Office. &nbsp;</p>

<p><strong>International Students</strong></p>

<p>• International students should complete the FAFSA only if they have a valid Social Security Number (SSN). Students who do not have a Social Security Number should contact the Student Financial Aid Office for further instructions&nbsp;<em>after</em>&nbsp;submitting the COLS application.<br />
• Receiving funds from the COLS program may have an impact on the aid that international students receive from their home country, home institution, or sponsoring organization. Please consult with your sponsors before applying for COLS.<br />
• International students will need to complete tax documents and set up a bank account in the United States in order to receive fund distribution from COLS.</p>

<p>Should the COLS program continue beyond 2018-19, students will need to reapply for the supplement in future years.</p>

<h4>Fulfillment</h4>

<p>Students who are awarded the COLS will be notified after July 30, 2018 and receive a one-time payment on November 1, 2018. The supplement, like all stipends and scholarships, will be considered taxable income by the IRS.</p>

<h4>Support</h4>

<p>Funding for the COLS program will come from a philanthropic gift for student support together with contributions from UCSF Health and the UCSF schools. Extension of the program beyond 2018-19 will be contingent on its effectiveness and the availability of funds.</p>

<h4>Questions?</h4>

<p><a href="/types-of-aid/housing-food-and-transportation/cols/cols-faq">See a list of FAQs</a>&nbsp;or send your questions about COLS to:&nbsp;<a href="mailto:COLSQuestions@ucsf.edu">COLSQuestions@ucsf.edu</a></p>
