<!-- International Dentist Program -->

  <h4>Apply for Aid</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><strong><a class="accordion-toggle" data-toggle="collapse" href="#citizens-permanent" aria-expanded="false" aria-control="citizens-permanent">US Citizens & Permanent Residents</a></strong></li>
    <div class="collapse in" id="citizens-permanent">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete <a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a>.</li>
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete UCSF Finaid/COLS Application at <a href="https://netpartner.ucsf.edu/NetPartnerStudent" target="_blank">UCSF Financial Aid Portal</a>. A username and password will be sent to you via e-mail.</li>
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>E-sign Federal Direct Loan Master Promissory Note at <a href="http://studentloans.gov/" target="_blank">Federal Student Aid</a>. At this site you will e-sign for both the subsidized/unsubsidized and graduate PLUS loans if you are interested in funding up to the total cost of attendance, including living expenses.</li>
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete <a href="/types-of-aid/loans" target="_blank">Entrance Loan Counseling</a>.</li>
      </ul>
    </div>


      <li><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><strong><a class="collapsed accordion-toggle" data-toggle="collapse" href="#international" aria-expanded="false" aria-control="international">International Students</a></strong></li>
    <div class="collapse" id="international">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete UCSF Finaid/COLS Application at <a href="https://netpartner.ucsf.edu/NetPartnerStudent" target="_blank">UCSF Financial Aid Portal</a>. A username and password will be sent to you via e-mail.</li>
        <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Choose a <a href="http://beta.elmselect.com/link/query?schoolid=166&amounttoborrow=1&graduationdate=01/01/2000" target="_blank">private lender</a>. Your choice is not limited to those institutions on our list. You may choose any lender you like that offers private educational loans. The borrower benefits listed online on the day the lender pre-approves your loan will apply to you.</li>
      </ul>
    </div>
    </ul>

<hr class="section-divider">

  <h4>Cost of Attendance</h4>
    <p>The tuition and student services fees are currently approved amounts. These figures may not be final. Actual tuition, fees, and charges are subject to change by the Regents of the University of California and could be affected by increases or reductions in State funding, or other developments. Accordingly, final approved amounts (and thus your final balance due) may differ from the amounts shown below.</p>
    <p>Please see <a href="/application-process/student-budget/#collapseOne" target="_blank">student budget</a> for Dental Programs for current total estimated cost of attendance.</p>
