<!-- LOAN DISCLOSURES: TERMS & CONDITIONS -->
<ul class="fa-ul">
  <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Free or lower-cost Title IV federal, state, or school student financial aid may be available in place of, or in addition to, a private education loan. To apply for Title IV federal grants, loans and work-study, submit a Free Application for Federal Student Aid (FAFSA) available at <a href="http://www.fafsa.ed.gov/" target="_blank">www.fafsa.ed.gov</a>, or by calling 1-800-4-FED-AID, or from the school’s financial aid office.</li>
  <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>A private education loan may reduce eligibility for free or lower-cost federal, state, or school student financial aid. Comparisons of federal versus private loans are available from the <a href="http://studentaid.ed.gov/types/loans/federal-vs-private" target="_blank">Department of Education</a> and <a href="https://www.aamc.org/services/first/first_factsheets/285378/federalvsprivate.html" target="_blank">Association of American Medical Colleges (AAMC)</a>. Federal loan programs generally offer better terms and conditions than private loans.</li>
  <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>In compliance with SB 1289, we are providing the following <a href="http://www.ucop.edu/student-affairs/_files/loans/sb1289-with-uc-loans.pdf" target="_blank">disclosure</a> about loans:
Federal student loans are available to most students regardless of income and provide a range of repayment options including income-based repayment plans and loan forgiveness benefits, which other education loans are not required to provide.</li>
  <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>You are strongly encouraged to pursue the availability of free or lower-cost financial aid with the school’s financial aid office.</li>
</ul>
<p>
  Title IV student financial aid includes the Federal Pell Grant Program, the Academic Competitiveness Grant (ACG) Program, the Federal Supplemental Educational Opportunity Grant (FSEOG) Program, the Leveraging Educational Assistance Partnership (LEAP) Program, the Federal Family Education Loan Program (FFELP), the Federal Work-Study (FWS) Program, the William D. Ford Federal Direct Loan (Direct Loan) Program, the Federal Perkins Loan Program, the National Science and Mathematics Access to Retain Talent Grant (National SMART Grant) Program, and the Teacher Education Assistance for College and Higher Education (TEACH) Grant Program. To apply for Title IV federal grants, loans, and work-study, submit a Free Application for Federal Student Aid (FAFSA), which is available at <a href="http://www.fafsa.gov/" target="_blank">www.fafsa.gov</a>, by calling 1-800-4-FED-AID, or from the school’s financial aid office.
</p>
<p>
  A private education loan is a loan provided by a private education lender that is not a Title IV loan and that is issued expressly for postsecondary education expenses, regardless of whether the loan is provided through the school that the student attends or directly to the borrower from the private education lender. A private education loan does not include (1) An extension of credit under an open-end consumer credit plan, a reverse mortgage transaction, a residential mortgage transaction, or any other loan that is secured by real property or a dwelling; or (2) An extension of credit in which the school is the lender if the term of the extension of credit is 90 days or less or an interest rate will not be applied to the credit balance and the term of the extension of credit is one year or less, even if the credit is payable in more than four installments.
</p>
<h4>Campus Based Loans - Truth in Lending Act Disclosures</h4>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/TILA_FirstAppr.pdf" target="_blank">Approval Form</a></li>
  <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/TILA_SelfCert.pdf" target="_blank">Self Certification Form</a></li>
  <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/TILA_FinalAppr.pdf" target="_blank">Final Approval Form</a></li>
</ul>

<h4>Loans for Disadvantaged Students</h4>
<p>
  The Loans for Disadvantaged Students has a fixed interest rate of 5%. The annual maximum loan limit is cost of attendance minus expected family contribution and any other aid. Repayment and interest begin one year after the student ceases full-time studies or obtains the first professional degree.
</p>
<p><a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Loan_for_Disadvantaged_Students_MPN.pdf" target="_blank">Loans for Disadvantaged Students Master Promissory Note (MPN)</a>
</p>

<h4>Health Professions Student Loans</h4>
<p>
  The Health Professions Students Loans has a fixed interest rate of 5%. The annual maximum loan limit is cost of attendance minus expected family contribution and any other aid. Repayment and interest begin one year after the student ceases full-time studies or obtains the first professional degree.
</p>
<p>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Health_Professions_Student_Loan_MPN.pdf" target="_blank">Health Professions Student Loans Master Promissory Note</a>
</p>

<h4>Nursing Faculty Loans</h4>
<p>
  The Nursing Faculty Loans has a fixed interest rate of 3%. The annual maximum loan limit is $30,000.
</p>
<p>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Nursing_Faculty_Loan_MPN.pdf" target="_blank">Nursing Faculty Loan Master Promissory Note</a>
</p>

<h4>Nursing Student Loans</h4>
<p>
  The Nursing Student Loans has a fixed interest rate of 5%. The maximum amount a student may borrow is $3,300 for each of the first two years and $5,200 for each of the final two years. Repayment and interest begin nine months after graduation or if the borrower ceases to be a full-time student.
</p>
<p>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Nursing_Student_Loan_MPN.pdf" target="_blank">Nursing Student Loans Master Promissory Note</a>
</p>

<h4>Primary Care Loans</h4>
<p>
  The Primary Care Loan for graduate students has a fixed interest rate of 5%. The maximum amount of loan that can be borrowed is cost of attendance minus expected family contribution and any other aid. Amounts beyond the annual maximum limit may be available to third and fourth year students, if the access funds are only used to repay outstanding balances on loans taken out while the student was in attendance at UCSF. Repayment and interest begin one year after the student ceases full-time studies or obtains the first professional degree.
</p>
<p>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/Primary_Care_Loan_MPN.pdf" target="_blank">Primary Care Loan Master Promissory Note</a>
</p>

<h4>University Loans</h4>
<p>
  The University Loan has a fixed interest rate of 5%. There isn't an annual or aggregate maximum loan limit. Repayment and interest accrual begins six months after graduation or withdrawal from school.
</p>
<p>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/University_Loan_MPN.pdf" target="_blank">University Loan Master Promissory Note</a>
</p>

<h4>Private Loans</h4>
<p>
  University loans are considered to be “private” loans even though their interest rates and repayment benefits are often comparable or even better than federal loan rates and benefits. In compliance with SB 1289, we are providing the following <a href="http://www.ucop.edu/student-affairs/_files/loans/sb1289-with-uc-loans.pdf" target="_blank">disclosure</a> about loans.
</p>
<p>
  Students considering student loans need to be aware of the differences between federal student loans and private student loans:
</p>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-circle"></i>Federal student loans are required by law to provide a range of flexible repayment options including, but not limited to, income-based and income-contingent repayment plans, as well as loan forgiveness benefits that private lenders are not required to provide.</li>
  <li><i class="fa-li fa fa-circle"></i>Federal direct loans are available to most students regardless of income. Other qualification criteria do apply. For more information, please visit <a href="http://www.studentaid.ed.gov/eligibility" target="_blank"> http://www.studentaid.ed.gov/eligibility</a>.</li>
  <li><i class="fa-li fa fa-circle"></i>Private student loan lenders can offer variable interest rates that can increase or decrease over time, depending on market conditions.</li>
  <li><i class="fa-li fa fa-circle"></i>The interest rate on a private loan may depend on the borrower’s and/or co-signer’s credit rating.</li>
  <li><i class="fa-li fa fa-circle"></i>Private student loans have a range of interest rates and fees and students should determine the interest rate of, and any fees associated with, the private student loan included in their financial aid award package before accepting the loan. Students should contact the lender of the private student loan or their UC campus’ financial aid office if they have any questions about a private student loan.</li>
</ul>
<p>
  Some UC campuses offer students their own private (institutional) student loans. Students offered a UC institutional private student loan should know that:
</p>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-circle"></i>Interest rates on UC loans will be fixed, not variable</li>
  <li><i class="fa-li fa fa-circle"></i>UC loans can have a range of interest rates</li>
  <li><i class="fa-li fa fa-circle"></i>UC loans are not awarded based on the credit history of the borrower</li>
  <li><i class="fa-li fa fa-circle"></i>UC loans do not require a co-signer</li>
</ul>
