<!-- LOANS -->
    <div class="step-mini">
      <div class="step-line-mini"></div>
        <div class="step-label-wrapper-mini">
          <div class="step-label-mini">Step</div>
          <div class="step-number-mini">1</div>
        </div>
      <div class="step-content-mini">
        <h4>Applying for Loans</h4>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Explore <a href="/types-of-aid/loans/types-of-loans" target="_blank">Types of Loans</a> for detailed information about your options.</li>
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Follow the steps outlined in <a href="/application-process/apply-for-aid">Apply for Aid</a>.</li>
        </ul>
      </div>
    </div>

    <div class="step-mini">
      <div class="step-line-mini"></div>
        <div class="step-label-wrapper-mini">
          <div class="step-label-mini">Step</div>
          <div class="step-number-mini">2</div>
        </div>
      <div class="step-content-mini">
        <h4>Receiving Loans</h4>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Accept your loans through <a href="https://netpartner.ucsf.edu/NetPartnerStudent/PgHome.aspx" target="_blank">UCSF Financial Aid Portal</a>.</li>

          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Complete a Master Promissory Note (MPN) at <a href="http://studentloans.gov/"target="_blank">studentloans.gov</a>.</li>

          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Complete Entrance Loan Counseling for Federal Loans at <a href="http://studentloans.gov/"target="_blank">studentloans.gov</a>.</li>

          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Complete Entrance Loan Counseling for <a type="link" data-toggle="popover" data-placement="top" data-content="University Loan, Health Professions Loan, Disadvantaged Student Loan, Nursing Student Loan and Nurse Faculty Loan (also referred to as an Institutional Loan)">Campus Based Loans</a> through <a href="https://www.fc.campusoncall.com/cgi-bin/home.pl?campus=ucsf" target="_blank">Financial Counselor System</a>.</li>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-square"></i>Allow 15-20 minutes to complete the counseling.</li>
            <li><i class="fa-li fa fa-square"></i>Be prepared to list the addresses and phone numbers for three references.</li>
            <li><i class="fa-li fa fa-square"></i>When prompted, select loan type(s) based on accepted awards this school year. For the Nurse Faculty and University Loan Programs, select 'Institutional Loan(s)'.</li>
            <li><i class="fa-li fa fa-square"></i>Student Financial Aid will receive electronic confirmation once you complete this requirement.</li>
          </ul>

          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Sign Up for Direct Deposit.</li>
        </ul>
      </div>
    </div>

    <div class="step-mini">
      <div class="step-line-mini"></div>
        <div class="step-label-wrapper-mini">
          <div class="step-label-mini">Step</div>
          <div class="step-number-mini">3</div>
        </div>
      <div class="step-content-mini">
        <h4>Canceling Loans (Optional)</h4>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Complete appropriate Loan Change Request form.</li>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-square" aria-hidden="true"></i><a href="https://ucsf.co1.qualtrics.com/jfe/form/SV_3qOcKZ9fNulDTI9" target="_blank">Direct (Stafford) Unsubsidized</a></li>
            <li><i class="fa-li fa fa-square" aria-hidden="true"></i><a href="https://ucsf.co1.qualtrics.com/jfe/form/SV_ebNg0uAI64J8LGJ" target="_blank">Direct Graduate PLUS</a></li>
            <li><i class="fa-li fa fa-square" aria-hidden="true"></i><a href="https://ucsf.co1.qualtrics.com/jfe/form/SV_6gmRV2KAjZ3CTDT" target="_blank">Campus Loan</a></li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="step-mini" about typeof>
        <div class="step-label-wrapper-mini">
          <div class="step-label-mini">Step</div>
          <div class="step-number-mini">4</div>
        </div>
      <div class="step-content-mini">
        <h4>After Leaving School or Graduating</h4>
        <p>Any student who graduates, withdraws, or leaves the University for more than one quarter on a leave of absence, must complete the appropriate exit interview process for his or her loans. UCSF is required to follow up on a borrower’s compliance with this requirement and transcripts may be held if students do not complete the required counseling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Complete loan exit counseling at <a href="http://www.studentloans.gov/" target="_blank">www.studentloans.gov</a> if you borrowed using Federal Direct (Stafford) or Graduate PLUS loan.</li>
          <ul class="fa-ul">
          <li><i class="fa-li fa fa-square"></i>This exit counseling session will list a student’s Direct and Perkins student loan data and will model repayment under available repayment plans, give servicer information, and provide estimated payments using the income-driven repayment plans.</li>
          <li><i class="fa-li fa fa-square"></i>Be prepared to provide two references during this online session.</li>
          <li><i class="fa-li fa fa-square"></i>The UCSF contact for these types of loans is <a href="mailto:daniel.roddick@ucsf.edu">Daniel Roddick</a>, Resource Advisor in the Financial Aid Office.</li>
        </ul>
          <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>You will receive an email from the servicer Heartland ECSI prompting you to complete Exit Counseling if you borrowed a Perkins Loan, Health Professions Loan, Loan for Disadvantaged Students, Nursing Student Loan, or a University Loan.</li>
          <ul class="fa-ul">
          <li><i class="fa-li fa fa-square"></i>This on-line session will review the various grace periods and  repayment requirements as well as quarterly payment amounts that will need to be made.</li>
          <li><i class="fa-li fa fa-square"></i>Be prepared to provide 3 references for this on-line exit counseling.</li>
          <li><i class="fa-li fa fa-square"></i>The UCSF contact for these types of loans is Student Accounting Office and the following counselors:</li>
          <ul class="fa-ul">
              <li><i class="fa-li fa fa-square"></i>Contact <a href="mailto:maria.santiago@ucsf.edu">Maria Santiago</a> (415) 476-1341 if your last name starts with A-L.</li>
              <li><i class="fa-li fa fa-square"></i>Contact <a href="mailto:lawrence.calhoun@ucsf.edu">Lawrence Calhoun</a> (415) 502-4591 if your last name starts with M-Z.</li>
          </ul>
          <li><i class="fa-li fa fa-square"></i>Students will manage their loan repayment for these types of loans through <a href="https://heartland.ecsi.net" target="_blank">Heartland ECSI</a>.</li>
        </ul>
        </ul>
      </div>
    </div>
