<!-- POLICIES AND GUIDELINES -->


<h4>Quick Links:</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i><a href="#awarding-packaging" aria-expanded="false" aria-controls="awarding-packaging">Awarding and Packaging</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#campus-policies" aria-expanded="false" aria-controls="campus-policies">Contracts, Disclosures, and Campus Policies</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#eligibility-determination" aria-expanded="false" aria-controls="eligibility-determination">Eligibility Determination</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#gainful-employment-disclosure" aria-expanded="false" aria-controls="gainful-employment-disclosure">Gainful Employment Disclosures</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#rights-responsibilities" aria-expanded="false" aria-controls="rights-responsibilities">Students' Rights and Responsibilities</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#withdrawing-from-school" aria-expanded="false" aria-controls="withdrawing-from-school">Withdrawing from School</a></li>
  </ul>

  <hr class="section-divider">

  <div class="collapse in">
  <a id="awarding-packaging"><h3>Awarding and Packaging</h3></a>

      <strong>Awarding Philosophy</strong>
      <p>Financial aid is awarded to students who have demonstrated financial need, in accordance with federal and UCSF policies.  Financial aid is awarded based on the concept of equity packaging.</p>
      <p>Due to the high cost of a health professions education, UCSF generally requires parental financial information for students who apply for Full Funding. A student’s eligibility is based on his/her own financial situation, as well as the financial strength of the parents of the student. The parents' financial situation does not affect the dollar amount of financial aid but does affect the type of aid offered.</p>
      <p>Students who come from lower-income families qualify for greater percentages of grant and scholarship funding. The equity (free money portion) can change from year to year based on the total amount of dollars available from all sources and the number of students who are eligible for equity funding. Sources include the University Student Aid Program (USAP), Professional Fee return to aid, departmental funding and scholarship dollars.</p>
      <p>Students who do not submit parental information (or who submit parent information but are found to be ineligible for equity packaging) receive a minimum grant award. The minimum grant is based on available funds from professional fee and USAP monies.</p>

      <strong>Packaging Policy</strong>
      <ul class="fa-ul dropdown">
        <li><i class="fa-li fa fa-caret-down"></i><a class="accordion-toggle" data-toggle="collapse" href="#basic-funding" aria-expanded="false" aria-control="basic-funding">Basic Funding</a></li>
      <div class="collapse in" id="basic-funding">
        <p>Students who qualify for Basic Funding may receive a minimum grant and are eligible to apply for loans, including the federal Perkins and Direct (Stafford) loans.</p>
      </div>
      <li data-toggle="collapse" href="#full-funding"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="full-funding">Full Funding</a></li>
      <div class="collapse" id="full-funding">
        <p>Students who qualify for Full Funding also receive additional grant and scholarship funds, university loans over and above those available to basic funding students, and funding from Health and Human Services (HHS) programs (including both loans and scholarships), depending on eligibility.</p>
      </div>
      <li data-toggle="collapse" href="#free-money"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="free-money">Free Money</a></li>
      <div class="collapse" id="free-money">
        <p>Grants and scholarships are "free money" and do not have to be repaid. These are awarded to the extent permitted by guidelines and funding levels. The level of grant and scholarship aid can vary from year to year (or within a single year) depending on your eligibility, the availability of funds, and/or your budget. The information you provide allows us to determine a targeted level for awarding "free money." This is known as equity packaging.</p>
      </div>
      <li data-toggle="collapse" href="#loans"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="loans">Loans</a></li>
      <div class="collapse" id="loans">
        <p>Loans are awarded after we have determined your eligibility for the free money.  Subsidized university loans, federal Perkins Loans, and HHS Loans are awarded next, based on eligibility. If the combination of grants and subsidized loans does not meet your financial need, additional funds can be obtained through a variety of unsubsidized loans.</p>
        <p>From time to time, standard budgets must be adjusted as a result of mandatory fee changes, required enrollment period changes, University housing cost adjustments, and so forth. To the extent possible, awards are re-adjusted to equity when this occurs.</p>
        <p>If you receive additional loans and/or grants and scholarships (other than those awarded or administered by our office) after your aid is packaged, adjustments may be needed to avoid causing an over award. Depending on the additional aid and existing policies, loans and/or unmet need are generally reduced first.</p>
      </div>
  </div>

  <hr class="section-divider">

  <a id="campus-policies"><h3>Contracts, Disclosures, and Campus Policies</h3></a>
    <h4>Financial Aid Contracts and Agreements</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/University%20of%20California%20-%20Refunding%20Agreement.pdf" target="_blank">University of California - Refunding Agreement</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/Tuition%20Management%20Systems%20%28TMS%29-UC%20Agreement%20Extension%20through%2011-30-2017%20FE%20%282%29.pdf" target="_blank">Tuition Management Systems (TMS)-UC Agreement Extension through 11-30-2017</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/TMS-UC%20Agreement%20%23088-OP-242%2012-9-2013.pdf" target="_blank">Tuition Management Systems (TMS)-UC Agreement</a></li>
    </ul>
    <h4>Financial Aid Prepaid Card Program Disclosure</h4>
    <p>Please note that since UCSF had less than 30 enrolled students with a prepaid card for the award year of 2016-2017 no calculated refund information should be required to be listed by the Department of Education.</p>
    <h4>Policies, Compliance, and Guidelines</h4>
    <p>Student Academic Affairs provides more information about various <a href="http://studentaffairs.ucsf.edu/policies-compliance-guidelines-reports" target="_blank">campus policies, compliance, guidelines and reports</a>.</p>

  <hr class="section-divider">

  <div class="collapse in">
  <a id="eligibility-determination"><h3>Eligibility Determination</h3></a>
    <p>Complex federal, state and University of California regulations dictate the manner in which we determine eligibility and provide assistance. Our goal is to efficiently balance regulation compliance with the day to day needs of our students.</p>
    <p>Generally, financial aid eligibility is equal to the student budget less expected family contribution from earnings and assets, and other resources. Financial aid eligibility is the amount need-based funding a student may receive from University sources; federal programs such as Direct (Stafford) Loans; and loans, fellowships and scholarships from outside organizations.</p>
    <p>Other resources include but are not limited to untaxed income, gifts, and benefits from government programs (Social Security, Temporary Assistance for Needy Families, Veterans Benefits, Vocational Rehabilitation, etc.).</p>
    <p>Expected family contribution is based on the income and asset information reported on the FAFSA. Read below for further details about how income and assets are assessed.</p>
    <p>Some students have been selected for a process called verification. The U.S. Department of Education requires us to verify the information used to complete the Free Application for Federal Student Aid (FAFSA) by collecting supporting documentation from students who are selected for verification during FAFSA processing.  If you are selected for verification, you will receive notification from the Department of Education via the Student Aid Report.  The Student Financial Aid Office also notifies you about the verification process and may request additional documents.  You will find Verification Forms and instructions <a href="/forms">here</a>.  Your financial aid package is conditional, and subject to change, until the verification process is completed and funds cannot be released to you. Once the verification review is complete, your Financial Aid Hold will be removed from your record.</p>
    <p>Note: The following should only be used to estimate a contribution from income and assets. The actual amount used to determine financial aid eligibility will be calculated when the completed application is reviewed.</p>
    <ul class="fa-ul dropdown">
      <li data-toggle="collapse" href="#student-spouse-contribution-from-earnings"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="student-spouse-contribution-from-earnings"> Student and Spouse Contribution from Earnings</a></li>
    <div class="collapse" id="student-spouse-contribution-from-earnings">
	  <p>Student and spouse's prior year income (2014 income for the 2015-2016 school year) is used to determine the amount expected as a contribution toward educational costs. Student Financial Aid, however, may make an exception when prior year earnings do not adequately reflect a student's current ability to contribute towards educational costs.</p>
	  <p>Generally, based on federal methodology for the 2015-2016 academic year, dependent students must contribute 50 percent of their prior year income less a $6,310 income protection allowance. Independent students without a spouse or child must contribute 50 percent of their prior year income less a $9,810 income protection allowance. For students who are married or are single parents, a portion of prior year income is also protected and viewed as meeting the living costs of the spouse/children.</p>
	</div>
	  <li data-toggle="collapse" href="#student-spouse-contribution-from-assets"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="student-spouse-contribution-from-assets">Student and Spouse Contribution from Assets</a></li>
    <div class="collapse" id="student-spouse-contribution-from-assets">
	  <p>Savings, trusts, bonds, property, etc. are assessed to determine if a contribution will be expected. An asset protection allowance, based on age and family size, is given to self-supporting students over 25 years-of-age and parents of dependent students. For the 2015-2016 academic year, dependent students do not receive an asset protection allowance and are expected to contribute 20 percent of total assets towards educational costs. Independent students with no children are expected to contribute 20 percent of assets, less the asset protection allowance.</p>
	  <p>When completing the financial aid application and estimating the amount of savings, students should allow for moving expenses, repayment of existing consumer debts, etc. so the savings amount will not be overstated.</p>
	</div>
	  <li data-toggle="collapse" href="#parents-income"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="parents-income">Impact of Parents' Income</a></li>
    <div class="collapse" id="parents-income">
	  <p>Due to the high cost of a health professions education, UCSF generally requires parental financial information for students who apply for Full Funding. The parents' financial situation does not affect the dollar amount of financial aid but does effect the type of aid offered.</p>
	</div>
	</ul>
  </div>

  <hr class="section-divider">

  <a id="gainful-employment-disclosure"><h3>Gainful Employment Disclosures</h3></a>
  <ul class="fa-ul dropdown">
    <li data-toggle="collapse" href="#dental-post-grad"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="dental-post-grad">Dental Post Graduate Programs</a></li>
    <div class="collapse" id="dental-post-grad">
      <p>UCSF offers dental post graduate certificates in the following programs:</p>
      <table class="table">
        <tbody>
          <tr>
            <td>Endodontics</td>
            <td>Standard Occupational Classification (SOC)</td>
            <td>51.0506</td>
          </tr>
          <tr>
            <td>Orthodontics</td>
            <td>Standard Occupational Classification (SOC)</td>
            <td>51.0508</td>
          </tr>
          <tr>
            <td>Pediatrics</td>
            <td>Standard Occupational Classification (SOC)</td>
            <td>51.0509</td>
          </tr>
          <tr>
            <td>Periodontology</td>
            <td>Standard Occupational Classification (SOC)</td>
            <td>51.0510</td>
          </tr>
          <tr>
            <td>Prosthdontics</td>
            <td>Standard Occupational Classification (SOC)</td>
            <td>51.0511</td>
          </tr>
        </tbody>
      </table>
      <p>Wage information for a DDS holding a specialized certificate can be found on the <a href="http://www.onetonline.org" target="_blank">Department of Labor’s O-Net</a>. Use the SOC code above to check occupation profile data.</p>
      <p>Average tuition and fees charged for completing the program within the normal time of three years is $55,368 for all three years ($18,456 annually).</p>
      <p>Average book and supply costs needed for completing the program within the normal time frame of three years is $15,000 ($5,000 annually).</p>
      <p>Review Dental Post Graduate Budgets on the <a href="/application-process/student-budget"target="_blank">Student Budget</a> page.</p>
      <p>Dental post graduate certificate placement rates: To be determined by National Center for Education Statistics (NCES).</p>
      <p>Average UCSF loan debt for all dental post graduate certificates combined is $57,244.</p>
      <p>Note: Fewer than 10 students complete certificate programs in the listed categories in an award year. For privacy reasons and as instructed by the Department of Education, UCSF does not publically disclose on-line completion rates or student loan debt amounts of any kind.</p>
      <p>Fees are subject to change at any time without notice.</p>
    </div>

    <li data-toggle="collapse" href="#nursing-post-masters"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="nursing-post-masters">Nursing Post Masters Program</a></li>
    <div class="collapse" id="nursing-post-masters">
      <p>UCSF offers post master’s certificates in Nursing. Standard Occupational Classification (SOC) 51.3808</p>
      <p>Wage information for a nurse holding a specialized certificate can be found on the <a href="http://www.onetonline.org" target="_blank">Department of Labor’s O-Net</a>. Use the code above to check occupation profile data.</p>
      <p>Average tuition and fees charged for completing the program within the normal time of one academic year is $20,157 (for nine months).</p>
      <p>Average book and supply costs needed for completing the program within the normal time frame of one year is $840.</p>
      <p>Review Nursing Post-Master's Budgets on the <a href="/application-process/student-budget"target="_blank">Student Budget</a> page.</p>
      <p>Nursing specialty certificate placement rates: To be determined by National Center for Education Statistics (NCES).</p>
      <p>Average UCSF loan debt for all nursing post-Master’s certificates combined is $13,879.</p>
      <p>Note: Fewer than 10 students complete nursing post master’s certificate programs in an award year. For privacy reasons and as instructed by the Department of Education, UCSF does not publically disclose on-line completion rates or student loan debt amounts of any kind.</p>
      <p>Fees are subject to change at any time without notice.</p>
    </div>

    <li data-toggle="collapse" href="#advanced-training-in-clinical-research"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="advanced-training-in-clinical-research">Advanced Training in Clinical Research</a></li>
    <div class="collapse" id="advanced-training-in-clinical-research">
      <p>UCSF offers Advanced Trainiing in Clinicial Research certificate.  Standard Occupational Classification (SOC) 51.1099</p>
      <p>Wage information for a researcher holding a specialized certificate can be found on the <a href="http://www.onetonline.org" target="_blank">Department of Labor’s O-Net</a>. Use the code above to check occupation profile data.</p>
      <p>Average tuition and fees charged for completing the program within the normal time of one academic year is $17,560 (for 12 months).</p>
      <p>Average book and supply costs needed for completing the program within the normal time frame of one year is $0.</p>
      <p>Review Advanced Training in Clinical Research Budget on the <a href="/application-process/student-budget"target="_blank">Student Budget</a> page.</p>
      <p>Average UCSF loan debt for all Advanced Training in Clinical Research certificates combined is $26,466.</p>
      <p>Note: Fewer than 10 students complete Advanced Training in Clinical Research certificate program in an award year. For privacy reasons and as instructed by the Department of Education, UCSF does not publically disclose on-line completion rates or student loan debt amounts of any kind.</p>
      <p>Fees are subject to change at any time without notice.</p>
    </div>
  </ul>

  <strong>Updated Gainful Employment Disclosures for Fiscal Year 2017/18</strong>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/ATCR_gainful_employment_disclosure.pdf" target="_blank">Advanced Training in Clinical Research</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/endo_gainfrul_employment_disclosure.pdf" target="_blank">Endodontics/Endodontology</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/nur_post_masters_gainful_employment_disclosure.pdf" target="_blank">Nursing Post Masters</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/ortho_gainful_employment_disclosure.pdf" target="_blank">Orthodontics/Orthodontology</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/peds_gainful_employment_disclosure.pdf" target="_blank">Pediatric Dentistry/Pedodontics</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/perio_gainful_employment_disclosure.pdf" target="_blank">Periodontics/Periodontology</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="/sites/finaid.ucsf.edu/files/wysiwyg/disclosures/prosthdontics_gainful_employment_disclosure.pdf" target="_blank">Prosthodontics/Prostodontology</a></li>
  </ul>

  <hr class="section-divider">

  <a id="rights-responsibilities"><h3>Students' Rights and Responsibilities</h3></a>
      <strong>You have the right</strong>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle"></i>To know what financial aid programs are available at your school</li>
        <li><i class="fa-li fa fa-circle"></i>To know the deadline for submitting applications for each available program</li>
        <li><i class="fa-li fa fa-circle"></i>To know how financial aid will be distributed, how decisions are made, and the basis for these decisions</li>
        <li><i class="fa-li fa fa-circle"></i>To know how your financial need was determined. This includes how costs for tuition and fees, books and supplies, room and board, travel, personal and miscellaneous expenses, etc., are considered in your budget</li>
        <li><i class="fa-li fa fa-circle"></i>To know how much of your financial need had been met as determined by the financial aid advisor at the school or college</li>
        <li><i class="fa-li fa fa-circle"></i>To know what resources (such as parental contribution, other financial aid, your assets, etc.) were considered in the calculation of your need</li>
        <li><i class="fa-li fa fa-circle"></i>To know what portion of the financial aid you received must be repaid, and what portion is grant aid. If the aid is a loan, you have the right to know what the interest rate is, the total amount that must be repaid, the repayment procedures, the length of time you have to repay the loan, and when repayment is to begin. Under the Federal Direct (Stafford) Loan program, if you cannot meet the repayment schedule, you may request that the loan payments be reduced for a specific period of time if it will assist you in avoiding default</li>
        <li><i class="fa-li fa fa-circle"></i>To know how the school determines whether you are making satisfactory progress, and what happens if you are not</li>
        <li><i class="fa-li fa fa-circle"></i>To request an explanation of the various programs in your student aid package</li>
      </ul>
      <strong>You have the responsibility</strong>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle"></i>To complete all application forms accurately and submit them on time to the right place</li>
        <li><i class="fa-li fa fa-circle"></i>To provide correct information. In most instances, misreporting information on financial aid applications is a violation of law and may be considered a criminal offense</li>
        <li><i class="fa-li fa fa-circle"></i>To return all documentation, verification, corrections, and/or new information requested by either the Student Financial Aid Office or the agency to which you submitted your application</li>
        <li><i class="fa-li fa fa-circle"></i>To read and understand all forms that you are asked to sign and to keep copies of them</li>
        <li><i class="fa-li fa fa-circle"></i>To accept responsibility for all the arrangements that you sign</li>
        <li><i class="fa-li fa fa-circle"></i>To perform the work that is agreed upon in accepting a Federal Work-Study award before you receive payment</li>
        <li><i class="fa-li fa fa-circle"></i>To be aware of your school's refund procedures</li>
        <li><i class="fa-li fa fa-circle"></i>All schools must provide information to prospective students about the school's programs and performance. You should consider this information carefully before deciding to attend a school</li>
        <li><i class="fa-li fa fa-circle"></i>As a recipient of a Federal Stafford Student Loan, you must notify the lender if any of the following occur before the loan is repaid:</li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-square"></i>change of address</li>
          <li><i class="fa-li fa fa-square"></i>graduation</li>
          <li><i class="fa-li fa fa-square"></i>withdrawal from school or less than half-time attendance</li>
          <li><i class="fa-li fa fa-square"></i>name change</li>
          <li><i class="fa-li fa fa-square"></i>transfer to other schools</li>
        </ul>
      </ul>

<hr class="section-divider">

<a id="withdrawing-from-school"><h3>Withdrawing From School</h3></a>
  <h4>Checklist</h4>
  <strong>Taking a Break from your Health Professions' Education</strong>
  <p>Students sometimes interrupt their education to accommodate educational goals or special circumstances. It’s important for you to know how to manage the break and to carefully consider the ramifications of how such a break in your education affects your student loans, graduation and other milestones.</p>
  <strong>Planning to Take a Leave of Absence</strong>
  <p>Typically, a Leave of Absence (LOA) is a period of non-enrollment when you are not required to pay tuition or fees. An LOA must be approved by the curriculum or student dean at your school and the timing must be carefully considered so you exit and enter your educational program appropriately. There are many acceptable reasons for considering a LOA, including:</p>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>Research</li>
    <li><i class="fa-li fa fa-circle"></i>Additional graduate degree</li>
    <li><i class="fa-li fa fa-circle"></i>International opportunity</li>
    <li><i class="fa-li fa fa-circle"></i>Extramural elective opportunity</li>
    <li><i class="fa-li fa fa-circle"></i>Family leave or medical leave</li>
    <li><i class="fa-li fa fa-circle"></i>Additional time to study for boards</li>
    <li><i class="fa-li fa fa-circle"></i>Customized curriculum</li>
    <li><i class="fa-li fa fa-circle"></i>Other personal reasons</li>
  </ul>
  <strong>Preparing to Leave and Return to Campus</strong>
  <p>There are several simple things to do to ensure that your departure and re-entry are as smooth as possible. Be sure your Student Affairs or Curriculum Office staff knows how to reach you. Continue to read all UCSF e-mails that are sent by the Registrar, Financial Aid Office or from your school. File time-sensitive documents on (or before) their posted deadlines. Be aware that UCSF has a formal re-admittance procedure that you must complete when you return to school.</p>
  <p>Of primary financial importance, be sure you have investigated the impact that your LOA will have on student loans. Most educational loans have a six-month grace period that begins as soon as you cease to be enrolled. If your LOA exceeds this six-month period, or you have loans that no longer grant this benefit (for example, undergraduate loans that were already in repayment or consolidated loans that no longer have a grace period), your loans enter repayment immediately.</p>
  <p>Talk to your <a href="/about-us/contact">Financial Aid Advisor</a> before you take a LOA so you know what to expect and plan accordingly.</p>
  <p>Taking an LOA reduces your eligibility for aid during the academic year in which is LOA is taken. You must be enrolled to receive aid. Scholarships and grants may be adjusted as well as loans.</p>
  <strong>Checklist: Before You Leave</strong>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>Discuss plans with your dean or curriculum advisor</li>
    <li><i class="fa-li fa fa-circle"></i>Check your loan status to determine whether loans will enter repayment during LOA</li>
    <li><i class="fa-li fa fa-circle"></i>If you are entering a graduate fellowship program you might be eligible to defer your loans. Contact your lender/Direct Loan for more information</li>
    <li><i class="fa-li fa fa-circle"></i>Consider your health insurance needs. Check with the Student Health Office about your coverage</li>
    <li><i class="fa-li fa fa-circle"></i>Notify the Registrar and obtain the necessary “withdrawal” form</li>
    <li><i class="fa-li fa fa-circle"></i>Attend a mandatory Exit Interview</li>
    <li><i class="fa-li fa fa-circle"></i>Be sure that the Registrar, Financial Aid, Student Health and Student Affairs know where you can be contacted during your LOA</li>
    <li><i class="fa-li fa fa-circle"></i>Find out when you need to apply for financial aid so it’s available when you return</li>
    <li><i class="fa-li fa fa-circle"></i>Consult with your program and review the readmission procedure, available <a href="https://registrar.ucsf.edu" target="_blank">online</a></li>
  </ul>
  <strong>Checklist: During Your LOA and Prior to Your Return</strong>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>Check loan status and stay current with payments of deferment/forbearance forms</li>
    <li><i class="fa-li fa fa-circle"></i>Notify UCSF if your plans change</li>
    <li><i class="fa-li fa fa-circle"></i>Confirm registration and course registration deadlines</li>
    <li><i class="fa-li fa fa-circle"></i>File a re-admittance form with the Registrar</li>
    <li><i class="fa-li fa fa-circle"></i>Continue to check and read e-mail messages from UCSF!</li>
    <li><i class="fa-li fa fa-circle"></i>Keep your address updated on the Registrar’s on-line student portal</li>
    <li><i class="fa-li fa fa-circle"></i>Remember to complete a new <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Finaid/COLS Application</a> and FAFSA if your LOA is during winter, spring and/or summer (typically, applications are due in February for each new academic award year cycle)</li>
  </ul>
  <p>Please Note: Taking an LOA reduces your eligiblity for aid during the academic year in which an LOA is taken. You must be enrolled to receive aid. Scholarships and grants may be adjusted as well as loans.</p>

  <h4>All Programs</h4>
  <strong>Leaves of Absence/Part time Status</strong>
  <p>
    Some students take a Leave of Absence or reduce their unit load to part time during their normal curriculum with the consent of their program and advisor. After making your academic arrangements with your Program, it is helpful to talk to a financial aid advisor about how your student loans and financial aid will be affected. You must inform the Student Financial Aid Office as soon as you make a change in your enrollment or full time status.
  </p>
  <strong>Considerations</strong>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>Enrollment Plans</li>
      <p>
        Will you be enrolling part time or taking a leave of absence from enrollment?  See below for help with your decision-making.
      </p>
      <ul class="fa-ul">
        <li>
          <i class="fa-li fa fa-square"></i>Part Time Status: Part time status is less than 12 units.  If you will be taking six-11 units, you are not eligible for campus-based loans, but may still receive the Federal Direct (Stafford) and Graduate PLUS loans. In part time status, your student loans remain in "student status" or "in school deferment".
        </li>
        <li>
          <i class="fa-li fa fa-square"></i><strong>Part Time Status:</strong> Part time status is less than 12 units.  If you will be taking six-11 units, you are not eligible for campus-based loans, but may still receive the Federal Direct (Stafford) and Graduate PLUS loans. In part time status, your student loans remain in "student status" or "in school deferment".
        </li>
        <li>
          <i class="fa-li fa fa-square"></i><strong>Non-Enrollment:</strong> If you decide to take time off, and will not be enrolled at UCSF, see below for details on how your loans and financial aid will be affected.
        </li>
      </ul>
    <li><i class="fa-li fa fa-circle"></i>Your Student Loans</li>
      <p>
        If you decide to take time off and not enroll, consider if your time off exceeds six months. The grace period on your Direct (Stafford) and University loans may expire after six months and these loans will go into repayment. If you have any Perkins or Health Profession Student loans, the grace period may be longer.  For example, the Perkins loan has a nine-month grace period before you go into repayment.  You may also want to consider any Undergraduate loans which you may have already used your grace period on and any Graduate PLUS loans which do not have a grace period and immediately go into repayment when you are not enrolled.
      </p>
      <p><strong>Options to Defer Loan Repayment:</strong></p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-square"></i>If you decide it is not possible to make payments while you are not enrolled at UCSF, you have a few options. You can request your loans be placed in deferment or forbearance for your time away from school (after any grace period expires).</li>
        <li><i class="fa-li fa fa-square"></i>During forbearance, interest will accrue on your loans. You must file the deferment or forbearance form with the lender(s) who made your Direct (Stafford) or Graduate PLUS Loans, with the University’s loan servicer, Heartland ECSI (if you have Campus-based loans), and with your Undergraduate lender(s) before repayment begins. Once you return to school, the government will once again pay the interest associated with any subsidized loans, if you have been in forbearance or repayment.</li>
      </ul>
    <li><i class="fa-li fa fa-circle"></i>Financial Aid When You Return</li>
      <p>
        Remember to reapply for financial aid for the academic year in which you plan to return.  Please make sure you complete your <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Finaid/COLS Application</a> and FAFSA by the application deadline in order to receive full consideration for all funding when you return.
      </p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-square"></i><strong>Financial Aid - Standard:</strong> You are eligible to receive full financial assistance (assuming you are otherwise eligible) for the normative time allowed for your program.</li>
        <li><i class="fa-li fa fa-square"></i><strong>Financial Aid – With Extra Time in Your Program:</strong> If you elect to extend your program beyond the typical length of enrollment for your program, you may fund the additional time with a Federal Direct (Stafford) or Graduate PLUS Loans (or outside loans). To receive financial aid, you must be enrolled, attending at least half-time, and paying fees.  If you don’t enroll, you must find funding sources outside of financial aid.  (The years of financial aid are counted by the quarters you are enrolled.)</li>
      </ul>
    <li><i class="fa-li fa fa-circle"></i>How to Proceed With Your Leave of Absence</li>
      <p>Complete the “Notice of Withdrawal” for the OAR (Registrar’s Office). The following requirements need to be completed if you have received financial aid and will not be officially enrolled at UCSF during your leave.</p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-square"></i><strong>Student Financial Aid Office (SFAO) Requirements:</strong></li>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle-o"></i>​If you have received a Federal Direct (Stafford) or Graduate PLUS loan while enrolled at UCSF, SFAO will request that you complete an Exit Loan Counseling Session. All students must complete loan exit counseling at <a href="http://studentloans.gov" target="_blank">http://studentloans.gov</a> before SFAO can sign your Withdrawal form. This online session usually takes about 15-20 minutes.</li>
            <li><i class="fa-li fa fa-circle-o"></i>​Students who borrowed a Perkins Loan, Health Professions Loan, Loan for Disadvantaged Students, Nursing Student Loan, or a University Loan while in attendance must complete exit counseling for these loans using <a href="https://www.fc.campusoncall.com/cgi-bin/home.pl?campus=ucsf" target="_blank">Financial Counselor</a>. This on-line session will review the various grace periods and repayment requirements as well as quarterly payment amounts that will need to be made. Be prepared to provide 3 references for this on-line exit counseling.</li>
          </ul>
        <li><i class="fa-li fa fa-square"></i><strong>Student Accounting Office Requirements:</strong> If you have received any campus-based financial aid (including University, Perkins and HPSL Loans) while enrolled at UCSF, the Student Accounting Office will require that you email to arrange an exit session with their office. Students should contact <a href="mailto:Lawrence.Calhoun@ucsf.edu">Lawrence Calhoun</a> 415-502-4591 to make these arrangements.</li>
        <li><i class="fa-li fa fa-square"></i><strong>While you are not Enrolled at UCSF:</strong> Remember to stay informed on when your student loans go into repayment and consider the deferment or forbearance options listed above. Make sure to follow up on any deferment or forbearance you request.Remember to stay informed on when your student loans go into repayment and consider the deferment or forbearance options listed above. Make sure to follow up on any deferment or forbearance you request.</li>
      </ul>
    </ul>
    <li><i class="fa-li fa fa-circle"></i>Re-applying for Financial Aid</li>
      <p>
        Make sure to re-apply for Financial Aid for the following academic year by early March if you will be re-enrolling during any of the following year’s summer, fall, winter or spring quarters. Check our website for details on deadlines and how to re-apply. If you are unsure about whether you should apply, contact the SFAO.
      </p>
  </ul>
  <h4>Withdrawal and Return To Title IV Funds (R2T4) Policy</h4>
    <p>
      Federal Student Aid funds are awarded under the premise that students will attend classes for the entire period for which the aid is awarded. If you withdraw from school or take a leave of absence before 60% of the quarter has been completed, you may no longer be eligible to receive the full amount of financial aid originally disbursed to you for the quarter. The Registrar’s Office may also need to refund a portion of your tuition. If you never attended any class before your withdrawal, all financial aid received for that quarter should be returned. Thus, you should consult with your assigned financial aid advisor if you plan to withdraw from school.
    </p>
    <p>
      Title IV funds include Federal Unsubsidized Direct Loan, Perkins Loan, and Graduate PLUS.  Under the Return To Title IV Funds (R2T4) policy, the Student Financial Aid Office is required to calculate the amount of “unearned” Title IV aid you had received at the beginning of the quarter that must be returned to the federal aid programs, based on your official last day of attendance as confirmed by your school.
    </p>
    <p>
      Your percentage of “earned” Title IV aid is determined by the number of calendar days you have attended before withdrawing (first day of classes to your official last day of attendance as determined by your school), divided by the total number of calendar days in the term (first day of classes through the last day of finals). Any scheduled school breaks of five or more consecutive days are excluded from the calculation.   Your percent of “unearned” Title IV aid is 100 percent minus the percent earned.  Any Title IV aid received in excess of the earned amount must be returned.  Once you have completed more than 60% of the term, you are considered to have earned 100% of federal financial aid received for the term and therefore not required to return any funds.
    </p>
    <p>
      In accordance with R2T4 policy, unearned Title IV funds must be returned to the federal programs in the following order:
    </p>
    <ol>
      <li>Federal Direct Unsubsidized Loan</li>
      <li>Federal Perkins Loan (no longer available after 2016-17 academic year)</li>
      <li>Federal Direct Graduate PLUS</li>
    </ol>
    <p>
      In some cases, the University may also owe a refund of the fees you paid, in which case the refund will reduce your student loans.  The <a href="http://registrar.ucsf.edu/registration/refunds" target="_blank">Office of the Registrar</a> is responsible for refund of your tuition.
    </p>
    <p>
      If you owe money based on the R2T4 calculation, the  "unearned" financial aid must be returned to the respective federal programs no later than 45 days from the date your withdrew from UCSF.  If you do not repay the full amount, you will be billed, and a hold will be placed on your UCSF record so you will not be allowed to register for subsequent quarters or receive your academic transcript until the balance is paid.
    </p>
    <p>
      If you did not receive all the of funds that you have accepted and earned, but was not yet disbursed at the time of your withdrawal from UCSF, you should contact your financial aid advisor and authorize a post-withdrawal disbursement.
    </p>

  <h4>Registrar and Refund</h4>
  <p>
    See Registrar's Office information on <a href="http://registrar.ucsf.edu/registration/withdrawal" target="_blank">withdrawals</a> and <a href="http://registrar.ucsf.edu/registration/refunds" target="_blank">refunds</a>
  </p>
<hr class="section-divider">
