<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/20160121_1_0260.jpg">
      <div class="caption">
        <h4>Healthcare Administration & Interprofessional Leadership</h4>
        <p>This innovative graduate program provides opportunities for you to learn from expert faculty, collaborate with interprofessional peers, contribute to your healthcare organization’s mission, and develop a network of colleagues committed to making healthcare accessible, affordable, and sustainable.</p>
        <p><a href="/programs/healthcare-administration-interprofessional-leadership-ms-hail-program" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/USCF_05172017_Kearns_241.jpg">
      <div class="caption">
        <h4>Master's in Health Policy and Law</h4>
        <p>Designed for working professionals with either part-time or full-time options, the trans-disciplinary program features expert faculty who develop your understanding of the core areas, including policy-making, legal research and writing, health economics, program evaluations and more.</p>
        <p><a href="/programs/masters-health-policy-and-law" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/UCSF_20160203_UCOP_010.jpg">
      <div class="caption">
        <h4>Master's of Translational Medicine</h4>
        <p>The MTM program is a cross-campus collaboration between the Department of Bioengineering at UC Berkeley and the Department of Bioengineering and Therapeutic Sciences at UCSF. Students are enrolled in both universities, and draw on the range of expertise and technological resources available at the two institutions.</p>
        <p><a href="/programs/masters-translational-medicine" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/UCSF_20160908_Grad%20Division%20Celebration_150.jpg">
      <div class="caption">
        <h4>Post Baccalaureate Programs</h4>
        <p>Post-baccalaureate students in the Schools of Dentistry, Medicine and Pharmacy complete coursework through UC Berkeley Extension and participate in seminars at UCSF to enrich their knowledge of the health professions and prepare them for the professional school application process.</p>
        <p><a href="/programs/post-baccalaureate-programs" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/UCSF_20160916_SOD_WH_028.jpg">
      <div class="caption">
        <h4>International Dentist Program</h4>
        <p>The UCSF International Dentist Program (IDP) is a two-year (8-quarter) program administered by the UCSF School of Dentistry. The program may extend beyond two years depending on the student's ability to meet all graduation requirements.</p>
        <p><a href="/programs/international-dentist-program" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/sites/finaid.ucsf.edu/files/SON.by%2BElisabeth%2BFall-2271312993-O.jpg">
      <div class="caption">
        <h4>School of Nursing</h4>
        <p>The UCSF School of Nursing offers programs for candidates at different career phases ranging from Masters Entry Program in Nursing (MEPN) to Post Masters and Doctoral programs.</p>
        <p><a href="/programs/nursing" class="btn btn-success" role="button" style="color: #FFFFFF;">More Details</a></p>
      </div>
    </div>
  </div>
</div>




<!--

<h2>Select Your Program Below</h2>
<ul class="fa-ul">
  <li><a href="programs/physical-therapy"><i class="fa fa-arrow-right" aria-hidden="true"></i> Department of Physical Therapy</a></li>
  <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Graduate Academic</a></li>
    <ul class="fa-ul">
      <li><a href="programs/healthcare-administration-interprofessional-leadership-ms-hail-program"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Healthcare Administration & Interprofessional Leadership</a></li>
      <li><a href="programs/masters-health-policy-and-law"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Master's in Health Policy and Law</a></li>
      <li><a href="programs/masters-translational-medicine"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Master's of Translational Medicine</a></li>
    </ul>
  <li><a href="programs/post-baccalaureate-programs"><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Baccalaureate Programs</a></li>
  <li><i class="fa fa-arrow-right" aria-hidden="true"></i> School of Dentistry</a></li>
    <ul class="fa-ul">
      <li><a href="programs/international-dentist-program"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> International Dentist Program</a></li>
    </ul>
  <li><a href="programs/medicine"><i class="fa fa-arrow-right" aria-hidden="true"></i> School of Medicine</a></li>
  <li><a href="programs/nursing"><i class="fa fa-arrow-right" aria-hidden="true"></i> School of Nursing</a></li>
  <li><a href="programs/pharmacy"><i class="fa fa-arrow-right" aria-hidden="true"></i> School of Pharmacy</a></li>
</ul> -->
