<!-- SPECIAL CIRCUMSTANCES -->
<h4>Quick Links:</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i><a href="#ab540" aria-expanded="false" aria-controls="ab540">AB 540 Students</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#international" aria-expanded="false" aria-controls="international">International Students</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#nonresidents" aria-expanded="false" aria-controls="nonresidents">Nonresidents of California</a></li>
  </ul>

<hr class="section-divider">

<div class="collapse in" id="ab540">
<h4>AB 540 Students</h4>
  <p>Undocumented graduate and professional degree students at UC who qualify under AB 540 for exemptions from paying non-resident tuition are ineligible to receive any federal financial aid funds. However, AB 540 students may be considered, on the same basis as other similarly-situated graduate and professional degree students, for financial aid funds from state sources (there are no state financial aid programs available to this student population at present) and the following UC sources:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Privately-donated scholarships and fellowships administered by UC that are not restricted to U.S. citizens or permanent residents (effective 1-1-2012)</li>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>University of California institutional financial aid derived from other UC sources (effective 1-1-2013)</li>
    </ul>
  <p>Irrespective of AB 540 status, graduate and professional degree students at the University of California who are authorized to work in the United States may be employed by the Regents of the University of California.  While UC is not encouraging undocumented individuals to seek work permits if they are not already in possession of such, students with authorization to work may be hired at UC for as long as the authorization is in effect.  Possession of work authorization does not have any bearing on eligibility for other types of financial aid at UC.  The eligibility rules above apply to such financial aid.</p>
</div>

<hr class="section-divider">

<div class="collapse in" id="international">
<h4>International Students</h4>
  <p>International students are not eligible for federal financial aid. They must rely on their own resources and cannot expect to receive financial aid funding. Non-US citizens and non-permanent residents are only eligible for private educational loans.</p>
  <p>Private educational loans may be available if the student has a credit-worthy co-borrower who is a citizen or permanent resident of U.S. Please note that the qualifying criteria for private loans are becoming stricter due to the current economy. Thus, eligibility for a private loan in one year does not guarantee continual renewal in the subsequent year, as the qualifying criteria is subject to change by the lender.</p>
    <h5><strong>Application Steps for International Students</strong></h5>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete on-line questionnaire at <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Financial Aid Portal</a></li>

      <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Choose a <a href="http://beta.elmselect.com/link/query?schoolid=166&amounttoborrow=1&graduationdate=01/01/2000" target="_blank">private loan lender</a> and apply online or by phone</a></li>
    </ul>
      <p>Note: your choice of private loan lender is not limited to those institutions on our list. You may choose any lender you like that offers private educational loans. The borrower benefits listed online on the day the lender pre-approves your loan will apply to you.</p>
     <p>If you are interested or enrolled in International Dentist Program, please review more specific <a href="/programs/international-dentist-program" target="_blank">financial aid instructions for this program</a>.</p>
</div>

<hr class="section-divider">

<div class="collapse in" id="nonresidents">
<h4>Nonresidents of California</h4>
  <p>In general, most non-resident students will pay non-resident supplemental tuition during their first year at UCSF. After fulfilling requirements to obtain California residency (which usually takes approximately 1 year), students are generally considered residents (and pay resident tuition and fees) during their remaining years at UCSF.</p>
  <p>To learn more about the requirements needed to become a California resident, please visit the <a href="http://registrar.ucsf.edu/registration/residency" target="_blank">UCSF Registrar's website.</a></p>
</div>
