<!-- SPENDING-PLAN -->
  <h4>What's a Spending Plan?</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>After paying your monthly bills (i.e. rent, food, utilities, credit cards), are you still coming up short?</li>
    <li><i class="fa-li fa fa-circle"></i>Are you worried that you are "overspending"?</li>
    <li><i class="fa-li fa fa-circle"></i>Is your credit card payment(s) more than you can pay off monthly?</li>
  </ul>
  <p>If you answer yes to any of these questions it is time to evaluate your spending patterns.</p>
  <p>As a student or resident, your income is low and the cost of living in San Francisco is high. If you are like most people you are not really sure where all your money goes. After you pay for the basics such as rent, food, and utilities, your remaining income disappears. For some, additional student loans are borrowed or credit cards are used to supplement their income during a month of high expenditures. The concept of saving any money for the future seems unrealistic. The following steps will guide you through a simple way to re-evaluate your monthly spending patterns. The outcome will identify areas that you may be overspending and then make recommendations on how to gain control of your finances.</p>
  <h4>Get Started - Figure Out Where Your Money Goes</h4>
  <p>The only way to find out is be a researcher: you and your money are the subjects of your study - conduct some research for a month.</p>
    <ol>
      <li>Keep a spending log and save your receipts. Categorize what you spent into broad categories. Expenses should include everything: magazines, snacks from a vending machine, lottery tickets, lunches, parking, donations for gifts, etc. When you put your hand into your pocket or use a card in your wallet or pay a bill online, write it down.</li>
      <li>Categorize spending under "fixed" or "variable" expense. Fixed expenses such as rent will be the same total amount each month. Variable expenses such as food will change from month to month.</li>
      <li>Use the <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/annual_budget_1718.xlsx">annual budgeting tool</a> designed for UCSF students living on the financial aid budget or a general <a href="http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml" target="_blank">household budget calculator</a>. If you come up with a negative balance, you will need to consider your priorities and make some difficult financial decisions.</li>
    </ol>

  <h4>Track Your Income and Expenses</h4>
    <p>Once you figure out where your money goes and create a spending plan, make sure to continue tracking your spending to ensure it is aligned with your spending plan.</p>
    <strong>Useful Free Budgeting Websites and Apps</strong>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="https://www.mint.com" target="_blank">Mint</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="https://www.personalcapital.com" target="_blank">Personal Capital</a></li>
    </ul>


  <h4>Reduce Your Spending</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i>Consider some "one less" and "substitution" strategies; Love Jamba Juice? Can't give it up? Do it less often. Or try making something yourself as a substitution. Would you be able to save $100 a month by cooking at home rather than eating out?</li>
    <li><i class="fa-li fa fa-circle"></i>Take a long hard look at everything you purchased.  Did you need it or just want it? Is it worth keeping a car? Am I spending money the way I want to? Can I make any changes? With these questions in mind, go back over any variable expenses. Consider where you can cut back, and by how much.</li>
  </ul>
