<!-- STAFF -->
    <div class="row">
      <div class="col-md-4">
        <strong><a href="mailto:jerry.lopez@ucsf.edu">Jerry Lopez</a></strong>
        <p>Director</p>
      </div>
    </div>

    <h4>Advising</h4>
    <div class="row">
      <div class="col-md-4">
        <strong><a href="mailto:lily.ling@ucsf.edu">Lily Ling</a></strong>
        <p style="margin-bottom: 5px;">Compliance Coordinator / Senior Financial Aid Advisor</p>
        <p><em>Nursing - Physical Therapy - Graduate Academic - Online DNP</em></p>
      </div>

      <div class="col-md-4">
        <strong><a href="mailto:daniel.roddick@ucsf.edu">Daniel Roddick</a></strong>
        <p style="margin-bottom: 5px;">Resource Advisor / Financial Aid Advisor</p>
        <p><em>Medicine - MSTP - ATCR - Joint Medical</em></p>
      </div>

      <div class="col-md-4">
        <strong><a href="mailto:carol.garcia@ucsf.edu">Carol Garcia</a></strong>
        <p style="margin-bottom: 5px;">Financial Aid Advisor</p>
        <p><em>Dentistry - Post Baccalaureate - Online MS-HAIL - Online Health Policy and Law</em></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <strong><a href="mailto:elliot.yau@ucsf.edu">Elliot Yau</a></strong>
        <p style="margin-bottom: 5px;">Financial Aid Advisor / Work-Study Coordinator</p>
        <p><em>Pharmacy - Global Health - Biomedical Imaging - Translational Medicine</em></p>
      </div>

      <div class="col-md-4">
        <strong><a href="mailto:kristee.ono@ucsf.edu">Kristee Ono</a></strong>
        <p>Advising Assistant</p>
      </div>
    </div>


    <h4>Operations</h4>
    <div class="row">
      <div class="col-md-4">
        <strong><a href="mailto:derek.tong@ucsf.edu">Derek Tong</a></strong>
        <p>Systems Operation Data Specialist</p>
      </div>

      <div class="col-md-4">
        <strong><a href="mailto:christine.coleman@ucsf.edu">Christine Coleman</a></strong>
        <p>Systems Operations Officer and VA Coordinator</p>
      </div>
    </div>
