<!-- STUDENT BUDGET -->
<h2 class="page-section-header">Cost of Attendance 2017-18</h2>
  <a href="/sites/finaid.ucsf.edu/files/wysiwyg/forms/annual_budget_1718.xlsx">
	  <div class="bubble-note-2" style="float: right; margin-right: 25px;">
	  	<p><strong>Estimate Your Cost to Attend UCSF</strong></p>
	  </div>
  </a>
  <p>The tuition and student services fees are currently approved amounts. These figures may not be final. Actual tuition, fees, and charges are subject to change by the Regents of the University of California and could be affected by increases or reductions in State funding, or other developments. Accordingly, final approved amounts (and thus your final balance due) may differ from the amounts shown below.</p>

  <p>Note: the figures do not include non-resident supplemental tuition which is $12,245 for Medicine, Dentistry, Pharmacy, Physical Therapy, and Nursing Masters and $15,102 for all other programs.</p>
  <br>

  <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" id="headingOne" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">Dental Programs </a></h4>
      </div>

		  <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
		    <div class="panel-body table-responsive">
		      <table class="table">
			      <thead>
				      <tr>
								<th>School and Year</th>
								<th>Student Services Fees &amp; Tuition</th>
								<th>Kit Costs</th>
								<th>Loan Fee</th>
								<th>Books &amp; Supplies</th>
								<th>Commute</th>
								<th>Cost of Living</th>
								<th>School-Year Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Dentistry 1 (9 months)</td>
								<td>$48,043</td>
								<td>$13,308</td>
								<td>$420</td>
								<td>$1,322</td>
								<td>$0</td>
								<td>$26,100</td>
								<td>$89,193</td>
							</tr>
							<tr>
								<td>Dentistry 2 (9 months)</td>
								<td>$48,043</td>
								<td>$9,216</td>
								<td>$420</td>
								<td>$1,146</td>
								<td>$0</td>
								<td>$26,100</td>
								<td>$84,925</td>
							</tr>
							<tr>
								<td>Dentistry 3 (12 months)</td>
								<td>$53,093</td>
								<td>$7,965</td>
								<td>$420</td>
								<td>$563</td>
								<td>$1,054</td>
								<td>$34,800</td>
								<td>$97,895</td>
							</tr>
							<tr>
								<td>Dentistry 4 (12 months)</td>
								<td>$53,093</td>
								<td>$8,892</td>
								<td>$420</td>
								<td>$885</td>
								<td>$2,109</td>
								<td>$34,800</td>
								<td>$100,199</td>
							</tr>
							<tr>
								<td>Dental Hygiene-Masters (12 months)</td>
								<td>$39,718</td>
								<td>$0</td>
								<td>$216</td>
								<td>$500</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$75,234</td>
							</tr>
							<tr>
								<td>International Dentist 3 (12 months)</td>
								<td>$81,000</td>
								<td>$20,328</td>
								<td>$420</td>
								<td>$820</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$137,368</td>
							</tr>
							<tr>
								<td>International Dentist 4 (12 months)</td>
								<td>$81,000</td>
								<td>$7,412</td>
								<td>$420</td>
								<td>$332</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$123,964</td>
							</tr>
						</tbody>
					</table>
		    </div>
		  </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingTwo" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">Dental Postgraduate Programs </a></h4>
      </div>

      <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
        <div class="panel-body table-responsive">
					<table class="table">
			      <thead>
				      <tr>
								<th>School and Year</th>
								<th>Student Services Fees &amp; Tuition</th>
								<th>Kit Costs</th>
								<th>Loan Fee</th>
								<th>Books &amp; Supplies</th>
								<th>Commute</th>
								<th>Cost of Living</th>
								<th>School-Year Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Endodontics 1 (12 months)</td>
								<td>$24,418</td>
								<td>$0</td>
								<td>$216</td>
								<td>$0</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$59,434</td>
							</tr>
							<tr>
								<td>Endodontics 2 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$0</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$57,980</td>
							</tr>
							<tr>
								<td>Endodontics 3 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$0</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$57,980</td>
							</tr>
							<tr>
								<td>Orthodontics 1 (12 months)</td>
								<td>$24,418</td>
								<td>$5,000</td>
								<td>$216</td>
								<td>$7,460</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$71,894</td>
							</tr>
							<tr>
								<td>Orthodontics 2 (12 months)</td>
								<td>$22,964</td>
								<td>$5,000</td>
								<td>$216</td>
								<td>$5,335</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$68,315</td>
							</tr>
							<tr>
								<td>Orthodontics 3 (12 months)</td>
								<td>$22,964</td>
								<td>$5,000</td>
								<td>$216</td>
								<td>$4,335</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$67,315</td>
							</tr>
							<tr>
								<td>Pediatrics 1 (12 months)</td>
								<td>$24,418</td>
								<td>$0</td>
								<td>$216</td>
								<td>$9,000</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$68,434</td>
							</tr>
							<tr>
								<td>Pediatrics 2 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$9,000</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$66,980</td>
							</tr>
							<tr>
								<td>Pediatrics 3 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$9,000</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$66,980</td>
							</tr>
							<tr>
								<td>Periodontology 1 (12 months)</td>
								<td>$24,418</td>
								<td>$0</td>
								<td>$216</td>
								<td>$17,200</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$76,634</td>
							</tr>
							<tr>
								<td>Periodontology 2 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$14,500</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$72,480</td>
							</tr>
							<tr>
								<td>Periodontology 3 (12 months)</td>
								<td>$22,964</td>
								<td>$0</td>
								<td>$216</td>
								<td>$6,750</td>
								<td>$0</td>
								<td>$34,800</td>
								<td>$64,730</td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingThree" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button">Graduate Academic Programs </a></h4>
      </div>
      <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
        <div class="panel-body table-responsive">
  				<table class="table">
  					<thead>
  						<tr>
  							<th>School and Year</th>
  							<th>Student Services Fees &amp; Tuition</th>
  							<th>Kit Costs</th>
  							<th>Loan Fee</th>
  							<th>Books &amp; Supplies</th>
  							<th>Commute</th>
  							<th>Cost of Living</th>
  							<th>School-Year Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Graduate Academic (9 months)</td>
  							<td>$17,871</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$390</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$44,577</td>
  						</tr>
  						<tr>
  							<td>Advanced Training Clinical Research - Masters (10.5 months)</td>
  							<td>$27,000</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$0</td>
  							<td>$0</td>
  							<td>$30,450</td>
  							<td>$57,666</td>
  						</tr>
  						<tr>
  							<td>Biomedical Imaging - Masters</td>
  							<td>$36,225</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$0</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$62,541</td>
  						</tr>
  						<tr>
  							<td>Global Health Sciences (9 months)</td>
  							<td>$33,522</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$0</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$59,838</td>
  						</tr>
  						<tr>
  							<td>Healthcare Admin - Masters</td>
  							<td>$49,890</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$600</td>
  							<td>$0</td>
  							<td>$34,800</td>
  							<td>$85,506</td>
  						</tr>
  						<tr>
  							<td>Health Policy Law - Masters</td>
  							<td>$42,642</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$0</td>
  							<td>$0</td>
  							<td>$29,000</td>
  							<td>$71,858</td>
  						</tr>
  						<tr>
  							<td>Translational Medicine - Masters</td>
  							<td>$51,327</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$700</td>
  							<td>$0</td>
  							<td>$29,000</td>
  							<td>$81,243</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingFour" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role="button">Medical Programs </a></h4>
      </div>

      <div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
        <div class="panel-body table-responsive">
  				<table class="table">
  					<thead>
  						<tr>
  							<th>School and Year</th>
  							<th>Student Services Fees &amp; Tuition</th>
  							<th>Kit Costs</th>
  							<th>Loan Fee</th>
  							<th>Books &amp; Supplies</th>
  							<th>Commute</th>
  							<th>Cost of Living</th>
  							<th>School-Year Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Medicine 1 (10 months)</td>
  							<td>$39,707</td>
  							<td>$0</td>
  							<td>$372</td>
  							<td>$1,746</td>
  							<td>$333</td>
  							<td>$29,000</td>
  							<td>$71,158</td>
  						</tr>
  						<tr>
  							<td>Medicine 2 (10 months)</td>
  							<td>$39,671</td>
  							<td>$0</td>
  							<td>$372</td>
  							<td>$1,647</td>
  							<td>$1,260</td>
  							<td>$29,000</td>
  							<td>$71,950</td>
  						</tr>
  						<tr>
  							<td>Medicine 3 (12 months)</td>
  							<td>$44,721</td>
  							<td>$0</td>
  							<td>$372</td>
  							<td>$436</td>
  							<td>$2,224</td>
  							<td>$34,800</td>
  							<td>$82,553</td>
  						</tr>
  						<tr>
  							<td>Medicine 4 (11 months)</td>
  							<td>$44,721</td>
  							<td>$0</td>
  							<td>$372</td>
  							<td>$624</td>
  							<td>$1,896</td>
  							<td>$31,900</td>
  							<td>$79,513</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingFive" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive" role="button">Nursing Programs </a></h4>
      </div>

      <div aria-labelledby="headingFive" class="panel-collapse collapse" id="collapseFive" role="tabpanel">
        <div class="panel-body table-responsive">
  				<table class="table">
  					<thead>
  						<tr>
  							<th>School and Year</th>
  							<th>Student Services Fees &amp; Tuition</th>
  							<th>Kit Costs</th>
  							<th>Loan Fee</th>
  							<th>Books &amp; Supplies</th>
  							<th>Commute</th>
  							<th>Cost of Living</th>
  							<th>School-Year Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Nursing MEPN (12 months)</td>
  							<td>$60,636</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$2,086</td>
  							<td>$1,044</td>
  							<td>$34,800</td>
  							<td>$98,782</td>
  						</tr>
  						<tr>
  							<td>Nursing Masters (9 months)</td>
  							<td>$28,911</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$790</td>
  							<td>$1,044</td>
  							<td>$26,100</td>
  							<td>$57,061</td>
  						</tr>
  						<tr>
  							<td>Nursing Doctoral (9 months)</td>
  							<td>$17,892</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$790</td>
  							<td>$1,044</td>
  							<td>$26,100</td>
  							<td>$46,042</td>
  						</tr>
  						<tr>
  							<td>Nurse Midwifery 1 (9 months)</td>
  							<td>$28,911</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$3,028</td>
  							<td>$1,044</td>
  							<td>$26,100</td>
  							<td>$59,299</td>
  						</tr>
  						<tr>
  							<td>Nurse Midwifery 2 (12 months)</td>
  							<td>$33,963</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$2,027</td>
  							<td>$1,044</td>
  							<td>$34,800</td>
  							<td>$72,050</td>
  						</tr>
  						<tr>
  							<td>Nurse Midwifery 3 (3 months)</td>
  							<td>$5,052</td>
  							<td>$0</td>
  							<td>$147</td>
  							<td>$0</td>
  							<td>$0</td>
  							<td>$8,700</td>
  							<td>$13,899</td>
  						</tr>
  						<tr>
  							<td>Nursing Post Master's (12 months)</td>
  							<td>$35,512</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$790</td>
  							<td>$1,044</td>
  							<td>$34,800</td>
  							<td>$72,362</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingSix" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseSix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix" role="button">Pharmacy Programs </a></h4>
      </div>

      <div aria-labelledby="headingSix" class="panel-collapse collapse" id="collapseSix" role="tabpanel">
        <div class="panel-body table-responsive">
  				<table class="table">
  					<thead>
  						<tr>
  							<th>School and Year</th>
  							<th>Student Services Fees &amp; Tuition</th>
  							<th>Kit Costs</th>
  							<th>Loan Fee</th>
  							<th>Books &amp; Supplies</th>
  							<th>Commute</th>
  							<th>Cost of Living</th>
  							<th>School-Year Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Pharmacy 1 (9 months)</td>
  							<td>$39,336</td>
  							<td>$0</td>
  							<td>$300</td>
  							<td>$699</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$66,435</td>
  						</tr>
  						<tr>
  							<td>Pharmacy 2 (9 months)</td>
  							<td>$39,336</td>
  							<td>$0</td>
  							<td>$300</td>
  							<td>$352</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$66,088</td>
  						</tr>
  						<tr>
  							<td>Pharmacy 3 (9 months)</td>
  							<td>$39,336</td>
  							<td>$0</td>
  							<td>$300</td>
  							<td>$268</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$66,004</td>
  						</tr>
  						<tr>
  							<td>Pharmacy 4 (9 months)</td>
  							<td>$39,287</td>
  							<td>$0</td>
  							<td>$300</td>
  							<td>$267</td>
  							<td>$0</td>
  							<td>$26,100</td>
  							<td>$65,954</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingSeven" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseSeven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven" role="button">Physical Therapy Programs </a></h4>
      </div>

      <div aria-labelledby="headingSeven" class="panel-collapse collapse" id="collapseSeven" role="tabpanel">
        <div class="panel-body table-responsive">
          <table class="table">
  					<thead>
  						<tr>
  							<th>School and Year</th>
  							<th>Student Services Fees &amp; Tuition</th>
  							<th>Kit Costs</th>
  							<th>Loan Fee</th>
  							<th>Books &amp; Supplies</th>
  							<th>Commute</th>
  							<th>Cost of Living</th>
  							<th>School-Year Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Physical Therapy 1 (11 months)</td>
  							<td>$37,356</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$1,800</td>
  							<td>$1,208</td>
  							<td>$31,900</td>
  							<td>$72,480</td>
  						</tr>
  						<tr>
  							<td>Physical Therapy 2 (12 months)</td>
  							<td>$34,374</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$900</td>
  							<td>$1,208</td>
  							<td>$34,800</td>
  							<td>$71,498</td>
  						</tr>
  						<tr>
  							<td>Physical Therapy 3 (12 months)</td>
  							<td>$34,374</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$0</td>
  							<td>$1,208</td>
  							<td>$34,800</td>
  							<td>$70,598</td>
  						</tr>
  						<tr>
  							<td>Physical Therapy Doctor of Science (9 months)</td>
  							<td>$17,427</td>
  							<td>$0</td>
  							<td>$216</td>
  							<td>$800</td>
  							<td>$0</td>
  							<td>$22,680</td>
  							<td>$41,123</td>
  						</tr>
  					</tbody>
  				</table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingEight" role="tab">
        <h4 class="panel-title"><a aria-controls="collapseEight" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseEight" role="button">Post Baccalaureate Programs </a></h4>
      </div>

      <div aria-labelledby="headingEight" class="panel-collapse collapse" id="collapseEight" role="tabpanel">
        <div class="panel-body table-responsive">
          <table class="table">
  					<thead>
  						<tr>
  							<th>Program</th>
  							<th>Tuition & Fees</th>
                <th>Student Health Insurance</th>
                <th>Cost of Living</th>
                <th>Books &amp; Supplies</th>
                <th>Loan Fees</th>
  							<th>Total</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Medicine PostBac (10 months)</td>
  							<td>$15,164</td>
  							<td>$3,352</td>
  							<td>$29,000</td>
  							<td>$1,146</td>
  							<td>$216</td>
  							<td>$48,878</td>
  						</tr>
  						<tr>
  							<td>Dental PostBac (10 months)</td>
  							<td>$15,122</td>
  							<td>$4,596</td>
  							<td>$29,000</td>
  							<td>$1,146</td>
  							<td>$216</td>
  							<td>$50,080</td>
  						</tr>
  						<tr>
  							<td>Pharmacy PostBac (10 months)</td>
  							<td>$15,020</td>
  							<td>$4,089</td>
  							<td>$29,000</td>
  							<td>$1,146</td>
  							<td>$216</td>
  							<td>$49,471</td>
  						</tr>
  					</tbody>
  				</table>
        </div>
      </div>
    </div>
  </div>

<h2 class="page-section-header">Exceptions to the Standard Student Budget</h2>
  <p>Below are examples of some allowable add-ons to the student budget. This is not an exclusive list. Students are encouraged to discuss their specific situations with Student Financial Aid staff before submitting a request. Budget exceptions are considered on a case-by-case basis and subject to approval. Expenses must be under the student's name and incurred during the current school year.</p>
  <a href="https://ucsf.co1.qualtrics.com/jfe/form/SV_1G3cB0iAIsK6qNL" target="_blank" style="color: #FFFFFF">
    <div class="bubble-note-2" style="float: right; margin-right: 25px;">
      <p><strong>Complete an Expense Request Form</strong></p>
    </div>
	</a>
  <ul class="fa-ul dropdown">
  	<li data-toggle="collapse" href="#additionalhousingallowance"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="additionalhousingallowance" aria-expanded="false" type="link">Additional Housing Allowance</a></li>
      <div class="collapse" id="additionalhousingallowance">
        <p>Students who pay more for rent and utilities than the standard off-campus housing allowance, may request a budget increase, but must present a compelling reason as to why less costly housing is not an option. Students should speak with an advisor before submitting a request. Please note that if approved, a budget increase for housing costs may be temporary. The amount of an approved additional housing allowance will all be determined on a case-by-case basis.</p>
      </div>

    <li data-toggle="collapse" href="#childcare"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="childcare" aria-expanded="false" type="link">Child Care</a></li>
      <div class="collapse" id="childcare">
        <p>Students may request financial aid to cover reasonable child care costs (up to $1,200/month per child, maximum $2,400/month) for children age 12 and younger during periods when the student is enrolled. The agency or childcare provider must complete a Child Care Verification Form.  Students must document their childcare costs.</p>
      </div>

    <li data-toggle="collapse" href="#medicalanddentalexpenses"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="medicalanddentalexpenses" aria-expanded="false" type="link">Medical and Dental Expenses</a></li>
      <div class="collapse" id="medicalanddentalexpenses">
        <p>Student Health and Counseling Services (SHCS) provides primary health care, basic hospital, and major medical expense coverage through premiums included with registration fees. Expenses not covered by SHCS, including some psychotherapy, can sometimes be added to a student's financial aid budget and funded with additional Federal Direct (Stafford) and/or Grad PLUS Loan funds. Costs must be reasonable and for medically necessary treatment.  Financial aid cannot cover cosmetic work, elective procedures deemed not medically necessary or treatment that can reasonably be postponed until after graduation (for example, elective orthodontic work). To request additional funds for medical and dental expenses, an Expense Request Form must be submitted along with a letter from the health care provider, which indicates an estimate or actual cost of care and states that costs are not covered by insurance.</p>
      </div>

    <li data-toggle="collapse" href="#computerpurchases"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="computerpurchases" aria-expanded="false" type="link">Computer Purchases</a></li>
      <div class="collapse" id="computerpurchases">
        <p>Students may receive loan funds to a maximum of $2,500 during all of their UCSF enrollment.  Printers and software are included in this maximum. An Expense Request Form and appropriate documentation must be submitted to request funding for computer purchases.</p>
      </div>

    <li data-toggle="collapse" href="#licensureexpenses"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="licensureexpenses" aria-expanded="false" type="link">Licensure Expenses</a></li>
      <div class="collapse" id="licensureexpenses">
        <p>Dental, pharmacy, or physical therapy students can apply for additional loan money to cover no more than one licensure exam cost for their first professional license or certification.  That includes WREB for dental students, NAPLEX for pharmacy students, and  NPTE for physical therapy students. An Expense Request Form and paid receipt must be submitted.</p>
      </div>

    <li data-toggle="collapse" href="#residencyexpenses"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="residencyexpenses" aria-expanded="false" type="link">Residency Expenses</a></li>
      <div class="collapse" id="residencyexpenses">
        <p>Medical students in their final year may receive loan funds for some of the costs associated with residency interviews in a single disbursement. Allowable costs include application fees, transportation, and lodging. The loan will be certified after interviews are over. Only one loan request will be processed unless there are mitigating circumstances that make one application unfeasible. An Expense Request Form and paid receipts must be submitted to request funding for residency expenses.</p>
      </div>

    <li data-toggle="collapse" href="#commuteexpenses"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="commuteexpenses" aria-expanded="false" type="link">Commute Expenses</a></li>
      <div class="collapse" id="commuteexpenses">
        <p>Educational commute related expenses can be added to a student's budget. Not all programs qualify. Contact the Student Financial Aid Office for additional information. Submit an Expense Request Form and appropriate documentation to request for automobile expenses.</p>
      </div>
  </ul>

<h2 class="page-section-header">Monthly Cost of Living Allowance</h2>
  <p>Student Financial Aid establishes a modest, yet adequate cost of living allowance to determine financial aid eligibility each school year. This allowance includes housing and utilities, food, transportation, personal and miscellaneous, and medical expenses. The off-campus allowance assumes shared housing costs.</p>
  <p>As required by federal law, budgets used to determine financial aid eligibility can only include the student's costs; spouse and/or children's expenses cannot be included.</p>
  <table class="table">
  	<thead>
  		<tr>
  			<th>&nbsp;</th>
  			<th>Off Campus</th>
  			<th>Parent/Guardian</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Food</td>
  			<td>$578</td>
  			<td>$578</td>
  		</tr>
  		<tr>
  			<td>Housing (plus utilities)<sup>*</sup></td>
  			<td>$1,814</td>
  			<td>$0</td>
  		</tr>
  		<tr>
  			<td>Transportation</td>
  			<td>$145</td>
  			<td>$145</td>
  		</tr>
  		<tr>
  			<td>Personal/Miscellaneous</td>
  			<td>$363</td>
  			<td>$363</td>
  		</tr>
  		<tr>
  			<td><b>Total</b></td>
  			<td><b>$2,900</b></td>
  			<td><b>$1,086</b></td>
  		</tr>
  	</tbody>
  </table>
  <p><sup>*</sup>Utilities portion is $135</p>

<h4>Housing Circumstances</h4>
<!-- <h2 class="page-section-header">Housing Circumstances</h2> -->
  <ul class="fa-ul dropdown">
  	<li data-toggle="collapse" href="#spouseandchildren"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="spouseandchildren" aria-expanded="false" type="link">Living with a Spouse and Children</a></li>
  	  <div class="collapse" id="spouseandchildren">
        <p>Living costs of family members must be covered by student and spouse earnings and/or assets. Financial aid, however, can help cover reasonable child care costs for children age 12 and younger for periods when the student is enrolled and the spouse is employed or in school.</p>
      </div>
  	<li data-toggle="collapse" href="#singleparent"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="singleparent" aria-expanded="false" type="link">Living as a Single Parent</a></li>
      <div class="collapse" id="singleparent">
        <p>Single parents are expected to support their children through earnings, savings, child support, etc. If sufficient funds are not available from these sources, an exception will be considered to include dependent costs in the student's budget. Single parents must provide information and documentation to the Student Financial Aid Office. Single parents are expected to use all legal means to obtain fair and reasonable child support. They may wish to seek assistance from public assistance programs.</p>
      </div>
  	<li data-toggle="collapse" href="#parentorrelative"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="parentorrelative" aria-expanded="false" type="link">Living with a Parent or Relative</a></li>
      <div class="collapse" id="parentorrelative">
        <p>Students living with a parent or other relative will have a lower cost of living than indicated in the standard student budgets. The monthly cost of living is $1,086 (excluding fees, tuition, books and supplies) for students living with a parent or other relative.</p>
      </div>
  	<li data-toggle="collapse" href="#universityhousing"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a aria-controls="universityhousing" aria-expanded="false" type="link">Living in University-Owned Housing</a></li>
      <div class="collapse" id="universityhousing">
        <p>Most students living in University-owned apartments will have a lower monthly cost of living than indicated in the standard student budgets. The monthly cost of living will depend on the monthly rent, which varies for these apartments. Students whose rent for university owned housing exceeds $1,387 will have the standard $2,638 off-campus monthly cost of living allowance.</p>
      </div>
  </ul>
