<!-- Master of Translational Medicine -->

<h4>Apply for Aid</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete <a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a>.</p> List the OPID code (school code) for both UCSF and Berkeley on the FAFSA form.
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>UCSF OPID: 001319</li>
        <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>UC Berkeley OPID: 001312</li>
      </ul>
      <p>Note: Students who wish to be considered for need-based scholarships must also complete the parental data section of the FAFSA form (the federal instructions will indicate parental data is not needed for federal loans.  However, in order to assess relative financial need for institutional scholarships, parental data will be analyzed.  Scholarship decisions will be made centrally for students on both campuses.  If you do not submit parental information, you will not be considered for this type of award.</p>
  </ul>

  <ul class="fa-ul">
    <li><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><strong><a class="accordion-toggle" data-toggle="collapse" href="#ucsf-students" aria-expanded="false" aria-control="ucsf-students">UCSF Students</a></strong></li>
      <div class="collapse in" id="ucsf-students">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete Finaid/COLS Application at <a href="https://netpartner.ucsf.edu/NetPartnerStudent" target="_blank">UCSF Financial Aid Portal</a>. A username and password will be sent to you via e-mail.</li>
          <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>E-sign Federal Direct Loan Master Promissory Note at <a href="http://studentloans.gov/" target="_blank">Federal Student Aid</a>. If you are interested in funding up to the total cost of attendance, including living expenses, you may also apply for the Graduate PLUS loans.</li>
          <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Complete <a href="/types-of-aid/loans" target="_blank">Entrance Loan Counseling</a>.</li>
        </ul>
      </div>

    <li data-toggle="collapse" href="#berkeley-students"><i class="fa-li fa fa-caret-right" aria-hidden="true"></i><strong><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="berkeley-students">UC Berkeley Students</a></strong></li>
      <div class="collapse" id="berkeley-students">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Follow the instructions on the <a href="http://financialaid.berkeley.edu/" target="_blank">UC Berkeley Financial Aid website</a>.</li>
        </ul>
      </div>
  </ul>
