<!-- Transportation -->
<h4><i class="fa fa-car" aria-hidden="true"></i> UCSF-Lyft Student Program</h4>

<p>UC San Francisco Transportation Services partnered with Lyft to pilot a program to provide UC San Francisco students with a Guaranteed Ride Home program. The program is designed to provide students with a commute option to reach a transit hub, other UCSF campus, or reach their home—after our shuttle network has ended for the day. The UCSF-Lyft program is designed for “after-hours” service and requires a unique Lyft code.</p>

<strong>How it Works</strong>
<p>
   Students must create a Lyft account and add their @UCSF email as either the primary or “business” email account and use the Lyft app to request a ride from Parnassus Heights or Mission Bay. If you already have a Lyft account, please add your @UCSF email to your existing account. Once registered, Lyft will send you a unique “UCSF Promo Code” and you’ll add to your account. UC San Francisco will pay the 1st $15.00 of the ride and if the ride exceeds $15.00, students pay the remainder from their personal credit card on file with the Lyft app. Lyft will send you a new unique code on a monthly basis to use for the following month. Students will have 20 rides per month to use.
</p>
<strong>Questions?</strong>
<p>
  Please send any questions related to the UCSF-Lyft program to <a href="mailto:SupportMyCommute@ucsf.edu">SupportMyCommute@ucsf.edu</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>UCSF-Lyft Student Program</th>
      <th>Code Valid</th>
      <th>Hours</th>
      <th>Pick-up Location</th>
      <th>Drof-off Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Each UCSF student is issued a unique program code each month via email from Lyft good for up to 20 rides each month</td>
      <td>Daily</td>
      <td>11:00PM to 4:00AM</td>
      <td>Parnassus Heights or Mission Bay</td>
      <td>UCSF pays 1st $15 of ride, if ride exceeds $15, student pays balance from personal credit card on file</td>
    </tr>
  </tbody>
</table>
