
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-6">
    <h4><a href="/types-of-aid/grants"><i class="fa fa-flag"></i> Grants</a></h4>
    <p class="lead">Grants are financial aid that you do not need to pay back. Grants are awarded from federal, state, and university funds according to your financial need.</p>
  </div>
  <div class="col-md-6">
    <h4><a href="/types-of-aid/scholarships"><i class="fa fa-money"></i> Scholarships</a></h4>
    <p class="lead">UCSF offers a variety of scholarships that can help you fund your education. In addition, you can search for outside scholarships to help with your educational expenses.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h4><a href="/types-of-aid/loans"><i class="fa fa-university"></i> Loans</a></h4>
    <p class="lead">Loans can be a critical part of your education financing plan. They are a great resource when used conservatively and wisely. We encourage you to carefully consider whether or not you really need to borrow, and if you do, to borrow as little as necessary.</p>
  </div>
  <div class="col-md-6">
    <h4><a href="/types-of-aid/work-study"><i class="fa fa-briefcase"></i> Work-Study</a></h4>
    <p class="lead">The Federal Work Study Program (FWS) provides jobs for students with financial need, allowing them to earn money to help pay education expenses.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h4><a href="/types-of-aid/veterans-benefits"><i class="fa fa-star"></i> Veterans Benefits</a></h4>
    <p class="lead">VA Education Benefits are offered to veterans, military service members and in some cases their family members. The US Department of Veterans Affairs (VA) determines all eligibility and the certifying official on campus will assist in coordinating the students' benefits.</p>
  </div>
  <div class="col-md-6">
    <h4><a href="/types-of-aid/housing-food-and-transportation"><i class="fa fa-home"></i> Housing, Food and Transportation</a></h4>
    <p class="lead">UCSF has established Cost of Living Supplement Program, Food Security for Students Program and Lyft Partnership to help students with rising bay area housing prices, food access and transportation services.</p>
  </div>
</div>

<hr class="featurette-divider">
