<!-- UNDERSTANDING CREDIT -->

  <h4>Credit Reports</h4>
    <p>Credit reports are like your transcripts on which creditors report your payment behaviors. There are three major agencies that track all of your credit history.</p>
    <ol>
      <li><a href="http://www.equifax.com/home/" target="_blank">Equifax</a></li>
      <li><a href="http://www.experian.com/" target="_blank">Experian</a></li>
      <li><a href="http://www.transunion.com/" target="_blank">TransUnion</a></li>
    </ol>
    <p>You are allowed to request a free credit report once a year. The only official website where you can do so is <a href="https://www.annualcreditreport.com/index.action" target="_blank">Annual Credit Report</a>.</p>

  <h4>Credit Scores</h4>
    <p>If your credit report is like a transcript, credit scores are like the GPA. If your report is good, your score will be too. Any new credit you are seeking uses your score to decide your credit-worthiness. Creditors use your credit score to determine the interest rate they are willing to extend to you.</p>
  	<p><a href="https://www.federalreserve.gov/pubs/creditscore/creditscoretips_2.pdf" target="_blank">Federal Reserve</a> provides great tips on improving your credit score.</p>
