<p><strong>2017-18&nbsp;Priority Deadline Dates</strong></p>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
	<thead>
		<tr>
			<td>Student Status</td>
			<td class="webedit-aligncenter">Deadline</td>
			<td>Necessary Application Materials</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Entering Students in Self-Supporting Programs</strong></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                        <td>MEPN</td>
                        <td>April 10, 2017</td>
                        <td></td>
                </tr>
                <tr>
                        <td>IDP</td>
                        <td>April 17, 2017</td>
                        <td></td>
                </tr>
                <tr>
                        <td>Global Health Sciences, Graduate Academic, MS Advanced Studies, MS Biomedical Imaging (MSBI), MS Dental Hygiene, MS Training in Clinical Research (ATCR), MS Translational Medicine, Nursing Doctoral, Nursing Post-Master's, Online MS Health Policy and Law, Post-Baccalaureate (Dentistry, Medicine, and Pharmacy), Postgraduate Dentistry</td>
                        <td>June 12, 2017</td>
                        <td>
                            <ol>
                                <li>2017-18<u><a href="http://www.fafsa.ed.gov" target="_blank">FAFSA</a></u></li>
				<li><u><a href="http://netpartner.ucsf.edu" target="_blank">UCSF Financial Aid Questionnaire</a></u></li>
                            </ol>
                        </td>
                </tr>
                <tr>
                        <td>MS-HAIL</td>
                        <td>Based on Quarter Admitted</td>
                        <td></td>
		<tr>
			<td><strong>Entering Students in Other Programs</strong></td>
                        <td></td>
                        <td></td>
                </tr>
		<tr>
			<td>Physical Therapy</td>
                        <td>March 20, 2017</td>
                        <td>
                            <ol>
                                <li>2017-18<u><a href="http://www.fafsa.ed.gov" target="_blank">FAFSA</a></u></li>
				<li><u><a href="http://netpartner.ucsf.edu" target="_blank">UCSF Financial Aid Questionnaire</a></u></li>
                                <li>CSS <u><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a></u></li>
                            </ol>
                        </td>
                </tr>
		<tr>
			<td>Dentistry, Medicine, Nursing Master's, Nurse Midwifery, and Pharmacy</td>
                        <td>As soon as admitted, but no later than June 12, 2017</td>
                        <td>
                          <p>Note: CSS Profile is <em>not</em> required for:<br>
					-Students who apply for Basic Funding only<br>
					-Students who apply for Full Funding and are age 30 or over by 12/31/2017, except medical students. All medical students must submit the CSS Profile if applying for Full Funding regardless of age.</p>
                        </td>
                </tr>


		<tr>
			<td><strong>Continuing Students</strong></td>
                        <td></td>
                        <td></td>
                </tr>
		<tr>
			<td>First-Time Financial Aid Applicants</td>
                        <td>March 2, 2017</td>
                        <td>
                            <ol>
                                <li>2017-18<u><a href="http://www.fafsa.ed.gov" target="_blank">FAFSA</a></u></li>
				<li><u><a href="http://netpartner.ucsf.edu" target="_blank">UCSF Financial Aid Questionnaire</a></u></li>
                                <li>CSS <u><a href="http://student.collegeboard.org/profile" target="_blank">Profile</a></u></li>
                            </ol>
                        </td>
                </tr>
		<tr>
			<td>MEPN (after 1st year)</td>
                        <td>March 2, 2017</td>
                        <td>
                          <p>Note: CSS Profile is <em>not</em> required for:<br>
					-Students who apply for Basic Funding only<br>
					-Students who apply for Full Funding and are age 30 or over by 12/31/2017, except medical students. All medical students must submit the CSS Profile if applying for Full Funding regardless of age.</p>
                        </td>
                </tr>



		<tr>
			<td><strong>Continuing Financial Aid Applicants</strong></td>
			<td>March 2, 2017</td>
                        <td>
                            <ol>
                                <li>2017-18<u><a href="http://www.fafsa.ed.gov" target="_blank">FAFSA</a></u></li>
				<li><u><a href="http://netpartner.ucsf.edu" target="_blank">UCSF Financial Aid Questionnaire</a></u></li>
                            </ol>
                        </td>
		</tr>
	</tbody>
</table>

<p><br>
	The sooner you apply, the sooner we can determine your financial aid eligibility. Early applications and submission of all financial aid materials helps to ensure your funding will arrive on time for the start of school.<br>
	Late-admit students can contact the Student Financial Aid Office for deadline extension.</p>

<p>*At UCSF, available Title IV funds are Federal Direct (Stafford) Loan, Federal Graduate PLUS, and Federal Work-Study Program.</p>