<!-- VETERANS BENEFITS -->

<h4>Veterans Affairs Federal Department</h4>
    <p>Federal Department of Veterans Affairs (VA) administers educational assistance programs for eligible veteran, service person, dependents, and spouses.</p>
    <strong>Education Programs</strong>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/mgib_ad.asp" target="_blank">Chapter 30 Montgomery GI Bill</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/vocrehab/" target="_blank">Chapter 31 Vocational Rehabilitation</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/post911_gibill.asp" target="_blank">Chapter 33 Post 9/11 GI Bill</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/post911_transfer.asp" target="_blank">Chapter 33 Post 9/11 GI Bill Transfer of Entitlement (Dependents)</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/survivor_dependent_assistance.asp" target="_blank">Chapter 35 Dependent Educational Assistance</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/mgib_sr.asp" target="_blank">Chapter 1606 Montgomery GI Bill Reservists</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/reap.asp" target="_blank">Chapter 1607 Montgomery GI Bill Reserve Educational Assistance Program</a></li>
    </ul>

    <strong>Apply for Benefits at UCSF</strong>
      <ul class="fa-ul dropdown">
        <li data-toggle="collapse" href="#firsttime"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="firsttime">First Time Benefit Receipts</a></li>
      <div class="collapse" id="firsttime">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o"></i>Step 1: Apply at <a href="http://www.benefits.va.gov/gibill/apply.asp" target="_blank">US Department of Veterans Affairs</a> (VA)</li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 2: Receive a Certificate of Eligibility from the VA</li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 3: Complete and submit UCSF form <a href="/forms/#veteransaffairsforms" target="_blank">VA Benefit Annual Questionnaire</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 4: File your study list each quarter on your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">Student Portal</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 5: Complete and submit UCSF Form <a href="/forms/#veteransaffairsforms" target="_blank">VA Education Benefit Quarterly Enrollment Survey</a></li>
      </ul>
      </div>

        <li data-toggle="collapse" href="#newadmitsprevreceived"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="newadmitsprevreceived">Newly Admitted Students Who Have Previously Received Benefits</a></li>
      <div class="collapse" id="newadmitsprevreceived">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o"></i>Step 1: Complete a Request for Change of Program or Place of Training either through <a href="http://www.vabenefits.vba.va.gov/vonapp/default.asp" target="_blank">VONAPP</a> or complete <a href="http://www.va.gov/vaforms/search_action.asp?FormNo=22-1995&tkey=&Action=Search" target="_blank">VA form 22-1995</a> and fax it to 918-781-7863</li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 2: Receive an updated Certificate of Eligibility from the VA</li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 3: Complete and submit UCSF form <a href="/forms/#veteransaffairsforms" target="_blank">VA Benefit Annual Questionnaire</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 4: File your study list each quarter on your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">Student Portal</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 5: Complete and submit UCSF Form <a href="/forms/#veteransaffairsforms" target="_blank">VA Education Benefit Quarterly Enrollment Survey</a></li>
      </ul>
      </div>

        <li data-toggle="collapse" href="#continuingstudents"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion-toggle" aria-expanded="false" aria-control="continuingstudents">Continuing students</a></li>
      <div class="collapse" id="continuingstudents">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o"></i>Step 1: Complete and submit UCSF form <a href="/forms/#veteransaffairsforms" target="_blank">VA Benefit Annual Questionnaire</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 2: File your study list each quarter on your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">Student Portal</a></li>
        <li><i class="fa-li fa fa-check-square-o"></i>Step 3: Complete and submit UCSF Form <a href="/forms/#veteransaffairsforms" target="_blank">VA Education Benefit Quarterly Enrollment Survey</a></li>
      </ul>
      </div>
      </ul>
      <p>If you have any questions, please contact Christine Coleman, UCSF Certifying Official, at (415) 476-4185 or <a href="mailto:christine.coleman@ucsf.edu">christine.coleman@ucsf.edu</a></p>

    <strong>Resources</strong>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i><a href="http://www.benefits.va.gov/gibill/index.asp" target="_blank">Department of Veterans Affairs</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal" target="_blank">eBenefits</a></li>
      <li><i class="fa-li fa fa-circle"></i><a href="http://department-of-veterans-affairs.github.io/gi-bill-comparison-tool/" target="_blank">Comparison Tool</a></li>
    </ul>

    <hr class="section-divider">

<h4>Veterans Affairs State Department</h4>
	  <strong>California College Fee Waiver Program - CAL VET</strong>
	    <p>The State of California Department of Veterans Affairs established the California College Fee Waiver Program which gives educational fee exemptions to survivors of deceased or disabled veterans.</p>
	    <p>The Cal Vet exemption covers mandatory system-wide charges assessed by academic programs that receive State support. For state-supported programs at UCSF, the specific charges covered by the Cal Vet exemption are Tuition, the Student Services Fee, and Professional Degree Supplemental Tuition.</p>
	    <p>The Cal Vet exemption does not apply to tuition and fees of UCSF's Self-Supporting Programs. If you are unsure of the type of Tuition and Fees you are charged, please contact your program or the Office of the Registrar.</p>
	    <p>To be found eligible, students must apply annually with a County Veterans Service Office. After eligibility is determined a letter of authorization will be sent to the student from the Veterans Service Office. To request use of the waiver at UCSF, please submit the <a href="/forms/#veteransaffairsforms" target="_blank">Cal Vet College Fee Waiver Request</a> form and upload or send in the authorization letter from the Veterans Service Office.</p>

	    <div class="well">
	    <p><b><a href="http://www.cdva.ca.gov/" target="_blank">California Department of Veterans Affairs</a></b></p>
	    1227 O Street Sacramento, CA 95814<br>
	    (800) 952-5626<br>
	    (800) 324-5966 (TDD)<br>
	    (800) 221-8998 (Outside California)<br>
	    <br>
        <p><b>San Francisco County Veterans Service Office</b></p>
        Shan Yue, Assistant Veterans Service Officer<br>
        27B Van Ness Avenue San Francisco, CA 94102</br>
        Phone: (415) 503-2000</br>
        Fax: (415) 503-2010</br>
        Hours: Monday - Thursday, 9 am - 12 noon and 1 pm - 4 pm</br>
	    </div>
