
	      <div class="step-mini" about typeof>
            <div class="step-line-mini"></div>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">1</div>
              </div>
            <div class="step-content-mini">
              <strong>Finding a Job</strong>
	          <ul class="fa-ul">
	            <li><i class="fa-li fa fa-circle"></i>The <a href="http://career.ucsf.edu/" target="_blank">Office of Career and Professional Development (OCPD)</a> has resources and services to assist you in the job search. Meet with a career counselor at OCPD to:
								<a href="/forms/#workstudyforms" style="color: #FFFFFF">
									<div class="bubble-note-1" style="float: right; margin-top: 0px; font-size: 15px;">
										<p><strong>See Forms for a timesheet template if you already have a work-study job</strong></p>
									</div>
								</a>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-square"></i>Discuss your plans and brainstorm options</li>
                  <li><i class="fa-li fa fa-square"></i>Develop job search strategies</li>
							    <li><i class="fa-li fa fa-square"></i>Learn how to build your professional network</li>
                  <li><i class="fa-li fa fa-square"></i>Review your resume and cover letter</li>
                  <li><i class="fa-li fa fa-square"></i>Practice interviewing</li>
                </ul>

	            </li>
	            <li><i class="fa-li fa fa-circle"></i>Many student affairs offices have information on positions available to students in their field.</li>
	            <li><i class="fa-li fa fa-circle"></i>If you're interested in becoming a reading tutor for a local elementary school, <a href="/about-us/contact"> contact us</a> at the financial aid office.</li>
	            <li><i class="fa-li fa fa-circle"></i><a href="/types-of-aid/work-study/campus-job-postings">Campus Job Postings</a></li>
	          </ul>
	        </div>
	      </div>

	      <div class="step-mini" about typeof>
            <div class="step-line-mini"></div>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">2</div>
              </div>
            <div class="step-content-mini">
              <strong>Hiring Procedure</strong>
	          <p>Once you have found a work-study position, you and your employer will need to complete the required paperwork and submit it to the Financial Aid Office for review before you being working. Any hours worked prior to our office's approval of these forms will not be covered by work-study funds - your employer will be responsible for 100 percent of your salary! <a href="/forms/#workstudyforms" target="_blank">Download employment forms now!</a> If you or your employer have questions on the work-study materials, please do not hesitate to contact our office.</p>
	          <p>Submit your hours using the Time Record according to the Payroll Schedule.</p>
	          <p>Note: If you have a non-work study position at another department at UCSF, please email <a href="mailto:elliot.yau@ucsf.edu">Elliot Yau</a> or note it on the work study employment forms.</p>
	          <strong>Detailed Instructions:</strong>
	          <ul class="fa-ul dropdown">
		          <li data-toggle="collapse" href="#student-working-on-campus"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion toggle" aria-expanded="false" aria-control="student-working-on-campus">If You Plan to Work On-Campus</a>
	              <div class="collapse" id="student-working-on-campus">
                  <ol>
									  <li>Ask for Work Study Funding - make sure you have been awarded money for work study. This award appears on your offer letter as Federal Work Study. If you do not have a work study award, complete the <a href="/forms/#workstudyforms" target="_blank">Work Study Confirmation webform.</a></li>
										<li>Complete UCSF employment papers with the UCSF department hiring you. Let the department know if you've worked at UCSF before. The department may be able to update your previous employment record. If not, new employment papers must be completed.</li>
										<li>The UCSF department must complete the Work Study paperwork with SFAO before you begin working. This includes the <a href="/forms/#workstudyforms" target="_blank">On-Campus FWS Agreement and the FWS Job Description form</a>. Employment papers must be forwarded to SFAO by the hiring department before you begin working.</li>
									</ol>
									<p>
											You and an authorized person in the UCSF department must sign and submit <a href="/forms/#workstudyforms" target="_blank">biweekly Time Records</a> to our office. You and your department will each be given a schedule that lists the <a href="/forms/#workstudyforms" target="_blank">biweekly deadlines for Time Record</a> submission. If you miss a deadline, your Time Record will not be processed until the next biweekly pay period. The Time Record must be submitted to our office by your employer. You are not allowed to mail or bring in your Time Record to our office.
									</p>
	              </div>
	            </li>

	            <li data-toggle="collapse" href="#student-working-off-campus"><i class="fa-li fa fa-caret-right"></i><a class="collapsed accordion toggle" aria-expanded="false" aria-control="student-working-off-campus">If you Plan to Work Off-Campus</a>
	              <div class="collapse" id="student-working-off-campus">
								  <ol>
								  	<li>Ask for Work Study Funding - make sure you have been awarded money for work study. This award appears on your offer letter as Federal Work Study. If you do not have a work study award, complete the <a href="/forms/#workstudyforms" target="_blank">Work Study Confirmation webform.</a></li>
								  	<li>The Off-Campus agency must complete the Work Study paperwork with SFAO before you begin working. The Off-Campus agency must complete and return these forms to SFAO for review and approval before you can begin working. The required <a href="/forms/#workstudyforms" target="_blank">forms</a> are
											<ul style="list-style: none" class="fa-ul">
											  <li style="list-style: none"><i class="fa-li fa fa-circle"></i>FWS Off Campus Agreement Form</li>
												<li style="list-style: none"><i class="fa-li fa fa-circle"></i>Job Description Form</li>
												<li style="list-style: none"><i class="fa-li fa fa-circle"></i>existing FWS contract between the agency and UCSF</li>
												<li style="list-style: none"><i class="fa-li fa fa-circle"></i>Certificate of Insurance Form</li>
											</ul>
										</li>
								  	<li>Complete UCSF employment papers with the Student Financial Aid Office. Although you are working at an off-campus site, your paycheck comes from UCSF.  (The agency is billed for its share of your salary.)  You must, therefore, complete UCSF employment forms. Stop by our office to fill out the employment forms. You must bring several items with you either your U.S. passport, naturalization papers or Permanent Residence card OR your driver's license and social security card. Contact our office for other valid documents. We must see the original documents; copies are not acceptable. See the drop-in advisor. If you want to work at an off campus agency that is not in the local area during summer or quarter breaks, remember to complete the UCSF employment paperwork before you leave campus.</li>
							  	</ol>
									<p>
											You and an authorized person in the UCSF department must sign and submit <a href="/forms/#workstudyforms" target="_blank">biweekly Time Records</a> to our office. You and your department will each be given a schedule that lists the <a href="/forms/#workstudyforms" target="_blank">biweekly deadlines for Time Record</a> submission. If you miss a deadline, your Time Record will not be processed until the next biweekly pay period. The Time Record must be submitted to our office by your employer. You are not allowed to mail or bring in your Time Record to our office.
									</p>
	              </div>
	            </li>
            </ul>

	          <p>NOTE: It is your responsibility, as well as your employer's, to keep track of your earnings. If you exceed your work-study award, your employer is responsible for paying 100 percent of your excess earnings!</p>
	        </div>
	      </div>

	      <div class="step-mini" about typeof>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">3</div>
              </div>
            <div class="step-content-mini">
              <strong>Still Have Questions?</strong>
	          <ul class="fa-ul dropdown">
	            <li data-toggle="collapse" href="#question_one"><i class="fa-li fa fa-caret-right"></i>
	            <a aria-expanded="false" aria-controls="question_one">What is work-study?</a>
	            <div class="collapse" id="question_one">
	              <p>Work-study is a federal financial aid award given to students upon request, as long as s/he shows financial aid need. Work-study pays for 75 percent and the employer pays the remaining 25 percent of the student's earnings and 100 percent of the student's benefits.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_two"><i class="fa-li fa fa-caret-right"></i>
	            <a aria-expanded="false" aria-controls="question_two">How can I request a work-study award?</a>
	            <div class="collapse" id="question_two">
	              <p>You can request a work-study award on the annual <a href="/forms/#workstudyforms">Work Study Application</a>.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_three"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_three">I'm not on financial aid, but am interested in a work-study job. What should I do?</a>
	            <div class="collapse" id="question_three">
	              <p>You must <a href="/application-process/apply-for-aid">apply for financial aid</a> before work-study eligibility can be ascertained. This can take from one-two weeks.</p>
	            </div>
	            </li>

              <li data-toggle="collapse" href="#question_four"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_four">Is there a limit to the work-study funds I can receive?</a>
	            <div class="collapse" id="question_four">
	              <p>Yes. Students are normally given up to $7,000 in work-study funds during the 12-month academic year (July through June). Additional funds may be awarded when students are close to earning their full work study award.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_five"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_five">I can earn more than $7,000 yearly maximum work-study award. Can I ask for more funds?</a>
	            <div class="collapse" id="question_five">
	              <p>Most students request work-study in the summer when they are not enrolled. Many times their summer plans change and they don't work as much as they originally anticipated. Our office knows by early November if additional funding is available from unused summer work-study funds. Contact your financial aid advisor to put in a request for additional work-study funds for the academic period.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_six"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_six">Can I be fired from my work-study position?</a>
	            <div class="collapse" id="question_six">
	              <p>Yes. This is an employment-based financial assistance award.  Your work performance will be evaluated.  A federal work study employee may be released from University employment due to loss of federal eligibility, lack of suitable work assignments, unsatisfactory performance or misconduct.  You may be released from employment at the sole discretion of the University.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_seven"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_seven">Are there any work-study forms I need to complete before starting a work-study job?</a>
	            <div class="collapse" id="question_seven">
	              <p>Yes. You must sign the <a href="/forms/#workstudyforms">On or Off-Campus Work-Study Agreement</a> form. Your signature indicates that you are aware of your hourly pay rate, work-study award amount, and the period (summer or academic) that the work-study award is valid. If you have not worked at UCSF before, you will need to complete additional UCSF hiring forms with your on-campus hiring department or Student Financial Aid Office for off-campus hires.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_eight"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_eight">I have a part-time job at Walgreens. Can I make it into a work-study job?</a>
	            <div class="collapse" id="question_eight">
	              <p>No. UCSF students are only allowed to use work-study funds at non-profit entities.</p>
	            </div>
	            </li>

	            <li data-toggle="collapse" href="#question_nine"><i class="fa-li fa fa-caret-right"></i>
	            <a type="link" aria-expanded="false" aria-controls="question_nine">I only used $3,000 of my $7,000 work-study award. Can I save the remaining $4,000 for a work-study job next year?</a>
	            <div class="collapse" id="question_nine">
	              <p>No. All financial aid awards are only available for one academic year. You must re-apply every year for financial aid and work-study. However, if you want to replace your unused work-study award with loan funds, you must <a href="/about-us/contact">contact us</a>.</p>
	            </div>
	            </li>
	          </ul>
	        </div>
	      </div>

<hr class="section-divider">

<p>* NOTE: Under federal law, the University of California may employ only those who provide specified documentation demonstrating that they are legally able to work in the United States. The combination of a picture identification and a social security card is one example of the kind of documentation required. This requirement applies to all employees, including students.</p>
