<h4>Employers</h4>
<br>
	      <div class="step-mini" about typeof>
            <div class="step-line-mini"></div>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">1</div>
              </div>
            <div class="step-content-mini">
              <strong>Meeting Requirements</strong>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-circle"></i>Must be a non-profit entity.</li>
                <li><i class="fa-li fa fa-circle"></i>The job cannot displace a regular employee, involve sectarian instruction or religious worship, partisan or non-partisan political activity, or any lobbying on the federal level.</li>
                <li><i class="fa-li fa fa-circle"></i>Federal (including NIH) based funds cannot be used to pay for the non-federal (employer's) share unless the terms of the federal fund specifically permits the funds to be used for cost sharing/matching.</li>
                <li><i class="fa-li fa fa-circle"></i>The number of hours a student can work while enrolled is generally capped at 40 hours per pay period (every 2 weeks).  This is set to ensure that work hours do not interfere with academics.  Occasional exceptions are made based on hours per week a student can work, the period of employment, the wage rate and amount of other assistance available to the student.  During school breaks and periods of non-enrollment.  Students can work 40 hours per week (full-time).  Students are never allowed to work more than 40 hours in any work week.</li>
                <li><i class="fa-li fa fa-circle"></i>The workweek starts on Sunday and ends on Saturday. A student cannot work more than eight hours/day or on <a href="http://registrar.ucsf.edu/academic-calendar" target="_blank">holidays</a>.</li>
                <li><i class="fa-li fa fa-circle"></i>Must keep track of the student's time records and earnings to prevent the student from working more than their maximum allowable gross earnings.</li>
              </ul>
            </div>
          </div>

          <div class="step-mini" about typeof>
            <div class="step-line-mini"></div>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">2</div>
              </div>
            <div class="step-content-mini">
              <strong>Hiring Procedure</strong>
              <ul class="fa-ul dropdown">
                <li data-toggle="collapse" href="#on-campus-employers"><i class="fa-li fa fa-caret-right"></i>
	            <a aria-expanded="false" aria-controls="on-campus-employers">Hiring Process for On-Campus Employers</a></li>
	            <div class="collapse" id="on-campus-employers">
	              <p>After selecting a student for your job, and before the student starts working, you must:</p>
	              <ol>
	                <li>Make sure the student has been awarded Federal Work Study during the period of time you would like to have the student work.</li>
	                <li>Complete the <a href="/forms/#workstudyforms">On-Campus Federal Work-Study Agreement</a> and <a href="/forms/#workstudyforms">Job Description</a> forms. Submit them to the Financial Aid Office Box 0246.</li>
	                <li>Have the student complete the employment paperwork. Financial Aid Office has worked with HR and has been able to obtain an HR waiver of fees for all students hired through the work study program. Do not go through the normal UCSF hiring procedures with your department's HR representative. The student should complete the employment paperwork with your department to avoid being charged for the HR service fee. The completed employment paperwork should be forwarded to the Student Financial Aid Office for payroll input. Contact <a href="mailto:elliot.yau@ucsf.edu">Elliot Yau</a> to have the employment forms sent to your department.</li>
	                <li>Financial Aid Office must review the work-study forms and set up a record for the student you are hiring prior to the employment start date. Please allow one-two weeks prior to a student's start date for processing. We will confirm the student's employment start date once the paperwork is reviewed.
	                <li>Once the student begins working, biweekly time records are due according to the <a href="/forms/#workstudyforms">Time Record Deadline Schedule</a>. Faxed or scanned copies of time records are acceptable on the deadline. Each biweekly pay period, submit the following:
	                  <ul>
	                    <li><a href="/forms/#workstudyforms">Time Record</a></li>
	                    <li><a href="/forms/#workstudyforms">Certification of Hours Worked Form</a></li>
	                  </ul>
	                </li>
	              </ol>
	            </div>


                <li data-toggle="collapse" href="#off-campus-employers"><i class="fa-li fa fa-caret-right"></i>
	            <a aria-expanded="false" aria-controls="off-campus-employers">Hiring Process for Off-Campus Employers</a></li>
	            <div class="collapse" id="off-campus-employers">
	              <strong>Set-Up as an Off-Campus Employer</strong>
	              <p>The following is a list of the primary forms needed before a UCSF student can begin working with you:</p>
	                <ol>
	                  <li>A current <a href="/forms/#workstudyforms">Work Study Contract</a> between UCSF and your organization</li>
	                  <li>Proof of your non-profit status</li>
	                  <li><a href="/forms/#workstudyforms">Certificate of Insurance</a></li>
	                </ol>
	              <p>It can take two-four weeks to obtain the appropriate signatures and forms, so please factor this into your expected "start" date for employment.</p>
	              <strong>Hiring of Students</strong>
	              <p>Once you are set up as an Off-Campus Employer, complete the following steps to hire each student employee.</p>
	                <ol>
	                  <li>Complete the <a href="/forms/#workstudyforms">Off-Campus Federal Work-Study Agreement</a> and <a href="/forms/#workstudyforms">Job Description</a> forms. This will include verifying the student's work study funding award either with the student OR the Student Financial Aid Office (SFAO). Submit originals of both forms to SFAO.</li>
	                  <li>The student must complete UCSF employment papers with the financial aid office. Although the student is working at an off campus site, his/her paycheck comes from UCSF. (The agency is billed for its share of their salary and payroll assessments.)  The student must complete UCSF employment forms before they begin working. Have the student contact SFAO about completing the employment forms.</li>
	                  <li>If the student has already worked for your agency before as a work study student, they may already have employment papers on file. In this case, have the student contact SFAO to verify their UCSF employment records are up-to-date.</li>
	                  <li>Once all the paperwork is received, SFAO will confirm the student's employment start date when the paperwork is reviewed. Please allow one-two weeks prior to a student's start date for processing.</li>
	                  <li>Once the student begins working, biweekly time records are due according to the <a href="/forms/#workstudyforms">Time Record Deadline Schedule</a>. Faxed or scanned copies of time records are acceptable on the deadline. Each biweekly pay period, submit the following:
	                    <ul>
	                      <li><a href="/forms/#workstudyforms">Time Record</a></li>
	                      <li><a href="/forms/#workstudyforms">Certification of Hours Worked Form</a></li>
	                    </ul>
	                  </li>
	                </ol>
	              <strong>Work-Study Off-Campus Employment Policy</strong>
	              <p>Work performed off-campus must be in the public interest. Work in the public interest is defined as work performed for the welfare of the nation or community, rather than work performed for a particular interest or group. Work is not “in the public interest” if:</p>
	                <ul class="fa-ul">
	                  <li><i class="fa-li fa fa-circle"></i>it primarily benefits the members of an organization that has membership limits, such as a credit union, a fraternal or religious order, or a cooperative</li>
	                  <li><i class="fa-li fa fa-circle"></i>it involves any partisan or nonpartisan political activity or is associated with a faction in an election for public or party office</li>
	                  <li><i class="fa-li fa fa-circle"></i>it is for an elected official unless the official is responsible for the regular administration of federal, state, or local government</li>
	                  <li><i class="fa-li fa fa-circle"></i>it is work as a political aide for any elected official</li>
	                  <li><i class="fa-li fa fa-circle"></i>it takes into account a student’s political support or party affiliation in hiring him or her</li>
	                  <li><i class="fa-li fa fa-circle"></i>it involves lobbying on the federal, state, or local level</li>
	                </ul>
	            </div>
              </ul>
            </div>
          </div>

	      <div class="step-mini" about typeof>
              <div class="step-label-wrapper-mini">
                <div class="step-label-mini">Step</div>
                <div class="step-number-mini">3</div>
              </div>
            <div class="step-content-mini">
              <strong>Still Have Questions?</strong>
              <p>Contact our work-study coordinator, <a href="mailto:elliot.yau@ucsf.edu">Elliot Yau</a> or call (415) 476-4181</p>
            </div>
          </div>

<br>

<p>* NOTE: Under federal law, the University of California may employ only those who provide specified documentation demonstrating that they are legally able to work in the United States. The combination of a picture identification and a social security card is one example of the kind of documentation required. This requirement applies to all employees, including students.</p>
