<!-- WORK-STUDY -->

  <div class="row">
    <div class="col-xs-8 col-md-4">
      <a href="/types-of-aid/work-study/students" class="thumbnail" style="text-align: center" align="center">
        <img src="/sites/finaid.ucsf.edu/files/UCSF_20151210_WhiteCoats_03.jpg" alt="work-study-students">
        <h4>Students</h4>
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="/types-of-aid/work-study/employers" class="thumbnail" style="text-align: center" align="center">
        <img src="/sites/finaid.ucsf.edu/files/UCSF_20150519_Clinical_003.jpg" alt="work-study-employers">
        <h4>Employers</h4>
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="/types-of-aid/work-study/campus-job-postings" class="thumbnail" style="text-align: center" align="center">
        <img src="/sites/finaid.ucsf.edu/files/UCSF_20160705_Valerie%20Reichert_004.jpg" alt="campus-job-postings">
        <h4>Campus Job Postings</h4>
      </a>
    </div>
  </div>
